@use "../mixins";

.newspack-ui {
	.newspack-ui {
		&__box {
			background: var(--newspack-ui-color-neutral-5);
			border-radius: var(--newspack-ui-border-radius-m);
			margin-bottom: var(--newspack-ui-spacer-5);
			padding: var(--newspack-ui-spacer-5);
			position: relative;

			// Backgrounds & Borders
			&--success {
				background: var(--newspack-ui-color-success-0);
			}

			&--error {
				background: var(--newspack-ui-color-error-0);
			}

			&--warning {
				background: var(--newspack-ui-color-warning-0);
			}

			&--border {
				background: transparent;
				border: 1px solid var(--newspack-ui-color-border);
			}

			// Text alignments
			&--text-center {
				text-align: center;
			}

			// Some style resets.
			h2:not([class*="font-size"]) {
				font-size: 1em;
			}

			> *:first-child {
				margin-top: 0;
			}

			> *:last-child {
				margin-bottom: 0;
			}

			&--has-dropdown {
				padding-right: var(--newspack-ui-spacer-6);
			}
			.newspack-ui__badge {
				float: right;
				margin-left: calc(var(--newspack-ui-spacer-base) / 2);
			}
		}
	}
	&__dropdown {
		&__toggle {
			bottom: var(--newspack-ui-spacer-base);
			position: absolute;
			right: var(--newspack-ui-spacer-base);
		}
		&__content {
			background: var(--newspack-ui-color-body-bg);
			border: 1px solid var(--newspack-ui-color-border);
			border-radius: var(--newspack-ui-border-radius-s);
			font-size: var(--newspack-ui-font-size-xs);
			opacity: 0;
			position: absolute;
			left: calc(100% - var(--newspack-ui-spacer-6));
			min-width: 160px;
			top: calc(100% - var(--newspack-ui-spacer-2));
			transform: scaleY(0);
			transform-origin: center top 0;
			transition: opacity 0.33s cubic-bezier(0.33, 0, 0, 1), transform 0.33s cubic-bezier(0.33, 0, 0, 1);
			z-index: 1;
			@include mixins.newspack-ui-elevation( 1 );
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					margin: 0;
					padding: 0;
					.newspack-ui__button {
						border-radius: 0;
						display: block;
						text-align: left;
						white-space: nowrap;
						width: 100%;
						&.cancel,
						&.delete,
						&.wcs_deletion_error,
						&--destructive {
							color: var(--newspack-ui-color-error-50);
						}
					}
				}
			}
		}
		&.active {
			.newspack-ui__dropdown__content {
				opacity: 1;
				transform: scaleY(1);
			}
		}
	}
}
