$grid-gaps: (
	"0": 0,
	"1": var(--newspack-ui-spacer-1),
	"2": var(--newspack-ui-spacer-2),
	"3": var(--newspack-ui-spacer-3),
	"4": var(--newspack-ui-spacer-4),
	"5": var(--newspack-ui-spacer-5),
	"6": var(--newspack-ui-spacer-6),
	"7": var(--newspack-ui-spacer-7),
	"8": var(--newspack-ui-spacer-8),
	"9": var(--newspack-ui-spacer-9),
	"10": var(--newspack-ui-spacer-10),
	"11": var(--newspack-ui-spacer-11),
	"12": var(--newspack-ui-spacer-12),
);

.newspack-ui {
	.newspack-ui {
		&__grid {
			--newspack-ui-grid-gap: var(--newspack-ui-spacer-5);

			display: flex;
			flex-direction: column;
			gap: var(--newspack-ui-grid-gap);
			padding: var(--newspack-ui-spacer-5) 0;

			> :not([class*="newspack-ui__spacing-"]) {
				margin-bottom: 0;
				margin-top: 0;
			}

			& + & {
				border-top: 1px solid var(--newspack-ui-color-neutral-20);
			}
			&--no-padding {
				padding: 0;
			}

			@each $name, $value in $grid-gaps {
				&--gap-#{$name} {
					--newspack-ui-grid-gap: #{$value};
				}
			}

			@media ( min-width: 782px ) {
				align-items: flex-start;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
				> * {
					flex: 1 1 calc(50% - var(--newspack-ui-grid-gap));
					max-width: calc(50% - var(--newspack-ui-grid-gap) / 2);
					&.newspack-ui__width--40 {
						flex: 1 1 calc(40% - var(--newspack-ui-grid-gap));
						max-width: calc(40% - var(--newspack-ui-grid-gap) / 2);
					}
				}
			}
		}
	}
	&--loading::after {
		background-color: var(--newspack-ui-color-neutral-0);
		content: "";
		display: block;
		height: 100%;
		left: 0;
		opacity: 0.5;
		position: absolute;
		top: 0;
		width: 100%;
	}
}
