:root {
	/* stylelint-disable-next-line property-no-unknown */
	interpolate-size: allow-keywords;
}

.newspack-ui {
	.newspack-ui {
		&__notice {
			align-items: center;
			background: var(--newspack-ui-color-neutral-5);
			border-left-width: 3px;
			border-left-style: solid;
			border-left-color: var(--newspack-ui-color-neutral-90);
			border-radius: var(--newspack-ui-border-radius-xs);
			color: var(--newspack-ui-color-neutral-90);
			display: flex;
			font-family: var(--newspack-ui-font-family);
			font-size: var(--newspack-ui-font-size-xs);
			justify-content: flex-start;
			line-height: var(--newspack-ui-line-height-xs);
			margin: var(--newspack-ui-spacer-6) 0;
			min-height: var(--newspack-ui-spacer-9);
			padding: var(--newspack-ui-spacer-2) !important;

			a {
				text-decoration: underline;
			}

			> svg {
				display: block;
				fill: var(--newspack-ui-color-neutral-90);
				flex: 0 0 24px;
				margin-right: var(--newspack-ui-spacer-base);
			}

			// Backgrounds & Borders
			&--success {
				background: var(--newspack-ui-color-success-0);
				border-left-color: var(--newspack-ui-color-success-50);

				> svg {
					fill: var(--newspack-ui-color-success-60);
				}
			}

			&--warning {
				background: var(--newspack-ui-color-warning-0);
				border-left-color: var(--newspack-ui-color-warning-30);

				> svg {
					fill: var(--newspack-ui-color-warning-40);
				}
			}

			&--error {
				background: var(--newspack-ui-color-error-0);
				border-left-color: var(--newspack-ui-color-error-50);

				> svg {
					fill: var(--newspack-ui-color-error-60);
				}
			}

			// Some style resets.
			> div > *:first-child {
				margin-top: 0;
				padding-top: 0;
			}

			> div > *:last-child {
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
		&__snackbar {
			max-width: 434px;
			color: var(--newspack-ui-color-body-bg);
			font-size: var(--newspack-ui-font-size-xs);
			left: 0;
			line-height: var(--newspack-ui-line-height-xs);
			overflow: hidden;
			padding: var(--newspack-ui-spacer-2);
			position: fixed;
			top: var(--newspack-ui-spacer-2);
			z-index: 99997;
			pointer-events: none;
			&--top-left,
			&--top-right {
				.admin-bar & {
					@media only screen and ( min-width: 601px ) {
						top: 46px;
					}
					@media only screen and ( min-width: 782px ) {
						top: 32px;
					}
				}
			}
			&--top-right {
				--newspack-ui-snackbar-slide-from: 100%;
				left: auto;
				right: 0;
			}
			&--bottom-left {
				left: 0;
				top: auto;
				bottom: 0;
			}
			&--bottom-right {
				--newspack-ui-snackbar-slide-from: 100%;
				left: auto;
				right: 0;
				top: auto;
				bottom: 0;
			}
			&__item {
				background-color: var(--newspack-ui-color-neutral-90);
				border-radius: var(--newspack-ui-border-radius-s);
				overflow: hidden;
				display: flex;
				opacity: 0;
				pointer-events: none;
				position: relative;
				max-height: 0;
				transform: translateX(var(--newspack-ui-snackbar-slide-from, -100%));
				transition: max-height 125ms ease-out, opacity 250ms ease-out, transform 250ms ease-out;
				&:has([class*="=__close"]) {
					grid-template-columns: auto var(--newspack-ui-spacer-9) auto;
				}
				&[data-autohide="true"] {
					.newspack-ui__snackbar__content::after {
						opacity: 0;
					}
				}
				&.active {
					max-height: 200px;
					opacity: 1;
					pointer-events: auto;
					transform: translateX(0);
					&[data-autohide="true"] {
						.newspack-ui__snackbar__content::after {
							opacity: 1;
							transition: transform 8000ms linear;
							transform: translateX(-100%);
						}
					}
				}
				&--success {
					.newspack-ui__snackbar__content::after {
						background-color: var(--newspack-ui-color-success-60);
					}
				}
				&--error {
					.newspack-ui__snackbar__content::after {
						background-color: var(--newspack-ui-color-error-60);
					}
				}
				&--warning {
					.newspack-ui__snackbar__content::after {
						background-color: var(--newspack-ui-color-warning-40);
					}
				}
				& + .newspack-ui__snackbar__item {
					margin-top: var(--newspack-ui-spacer-2);
				}
			}
			&__content {
				padding: var(--newspack-ui-spacer-2);
				a {
					text-decoration: underline;
				}
				&::after {
					background-color: var(--newspack-ui-color-neutral-90);
					bottom: 0;
					content: '';
					display: block;
					left: 0;
					height: 3px;
					position: absolute;
					transform: background-color 125ms ease-out;
					transition: none;
					width: 100%;
				}
			}
			&__close {
				background: none;
				border: none;
				cursor: pointer;
				padding: 0;
				margin: 0;
				order: 1;
				display: grid;
				place-items: center;
				width: var(--newspack-ui-spacer-9);
				height: var(--newspack-ui-spacer-9);

				&:hover {
					opacity: 0.7;
				}
			}
		}
	}
}
