.newspack-ui {
	color: var(--newspack-ui-color-neutral-90);
	font-family: var(--newspack-ui-font-family);
	font-size: var(--newspack-ui-font-size-s);
	line-height: var(--newspack-ui-line-height-s);
	-webkit-font-smoothing: antialiased;

	p {
		font-size: inherit;
		line-height: inherit;
		margin: var(--newspack-ui-spacer-2) 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--newspack-ui-font-family);
		font-weight: var(--newspack-ui-font-weight-strong);
		letter-spacing: unset;
		text-transform: unset;
	}

	strong,
	&__font--bold {
		font-weight: var(--newspack-ui-font-weight-strong);
	}

	&__font--normal {
		font-weight: normal;
	}

	.newspack-ui__font--2xs {
		font-size: var(--newspack-ui-font-size-2xs);
		line-height: var(--newspack-ui-line-height-2xs);
	}

	.newspack-ui__font--xs {
		font-size: var(--newspack-ui-font-size-xs);
		line-height: var(--newspack-ui-line-height-xs);
	}

	.newspack-ui__font--s {
		font-size: var(--newspack-ui-font-size-s);
		line-height: var(--newspack-ui-line-height-s);
	}

	.newspack-ui__font--m {
		font-size: var(--newspack-ui-font-size-m);
		line-height: var(--newspack-ui-line-height-m);
	}

	.newspack-ui__font--l {
		font-size: var(--newspack-ui-font-size-l);
		line-height: var(--newspack-ui-line-height-l);
	}

	.newspack-ui__font--xl {
		font-size: var(--newspack-ui-font-size-xl);
		line-height: var(--newspack-ui-line-height-xl);
	}

	.newspack-ui__font--2xl {
		font-size: var(--newspack-ui-font-size-2xl);
		line-height: var(--newspack-ui-line-height-2xl);
	}

	.newspack-ui__font--3xl {
		font-size: var(--newspack-ui-font-size-3xl);
		line-height: var(--newspack-ui-line-height-3xl);
	}

	.newspack-ui__font--4xl {
		font-size: var(--newspack-ui-font-size-4xl);
		line-height: var(--newspack-ui-line-height-4xl);
	}

	.newspack-ui__font--5xl {
		font-size: var(--newspack-ui-font-size-5xl);
		line-height: var(--newspack-ui-line-height-5xl);
	}

	.newspack-ui__font--6xl {
		font-size: var(--newspack-ui-font-size-6xl);
		line-height: var(--newspack-ui-line-height-6xl);
	}
}
