/**
 * Donation
 */

.newspack-donations-wizard__tier-suggested-prices {
	display: flex;
	justify-content: space-between;
	margin-bottom: -32px;

	> div {
		width: calc( 33.333% - 32px );
	}
}
.newspack-donations-wizard__suggested-price {
	margin-bottom: -32px;
	max-width: 300px;
}
