/**
 * Donation
 */

.newspack-donations-wizard__tier-suggested-prices {
	display: flex;
	justify-content: space-between;
	margin: 32px 0;

	> div {
		margin: 0;
		width: calc( 100% / 3 - 8px );
	}
}
