/**
 * Badge
 */

@use "~@wordpress/base-styles/colors" as wp-colors;

/**
 * External dependencies
 */
.newspack-badge {
	background: wp-colors.$gray-100;
	border-radius: 2px;
	color: wp-colors.$gray-900;
	display: block;
	flex: 0 0 auto;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.333;
	margin: 0 8px 0 0;
	padding: 2px 4px;

	&.newspack-badge__badge-level-warning {
		background-color: color-mix(in srgb, #fff 90%, wp-colors.$alert-yellow);
		color: color-mix(in srgb, #000 50%, wp-colors.$alert-yellow);
	}
	&.newspack-badge__badge-level-error {
		background-color: color-mix(in srgb, #fff 90%, wp-colors.$alert-red);
		color: color-mix(in srgb, #000 50%, wp-colors.$alert-red);
	}
	&.newspack-badge__badge-level-success {
		background-color: color-mix(in srgb, #fff 90%, wp-colors.$alert-green);
		color: color-mix(in srgb, #000 50%, wp-colors.$alert-green);
	}
	&.newspack-badge__badge-level-brand {
		background-color: color-mix(in srgb, #fff 90%, var(--wp-admin-theme-color));
		color: color-mix(in srgb, #000 50%, var(--wp-admin-theme-color));
	}

	+ .newspack-badge__badge {
		margin-left: -4px;
	}
}
