@use '~@wordpress/base-styles/colors' as wp-colors;

.newspack-registration {
	@media ( min-width: 782px ) {
		&.is-style-columns {
			.newspack-registration__main {
				flex: 1 1 55%;
			}
			.newspack-reader__lists {
				flex: 1 1 35%;
				padding: 2rem 0 2rem 2rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				h3 {
					display: block;
					margin: 0 0 1rem;
				}
				ul li {
					flex: 1 1 100%;
				}
			}
		}
	}

	&__form-content {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row-reverse;
		row-gap: 1rem;
		column-gap: 2rem;
		margin: 0;
		transition: opacity 200ms ease-in-out;
	}

	&__main {
		flex: 1 1 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__inputs {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;
		min-width: 250px;
		input[type='email'] {
			flex: 1 1 auto;
		}
		[type='submit'] {
			margin-left: 0.5rem;
		}
	}

	&__help-text {
		margin-top: 0.3rem;
		p {
			color: #757575;
			margin: 0;
			font-size: 0.8em !important;
		}
	}

	&__response {
		margin-top: 0.5rem;
		font-size: 0.8em;
	}

	&--error {
		.newspack-registration__response {
			color: wp-colors.$alert-red;
		}
	}
	&--success {
		.newspack-registration__logins {
			display: none;
		}
	}
	&--in-progress {
		opacity: 0.5;
		button,
		a,
		input {
			pointer-events: none;
		}
	}

	&--hidden {
		display: none;
	}
}
