.newspack-registration {
	&.is-style-columns {
		.newspack-registration__main {
			@media ( min-width: 782px ) {
				flex: 1 1 40%;
			}
		}
		.newspack-registration__lists {
			@media ( min-width: 782px ) {
				flex: 1 1 40%;
				background: #f0f0f0;
				border: 0;
				padding: 4rem 2rem;
				ul {
					padding: 0;
					border: 0;
				}
			}
		}
	}
	form {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		flex-direction: row-reverse;
		column-gap: 2rem;
		row-gap: 1rem;
		margin: 0;
		transition: opacity 200ms ease-in-out;
	}

	&__main {
		flex: 1 1 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;
		min-width: 250px;
		input[type='email'] {
			flex: 1 1 auto;
			border-radius: 2px;
			margin: 0 0 1rem;
		}
		[type='submit'] {
			margin: 0 0 1rem 1rem;
		}
	}

	&__lists {
		flex: 1 1 100%;
		font-size: 0.8rem;
		h3 {
			margin: 0 0 1rem;
		}
		ul {
			list-style: none;
			margin: 0;
			display: flex;
			flex-wrap: wrap;
			border-radius: 2px;
			min-width: 250px;
			border: 1px solid #ccc;
			padding: 0.5rem 0 0.5rem 1rem;
			li {
				flex: 1 1 33.3333%;
				display: flex;
				min-width: 200px;
				box-sizing: border-box;
				margin: 0;
				padding: 0.5rem 1rem 0.5rem 0;
			}
			.list-checkbox {
				flex: 0 0 auto;
				margin: 0 0.5rem 0 0;
			}
			.list-title {
				display: block;
			}
			.list-description {
				display: block;
				font-size: 0.8rem;
				color: #777;
				margin: 0;
			}
		}
	}

	&__response {
		font-size: 0.8em;
	}

	&.error {
		.message {
			color: #d94f4f;
		}
	}
}
