/**
* Styles for AutocompleteWithSuggestions component.
*/

@import '../../../shared/scss/colors';
@import '~@wordpress/base-styles/colors';

.newspack-autocomplete-with-suggestions {
	width: 100%;

	&.hide-help {
		> .components-base-control,
		> .newspack-autocomplete-tokenfield,
		> .newspack-autocomplete-with-suggestions__search-suggestions,
		> .newspack-autocomplete-with-suggestions__search-suggestions-multiselect {
			margin-top: 1.5rem;
		}
	}

	.components-spinner {
		position: absolute;
		top: 2em;
		right: 0;
	}

	&__suggestions-spinner .components-spinner {
		display: block;
		margin: 0 auto 1rem;
		position: relative;
	}

	.newspack-autocomplete-tokenfield__help {
		font-size: 12px;
	}

	.components-form-token-field__suggestions-list {
		margin: 4px -4px -4px;
	}

	.components-form-token-field__suggestion {
		padding: 8px;
	}

	p.newspack-autocomplete-with-suggestions__label {
		margin-bottom: 8px;
	}

	&__selected-items {
		border-bottom: 1px solid $light-gray-500;
		margin-bottom: 2rem;
		padding-bottom: 1.75rem;
	}

	&__selected-item-button.components-button.is-tertiary {
		background-color: $light-gray-300;
		border-radius: 2px;
		color: #1e1e1e;
		font-size: 13px;
		height: auto;
		margin-bottom: 4px;
		margin-right: 4px;
		padding-left: 8px;
		padding-right: 8px;

		&::after {
			content: '✕';
			margin-left: 8px;
		}

		&:hover {
			box-shadow: none;
			color: black;
		}
	}

	&__search-suggestions,
	&__search-suggestions-multiselect {
		max-height: 172px;
		overflow-x: visible;
		overflow-y: auto;

		.components-button {
			color: $dark-gray-600;
			display: block;
			margin: 0;
			padding: 10px 12px;
			text-decoration: none;
			width: 100%;

			&:active:not( :disabled ),
			&:hover:not( :disabled ) {
				background: white;
				background: var( --wp-admin-theme-color );
				color: white;
			}
		}
	}

	/* Extra space on sides to handle outline styles of focused checkboxes. */
	&__search-suggestions-multiselect {
		margin-left: -4px;
		margin-right: -4px;
		padding: 0 4px;
	}

	&__search-suggestions {
		border-radius: 2px;
		border: 1px solid $dark-gray-600;
		max-height: 182px;
		padding: 4px;
	}
}
