/**
 * Setup
 */

.newspack-action-card.newspack--error-actioncard {
	.newspack-action-card__secondary_button {
		font-size: 12px;
	}
}

// Welcome Screen

.newspack-wizard__welcome {
	.newspack-wizard__header,
	.newspack-tabbed-navigation {
		display: none;
	}

	.newspack-icon {
		margin: 0 auto;
	}

	.newspack-card {
		&.loading {
			cursor: wait;
		}

		&__footer {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;

			&:empty {
				margin-top: -32px;
			}

			.newspack-checkbox-control {
				margin: 12px 16px 12px 0;
			}

			.newspack-button {
				margin-left: auto;
			}
		}

		h1 {
			align-items: center;
			display: flex;
			flex-wrap: wrap;

			.newspack--error,
			.newspack-checkbox-icon {
				margin-right: 8px;
			}
		}
	}

	.newspack-buttons-card {
		margin: 0;
	}
}

.newspack-site-profile {
	display: flex;
	flex-wrap: wrap;

	> div {
		&:nth-of-type( 2 ) {
			flex: 1 1 auto;
		}

		&:last-of-type {
			flex: 0 0 100%;
		}
	}

	@media screen and ( min-width: 744px ) {
		> div {
			&:last-of-type {
				display: grid;
				grid-gap: 32px;
				grid-template-columns: repeat( 2, 1fr );

				> * {
					margin: 0;
				}
			}
		}
	}

	@media screen and ( min-width: 1128px ) {
		display: grid;
		grid-template-columns: 136px auto calc( ( 100% - 64px ) / 3 );

		> div {
			&:last-of-type {
				display: grid;
				grid-gap: 16px;
				grid-template-columns: repeat( auto-fit, 100% );
			}
		}
	}
}

.newspack-wizard {
	&__title {
		a {
			pointer-events: none;
		}

		svg:not( .newspack-icon ) {
			display: none;
		}
	}
}

.newspack-footer {
	flex-direction: row-reverse;

	&__logo {
		margin-left: 0;
	}
}
