.newspack-ui {
	input[type='checkbox'],
	input[type='radio'] {
		appearance: none;
		background: white;
		border: solid 1px var( --newspack-ui-color-border );
		color: white;
		cursor: pointer;
		display: inline-grid;
		font: inherit;
		height: var( --newspack-ui-spacer-5 ) !important;
		margin: 0;
		place-content: center;
		width: var( --newspack-ui-spacer-5 ) !important;

		&::before {
			content: '';
			display: block;
			opacity: 0;
		}

		&:checked {
			&::before {
				opacity: 1;
			}
		}

		&:focus {
			outline: 1.5px solid var( --newspack-ui-color-radio-bg );
			outline-offset: 1px;
		}

		&:disabled {
			cursor: not-allowed;
			opacity: 0.75;
		}
	}

	input[type='checkbox'] {
		border-radius: var( --newspack-ui-border-radius );

		&::before {
			background: transparent
				url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath d='M16.7 7.1l-6.3 8.5-3.3-2.5-.9 1.2 4.5 3.4L17.9 8z' fill='white'%3E%3C/path%3E%3C/svg%3E" )
				0 0 no-repeat;
			height: var( --newspack-ui-spacer-5 );
			width: var( --newspack-ui-spacer-5 );
		}

		&:checked {
			background: var( --newspack-ui-color-radio-bg );
			border-color: transparent;
		}
	}

	input[type='radio'] {
		border-radius: 100%;

		&::before {
			background: var( --newspack-ui-color-radio-bg );
			border-radius: 100%;
			height: var( --newspack-ui-spacer-3 );
			margin: 4px;
			width: var( --newspack-ui-spacer-3 );
		}

		&:checked {
			border-color: var( --newspack-ui-color-radio-bg );
		}
	}
}