@use 'buttons';
@use 'checkbox-radio';
@use 'labels';
@use 'text-inputs';

// TODO: Find a better home for this stuff.
.newspack-ui {
	form {
		> *:last-child {
			margin-bottom: 0;
		}
	}

	& &__last-child {
		margin-bottom: 0;
	}

	select {
		font-family: var( --newspack-ui-font-family );
		line-height: var( --newspack-ui-line-height-large );
	}

	// Container for displaying grid of inputs.
	& &__code-input {
		display: flex;
		gap: var( --newspack-ui-spacer-base );
		input {
			text-align: center;
		}
	}

	// Container for input description.
	&__field-description {
		display: block;
		font-size: var( --newspack-ui-font-size-small );
		line-height: var( --newspack-ui-line-height-small );
		margin: var( --newspack-ui-spacer-base ) 0 var( --newspack-ui-spacer-5 );
	}

	// Form response inline error text.
	&__inline-error {
		color: var( --newspack-ui-color-alert-red );
		font-size: var( --newspack-ui-font-size-small );
		line-height: var( --newspack-ui-line-height-small );
		margin: var( --newspack-ui-spacer-base ) 0 var( --newspack-ui-spacer-5 );
		a {
			text-decoration: underline;
		}
	}
}
