.newspack-ui {
	// TODO: In the current My Account mockups, these are 16px.
	label {
		display: block;
		font-family: var( --newspack-ui-font-family);
		font-size: var( --newspack-ui-font-size-small ) !important; // !important to override Newspack Theme.
		font-weight: 600;
		line-height: var( --newspack-ui-line-height-small );
		margin: 0 0 var( --newspack-ui-spacer-1 );

		// For labels containing radio, checkbox inputs:
		&.newspack-ui__input-checkradio { // For Firefox; otherwise could use &:has( input[type='checkbox'] ),&:has( input[type='radio'] )
			align-items: center;
			display: flex;
			gap: var( --newspack-ui-spacer-2 );

			// For creating a bordered 'list' of radio, checkbox inputs:
			&.newspack-ui__input-list {
				align-items: flex-start;
				border: 1px solid var( --newspack-ui-color-border );
				border-radius: var( --newspack-ui-border-radius );
				font-weight: normal;
				margin-bottom: var( --newspack-ui-spacer-5 );
				padding: var( --newspack-ui-spacer-3 );

				// This selector isn't supported in Firefox yet.
				&:has( input:checked ) {
					background: var( --newspack-ui-color-primary-000 );
					border-color: var( --newspack-ui-color-primary-500 );
				}

				+ .newspack-ui__input-list {
					margin-top: calc( var( --newspack-ui-spacer-2 ) * -1 );
				}
			}
		}
	}
}