.newspack-ui {
	&__text-error {
		color: var( --newspack-ui-color-alert-red );
		display: block;
		font-family: var( --newspack-ui-font-family);
		font-size: var( --newspack-ui-font-size-small );
		line-height: var( --newspack-ui-line-height-large );
		margin: var( --newspack-ui-spacer-base ) 0 0;
	}

	&__text-info {
		display: block;
		margin: 0;
	}
}
