@import '~@wordpress/base-styles/colors';

.newspack__analytics-configuration {
	&__header {
		align-items: flex-end;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 32px 0;
	}
	th {
		background: $gray-100;
		border-bottom: 1px solid $gray-300;
		border-top: 1px solid $gray-300;
		color: $gray-900;
		padding: 8px;
		text-align: left;
	}
	table {
		width: 100%;
		margin: 32px 0;
		border-spacing: 0;
	}
	tbody {
		td {
			padding: 8px;
			border-bottom: 1px solid $gray-300;
		}
		.newspack-checkbox-control {
			margin: 0;
		}
	}
	&__form {
		display: flex;
		align-items: flex-end;
		margin: 32px 0;
		@media screen and ( max-width: 600px ) {
			flex-wrap: wrap;
		}
		.newspack-text-control {
			flex: 1;
		}
		.components-select-control {
			margin: 0;
		}
		> * {
			margin: 0 !important;
			&:not( :last-child ) {
				margin-right: 32px !important;
			}
		}
		button {
			overflow: visible;
			@media screen and ( max-width: 600px ) {
				margin-top: 10px !important;
			}
		}
	}
	&__select {
		margin: 0;
	}
}
