// Some general overrides for WooCommerce styles.
.newspack-ui {
	label .optional {
		color: var( --newspack-ui-color-neutral-60 );
		font-weight: 400;
	}

	form p {
		margin: 0 0 var( --newspack-ui-spacer-5 );

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__modal--small {
		form p {
			margin: 0 0 var( --newspack-ui-spacer-2 );

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.newspack-ui__input-card {
		label {
			display: block;
		}
	}

	// Override checkout form heading.
	.woocommerce .order-details-summary {
		// Top margin not needed in newspack ui modal.
		h2 {
			margin-top: 0;
		}
	}

	// Override checkout and billing form headings spacing.
	.woocommerce-checkout,
	.billing-details,
	.shipping-details {
		h3 {
			font-size: var(--newspack-ui-font-size-s);
			margin: 0 0 var( --newspack-ui-spacer-base );
		}
	}

	// Override checkout payment method box.
	.wc_payment_method {

		+ .wc_payment_method {
			margin-top: calc( var(--newspack-ui-spacer-5) / -2 );
		}

		span {
			font-weight: var( --newspack-ui-font-weight-strong );
		}

		> label:first-of-type {
			margin: unset;
		}

		.payment_box {
			background: transparent;
			font-weight: normal;
			padding: 0;

			p {
				color: var( --newspack-ui-color-neutral-60 );
				font-size: var(--newspack-ui-font-size-xs);
			}

			ul.wc-saved-payment-methods {
				padding: 0;

				li {
					margin-bottom: var(--newspack-ui-spacer-3);

					label {
						font-size: var(--newspack-ui-font-size-xs);
					}

					input {
						margin-right: var( --newspack-ui-spacer-base );
					}
				}
			}

			fieldset {
				margin: 0 0 var(--newspack-ui-spacer-2);
				padding: 0 !important; // To override inline styles.

				&:last-child {
					margin-bottom: 0;
				}

				p {
					font-size: var(--newspack-ui-font-size-xs);
					margin-bottom: 0;

					&.form-row {
						display: flex;
						align-items: flex-start;

						input {
							margin-right: var(--newspack-ui-spacer-2);
						}

						label {
							margin-bottom: 0;
							font-weight: normal;
						}
					}
				}
			}
		}

		// Override a style coming from the theme to hide the radio -- we need this when there's more than one option.
		input.input-radio[name="payment_method"] {
			display: inherit;
		}

		// If the only payment option, we're hiding the radio selection so we don't need a grid.
		&:first-child:last-child .newspack-ui__input-card {
			grid-template-columns: none;
			gap: 0;

			input.input-radio[name="payment_method"] {
				display: none;
			}
		}
	}

	// Stripe inputs
	.wc-credit-card-form {
		.form-row-wide {
			margin-bottom: var( --newspack-ui-spacer-base );
		}
		.wc-stripe-elements-field,
		.wc-stripe-iban-element-field {
			border: 1px solid var( --newspack-ui-color-input-border );
			border-radius: var( --newspack-ui-border-radius-m );
			display: block;
			font-family: var( --newspack-ui-font-family);
			font-size: var( --newspack-ui-font-size-s );
			line-height: var( --newspack-ui-line-height-l );
			padding: calc( var( --newspack-ui-spacer-2 ) - 1px ) calc( var( --newspack-ui-spacer-3 ) - 1px );
		}

		&:has( div.stripe-source-errors[role="alert"]:not( :empty ) ) {
			.wc-stripe-elements-field,
			.wc-stripe-iban-element-field {
				border-color: var( --newspack-ui-color-error-50 );
			}

			label {
				color: var( --newspack-ui-color-error-50 );
			}

			.woocommerce_error {
				background: transparent;
				color: var( --newspack-ui-color-error-50 );
				font-family: var( --newspack-ui-font-family );
				font-size: var( --newspack-ui-font-size-xs );
				padding: 0;
			}
		}
	}

	.wc_payment_methods {
		margin: 0;

		label[for="payment_method_stripe"] {
			&.newspack-ui__input-card {
				padding: var( --newspack-ui-spacer-3 ) !important;
			}
		}
	}

	// Woo Payments inputs
	#wcpay-upe-element,
	.wcpay-upe-element {
		margin: var(--newspack-ui-spacer-5) 0;
		padding: 0;
	}

	.checkout_details {
		margin-bottom: var(--newspack-ui-spacer-5);
	}

	// Override billing details spacing.
	.billing-details,
	.shipping-details {
		&:not(:last-child ) {
			margin-bottom: var( --newspack-ui-spacer-5 );
		}

		p {
			margin: 0;
		}
	}

	// Order review table.
	.woocommerce-checkout-review-order-table {
		th,
		td,
		label,
		small {
			font-size: var( --newspack-font-size-xs ) !important;
			line-height: var( --newspack-line-height-xs ) !important;
		}

		thead th,
		.recurring-totals th {
			background: transparent;
		}

		// stylelint-disable-next-line selector-id-pattern
		.woocommerce-shipping-totals #shipping_method {
			li,
			label {
				margin: 0;
			}
		}
	}

	.woocommerce .first-payment-date {
		font-family: var( --newspack-ui-font-family );
	}

	// Override checkout form terms and condition text.
	.woocommerce-terms-and-conditions-wrapper {
		font-size: var(--newspack-ui-font-size-xs);
		margin-bottom: 0;
	}

	// Override checkout form coupon field.
	.woocommerce-form-coupon {
		margin-bottom: var(--newspack-ui-spacer-5);

		h3 {
			margin-bottom: var( --newspack-ui-spacer-base );
		}

		p:first-of-type {
			align-items: center;
			display: flex;
			gap: var( --newspack-ui-spacer-base );

			input,
			button {
				margin: 0 !important;
			}

			+ .newspack-ui__helper-text {
				margin-top: calc( var( --newspack-ui-spacer-2 ) * -1 );
			}
		}
	}

	// Override checkout form subscriptions gift toggle.
	.newspack-wcsg--gift-toggle {
		margin-bottom: 0;

		label {
			display: flex !important;
		}
	}

	// Required fields.
	.woocommerce form .form-row .required {
		color: var( --newspack-ui-color-error-50 );
	}

	// Errors
	.woocommerce-invalid {
		input,
		textarea,
		.select2-container--default .select2-selection--single {
			border-color: var( --newspack-ui-color-error-50 );

			&:focus {
				outline-color: var( --newspack-ui-color-error-50 );
			}
		}

		label {
			color: var( --newspack-ui-color-error-50 );
		}
	}

	// Privacy Policy
	.woocommerce-privacy-policy-text {
		color: var( --newspack-ui-color-neutral-60 );
	}

	// Buttons - adjust spacing
	#place-order {
		margin-bottom: 0;
	}

	// stylelint-disable-next-line selector-id-pattern
	#checkout_back {
		margin-top: 0;
	}
}
