.newspack-floating-button {
	z-index: 9997;
	position: fixed;
	bottom: 16px;
	right: 16px;

	.newspack-button-card {
		margin: 0;
		position: relative;
		z-index: 1;

		&::before {
			border-radius: 2px;
			box-shadow: 0 0 8px 4px rgba(black, 0.08);
			content: "";
			display: block;
			inset: 0;
			position: absolute;
			transition: box-shadow 125ms ease-in-out;
			z-index: -1;
		}

		&:hover::before {
			box-shadow: 0 0 8px 4px rgba(black, 0.16);
		}
	}
}

.newspack-design {
	&__header,
	&__footer {
		&__logo {
			.newspack-image-upload__image {
				border-color: rgba(black, 0.54);
				height: 98px;
			}
		}
	}

	&__header {
		&__style-size {
			grid-template-columns: repeat(2, min-content);
		}
	}
}
