/**
 * Custom Select Control
 */

@import '../../../shared/scss/colors';
@import '~@wordpress/base-styles/colors';

.newspack-custom-select-control {
	color: $dark-gray-300;
	font-size: 14px;
	line-height: 24px;
	margin: 32px 0;

	label {
		color: $dark-gray-900;
		display: block;
		font-size: 14px;
		font-weight: bold;
		line-height: 24px;
		padding-bottom: 0 !important;
	}

	.components-custom-select-control__button {
		border-color: $light-gray-500;
		border-radius: 3px;
		color: $dark-gray-300;
		font-size: 14px;
		line-height: 24px;
		min-height: 48px;
		min-width: 100%;
		padding-right: 40px;

		&:active,
		&:focus,
		&:hover,
		&[aria-expanded='true'] {
			color: $dark-gray-300;
		}

		&:focus,
		&[aria-expanded='true'] {
			border-color: $primary-500;
			box-shadow: inset 0 0 0 2px #36f;
		}

		&-icon {
			right: 8px;
		}
	}

	.components-custom-select-control__menu {
		border-color: $light-gray-500;
		border-radius: 3px;
		box-shadow: 0 4px 8px rgba( black, 0.08 );
		color: $dark-gray-300;
		margin: 8px 0 0;
		min-width: 222px;
	}

	.components-custom-select-control__item {
		box-sizing: border-box;
		cursor: pointer;
		display: flex;
		line-height: inherit;
		margin: 0;
		padding: 6px 8px;
		transition: color 125ms ease-in-out;

		&:empty {
			display: none;
		}

		&.is-header {
			background: $light-gray-100;
			color: $dark-gray-900;
			cursor: default;
			font-weight: bold;
			pointer-events: none;
		}

		&.is-highlighted {
			background: white;
			color: $primary-500;
		}
	}

	// Multiple Select Controls

	& + & {
		margin-bottom: 32px;
		margin-top: -16px;
	}

	// Multiple Controls

	+ .newspack-category-autocomplete,
	+ .newspack-select-control + .newspack-text-control,
	+ .newspack-textarea-control {
		margin-bottom: 32px;
		margin-top: -16px;
	}
}
