/**
 * Custom Select Control
 */

@import '../../../shared/scss/colors';
@import '~@wordpress/base-styles/colors';

.newspack-custom-select-control {
	color: $gray-700;
	font-size: 14px;
	line-height: 24px;
	margin: 32px 0;

	label {
		color: $gray-900;
		display: block;
		font-size: 14px;
		font-weight: bold;
		line-height: 24px;
		padding-bottom: 0 !important;
	}

	.components-custom-select-control__button {
		border-color: $gray-300;
		border-radius: 3px;
		color: $gray-700;
		font-size: 14px;
		line-height: 24px;
		min-height: 48px;
		min-width: 100%;
		padding-right: 24px;

		&:active,
		&:focus,
		&:hover,
		&[aria-expanded='true'] {
			color: $gray-700;
		}

		&:focus {
			border-color: $primary-500;
			box-shadow: inset 0 0 0 2px #36f;
		}

		&-icon {
			right: 3px;
			transition: transform 50ms ease-in-out;
			width: 18px;
		}

		&[aria-expanded='true'] svg {
			transform: rotate( 180deg );
		}
	}

	.components-custom-select-control__menu {
		border-color: $gray-300;
		border-radius: 3px;
		box-shadow: 0 4px 8px rgba( black, 0.08 );
		color: $gray-700;
		margin: 8px 0 0;
		min-width: 222px;
	}

	.components-custom-select-control__item {
		box-sizing: border-box;
		cursor: pointer;
		display: flex;
		line-height: inherit;
		margin: 0 0 0 28px;
		padding: 6px 8px;
		transition: color 125ms ease-in-out;

		&:empty {
			display: none;
		}

		&.is-header {
			background: $gray-100;
			color: $gray-900;
			cursor: default;
			font-weight: bold;
			margin-left: 0;
			pointer-events: none;
		}

		&.is-highlighted {
			background: white;
			color: $primary-500;
		}

		&.is-selected {
			margin-left: 0;

			&::before {
				background: url( 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48cGF0aCBkPSJNMTguMyA1LjZMOS45IDE2LjlsLTQuNi0zLjQtLjkgMS4yIDUuOCA0LjMgOS4zLTEyLjZ6IiBmaWxsPSIjMzM2NmZmIj48L3BhdGg+PC9zdmc+Cg==' )
					0 0 no-repeat;
				content: '';
				display: block;
				height: 24px;
				margin: 0 4px 0 0;
				width: 24px;
			}
		}
	}

	// Multiple Select Controls

	& + & {
		margin-bottom: 32px;
		margin-top: -16px;
	}

	// Multiple Controls

	+ .newspack-category-autocomplete,
	+ .newspack-select-control,
	+ .newspack-text-control,
	+ .newspack-textarea-control {
		margin-bottom: 32px;
		margin-top: -16px;
	}
}
