/**
 * Tabbed Navigation
 */

@import '~@wordpress/base-styles/colors';
@import '../../../shared/scss/colors';

.newspack-tabbed-navigation {
	ul {
		box-shadow: 0 -1px 0 inset $gray-300;
		display: flex;
		flex-wrap: wrap;
		font-size: 14px;
		line-height: 24px;
		margin: 0;
	}

	li {
		margin-bottom: 0;
		width: 100%;

		@media screen and ( min-width: 600px ) {
			width: auto;
		}
	}

	a {
		border-bottom: 4px solid transparent;
		color: $gray-900;
		display: block;
		font-weight: bold;
		padding: 12px 16px 8px;
		text-decoration: none;

		&:active,
		&:focus,
		&:hover {
			color: $primary-500;
			outline: none;
		}

		&:focus {
			box-shadow: none;
		}

		&:focus-visible {
			outline: 3px solid;
			outline-offset: -3px;
		}

		&.selected {
			border-bottom-width: 0;
			border-left: 4px solid $primary-500;
			padding-bottom: 12px;

			@media screen and ( min-width: 600px ) {
				border-bottom-width: 4px;
				border-color: $primary-500;
				border-left-width: 0;
				padding-bottom: 8px;
				padding-left: 16px;
			}
		}

		&.disabled {
			cursor: not-allowed;
			opacity: 0.3;

			&:hover {
				color: inherit;
			}
		}
	}
}
