/**
 * Tabbed Navigation Styles.
 */

@import '../../../shared/scss/muriel-component';

.muriel-tabbed-navigation {
	margin-bottomn: 0;
	box-shadow: none;
	background: transparent;
	padding: 0;
	ul {
		display: flex;
		margin: 0;
		border-bottom: 1px solid $muriel-gray-100;
	}
	a {
		color: black;
		display: flex;
		justify-content: center;
		font-size: 12px;
		margin: 0;
		padding: 0 2em 1em 2em;
		text-decoration: none;
		&.selected {
			border-bottom: 2px solid $primary_color;
		}
	}
	li {
		margin: 0;
		padding: 0;
		display: inline-block;
		flex: 1;
		text-align: center;
	}
}
