/**
 * Tabbed Navigation
 */

@import '~@wordpress/base-styles/colors';
@import '../../../shared/scss/colors';

.newspack-tabbed-navigation {
	ul {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
	}

	li {
		// margin-bottom: 10px;
		width: 100%;
		@media screen and ( min-width: 500px ) {
			width: auto;
			margin-bottom: 0;
		}
	}

	a {
		display: block;
		text-decoration: none;
		border-bottom: 4px solid $primary-500;
		font-weight: bold;

		@media screen and ( min-width: 500px ) {
			margin-right: 32px;
			padding-bottom: 12px;
		}

		&:active,
		&:focus,
		&:hover {
			outline: none;
			color: white;
			border-color: $primary-200;
		}

		&:focus {
			box-shadow: none;
			outline: 1px solid;
			outline-offset: 16px;
		}

		&.selected {
			border-color: white;
		}
	}
}
