.wp-block-newspack-my-account-button__link {
	align-items: center;
	display: inline-flex;
	gap: 0.25em;
	justify-content: center;
	text-decoration: none;

	.newspack-reader__account-link__icon {
		align-items: center;
		display: flex;
		justify-content: center;

		svg {
			fill: currentcolor !important;
			height: 1.5em;
			width: 1.5em;
		}
	}
}

.newspack-reader__account-link--disabled {
	opacity: 0.6;
	pointer-events: none;
}