.wp-block-newspack-my-account-button {
	&__link {
		align-items: center;
		display: inline-flex;
		gap: var(--wp--custom--spacing--10, var( --wp--preset--spacing--20 ));
		justify-content: center;
		text-decoration: none;

		&--disabled {
			opacity: 0.6;
			pointer-events: none;
		}
	}

	&__icon {
		align-items: center;
		display: flex;
		justify-content: center;

		svg {
			fill: currentcolor;
			height: 1.5em;
			width: 1.5em;
		}
	}
}
