.wp-block-newspack-my-account-button {
	&__icon {
		display: grid;
		place-items: center;

		svg {
			fill: currentcolor;
			height: max(24px, 1.5em);
			margin-left: calc( max(4px, 0.25em) * -1);
			margin-right: calc( max(4px, 0.25em) * -1);
			width: max(24px, 1.5em);
		}
	}
}
