/**
 * Checkbox styles.
 */

@import '../../../shared/scss/muriel-component';

.muriel-checkbox {
	display: block;
	position: relative;

	input[type="checkbox"] {
		border: 2px solid $muriel-gray-500;
		border-radius: 3px;
		height: 22px;
		margin: 0;
		width: 22px;

		&:checked {
			background-color: $primary_color;
			border-color: $primary_color;

			&:before {
				font-size: 30px;
				margin-left: -7px;
				margin-top: -4px;
				color: $muriel-white;
			}
		}
	}

	label.components-checkbox-control__label {
		display: inline-block;
		font-size: 16px;
		line-height: 21px;
		margin-left: 24px;
	}

	.components-base-control__help {
		color: $muriel-gray-600;
		font-size: 14px;
		font-style: normal;
		line-height: 21px;
		margin-left: 46px;
		margin-top: 0;
	}

	.components-base-control__field {
		margin-bottom: 0;
	}

	.components-checkbox-control__input-container {
		height: 22px;
		margin: 0;
		width: 22px;
	}
}
