/**
 * Checkbox styles.
 */

@import '../../../shared/scss/muriel-component';
@import '~@wordpress/base-styles/colors';

.newspack-checkbox-control {
	color: $dark-gray-300;
	display: flex;
	font-size: 14px;
	justify-content: space-between;
	line-height: 24px;
	margin: 32px 0;

	label {
		color: inherit;
		font-size: inherit;
		line-height: inherit;
		margin: 0;
	}

	input[type="checkbox"] {
		background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z' fill='%23a2aab2'/%3E%3C/svg%3E");
		border: 0;
		border-radius: 3px;
		box-shadow: none;
		height: 24px;
		transition: box-shadow 125ms ease-in-out;
		width: 24px;

		&:checked,
		&.checked {
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z' fill='%233366ff'/%3E%3C/svg%3E");
		}

		&:focus {
			box-shadow: 0 0 0 2px $primary_color;
		}
	}

	.components-checkbox-control__input-container {
		display: block;
		height: 24px;
		margin: 0;
		margin-right: 4px;
		width: 24px;

		svg {
			display: none;
		}
	}

	.components-base-control__help {
		color: inherit;
		font-size: inherit;
		line-height: inherit;
		margin: 0;
		margin-left: 28px;
	}

	// Multiple Checkbox Controls

	& + & {
		margin-top: -16px;
	}

	// Reset

	.components-base-control {
		font-size: inherit;
		line-height: inherit;
	}

	.components-base-control__field {
			display: flex;
			margin: 0;
	}

	.components-base-control__label {
		display: block;
		margin: 0;
	}
}
