/**
 * Checkbox styles.
 */

@import '../../../shared/scss/colors';
@import '~@wordpress/base-styles/colors';

.newspack-checkbox-control {
	color: $dark-gray-300;
	display: flex;
	font-size: 14px;
	justify-content: space-between;
	line-height: 24px;
	margin: 32px 0;

	label {
		color: inherit;
		font-size: inherit;
		line-height: inherit;
		margin: 0;
	}

	input[type="checkbox"] {
		background: white;
		border: 1px solid $light-gray-500;
		border-radius: 3px;
		box-shadow: none;
		height: 24px;
		transition: background 125ms ease-in-out, border-color 125ms ease-in-out, box-shadow 125ms ease-in-out;
		width: 24px;

		&:checked,
		&.checked,
		&:hover {
			background-color: $primary-500;
			border-color: $primary-600;
		}

		&:checked,
		&.checked {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z' fill='white'/%3E%3C/svg%3E");
			background-position: 50%;
			background-repeat: no-repeat;
			transition: 0s;
		}

		&:focus {
			border-color: $primary-600;
			box-shadow: 0 0 0 2px $primary-500;
		}
	}

	.components-checkbox-control__input-container {
		display: block;
		height: 24px;
		margin: 0;
		margin-right: 8px;
		width: 24px;

		svg {
			display: none;
		}
	}

	.components-base-control__help {
		color: inherit;
		font-size: inherit;
		line-height: inherit;
		margin: 0;
		margin-left: 32px;
	}

	// Multiple Checkbox Controls

	& + & {
		margin-top: -16px;
	}

	// Reset

	.components-base-control {
		font-size: inherit;
		line-height: inherit;
	}

	.components-base-control__field {
			display: flex;
			margin: 0;
	}

	.components-base-control__label {
		display: block;
		margin: 0;
	}
}
