/**
 * Theme Selection Screen
 */

.newspack-toggle-control {
	margin: 32px 0;

	& + & {
		margin: -16px 0 32px 0;
	}
}

.newspack-toggle-group {
	& + .newspack-text-control {
		margin-top: -16px;
	}

	> .newspack-toggle-control {
		margin: 0;
	}

	.newspack-toggle-group__description {
		.newspack-toggle-control {
			margin: 16px 0 0 -44px;
		}
	}
}
