/**
 * Grid
 */

.newspack-grid {
	display: grid;
	grid-gap: 32px;
	grid-template-columns: 1fr;
	margin: 32px 0;

	// Media Queries - 744px
	@media screen and ( min-width: 744px ) {
		&__columns-2,
		&__columns-3,
		&__columns-4 {
			grid-template-columns: repeat( 2, 1fr );
		}
	}

	// Media Queries - 1128px
	@media screen and ( min-width: 1128px ) {
		// Columns 3
		&__columns-3 {
			grid-template-columns: repeat( 3, 1fr );
		}

		// Columns 4
		&__columns-4 {
			grid-template-columns: repeat( 4, 1fr );
		}

		// Gutter 32
		&__gutter-32 {
			grid-gap: 32px;
		}

		// Gutter 48
		&__gutter-48 {
			grid-gap: 48px;
		}

		// Gutter 64
		&__gutter-64 {
			grid-gap: 64px;
		}
	}

	// Children
	> * {
		margin-bottom: 0 !important;
		margin-top: 0 !important;
	}

	// Cards
	> .newspack-card {
		> *:first-child {
			margin-top: 0 !important;
		}

		> *:last-child {
			margin-bottom: 0 !important;
		}
	}
}
