$primary-000: #F5FDFF;
$primary-050: #D6F6FF;
$primary-100: #B4E4FF;
$primary-200: #93CCFD;
$primary-300: #72AFFB;
$primary-400: #528DFC;
$primary-500: #3366FF;
$primary-600: #2240D5;
$primary-700: #1522AF;
$primary-800: #0B0B8D;
$primary-900: #0D046E;
$primary-950: #0E0052;
