$primary-000: #e9efff;
$primary-050: #dbe4ff;
$primary-100: #c0cfff;
$primary-200: #a1b8ff;
$primary-300: #80a0ff;
$primary-400: #6088ff;
$primary-500: #36f;
$primary-600: #274fc4;
$primary-700: #2141a4;
$primary-800: #1a3584;
$primary-900: #142965;
$primary-1000: #0b1636;
