$primary-000: #f5fdff;
$primary-050: #d6f6ff;
$primary-100: #b4e4ff;
$primary-200: #93ccfd;
$primary-300: #72affb;
$primary-400: #528dfc;
$primary-500: #36f;
$primary-600: #2240d5;
$primary-700: #1522af;
$primary-800: #0b0b8d;
$primary-900: #0d046e;
$primary-950: #0e0052;
