/**
 * Popup group
 */

@import '../../../shared/scss/colors';
@import '~@wordpress/base-styles/colors';

.newspack-action-card-sections {
	&__group-wrapper {
		margin-bottom: -32px;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		h2 {
			margin: 0 !important;
		}
		.newspack-select-control {
			.components-select-control {
				div.components-input-control__backdrop {
					border-color: white;
				}

				select.components-select-control__input {
					height: 32px;
					min-height: 32px;
				}
			}
		}
	}

	&__group-type {
		align-items: center;
		display: flex;
		margin-bottom: 8px !important;

		+ .newspack-action-card {
			margin-top: 8px !important;
		}
	}

	&__group-count {
		border: 1px solid $light-gray-500;
		border-radius: 12px;
		display: block;
		flex: 0 0 auto;
		font-size: 12px;
		font-weight: bold;
		line-height: 16px;
		margin: 3px 8px;
		min-width: 8px;
		padding: 0 4px;
		text-align: center;
	}
}
