/**
 * Popup group
 */

@import '../../../shared/scss/colors';
@import '~@wordpress/base-styles/colors';

.newspack-action-card-sections {
	&__group-wrapper {
		margin-top: 20px;
		margin-bottom: -31px;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		h2 {
			margin: 0 !important;
		}
	}

	&__group-select {
		margin: 0;

		.components-base-control__field {
			margin-bottom: 0;
			align-items: center;
			display: flex;
		}

		.components-base-control__label {
			margin-right: 4px;
		}

		select {
			background-position: right;
			border: 0;
			border-radius: 1px;
			display: block;
			height: 24px;
			min-height: 24px;
			padding: 0 24px 0 0;

			&:focus {
				box-shadow: 0 0 0 2px white, 0 0 0 4px $primary-500;
			}
		}
	}

	&__group-type {
		align-items: center;
		display: flex;
		margin-bottom: 8px !important;

		+ .newspack-action-card {
			margin-top: 8px !important;
		}
	}

	&__group-count {
		border: 1px solid $light-gray-500;
		border-radius: 12px;
		display: block;
		flex: 0 0 auto;
		font-size: 12px;
		font-weight: bold;
		line-height: 16px;
		margin: 3px 8px;
		min-width: 8px;
		padding: 0 4px;
		text-align: center;
	}
}
