/**
 * Text Control
 */

.newspack-text-control {
	&--with-margin {
		margin: 32px 0;
	}

	&--wide {
		flex-wrap: wrap;
		.components-base-control__field {
			width: 100%;
		}
	}

	&--required {
		margin: 32px 0;

		> * {
			margin: 0;
		}
	}

	// Code

	&.code {
		input {
			font-family: Consolas, monaco, monospace;
		}
	}
}
