.newspack-newsletters-signup-modal {
	.processing {
		opacity: 0.5;
		pointer-events: none;
	}

	p.details {
		margin-bottom: 0;
	}

	p.recipient {
		margin-top: 4px;
		margin-bottom: 0;
	}

	.newspack-newsletters-signup {
		margin-top: var(--newspack-ui-spacer-5);

		.newsletter-list-container {
			overflow: hidden;
			position: relative;
			transition: max-height 250ms ease-in-out;

			&:not([style*="none"])::before {
				background: linear-gradient(to top, white, transparent);
				bottom: 0;
				content: "";
				height: 32px;
				left: 0;
				position: absolute;
				right: 0;
			}

			.newspack-ui__input-card.hidden {
				display: none;
			}
		}

		.see-all-button {
			justify-content: space-between;
			margin: var(--newspack-ui-spacer-2) 0 var(--newspack-ui-spacer-5) 0 !important;
		}

		button[type="submit"] {
			background: var(--newspack-ui-color-primary);
		}
	}
}

