.newspack-newsletters-signup-modal {
	.processing {
		opacity: 0.5;
		pointer-events: none;
	}

	p.details {
		margin-bottom: 0;
	}

	p.recipient {
		margin-top: 4px;
		margin-bottom: 0;
	}

	.newspack-newsletters-signup {
		margin-top: var(--newspack-ui-spacer-5);
	}
}

