@import '../../../../shared/scss/colors';
@import '~@wordpress/base-styles/colors';

.newspack-dashboard__news {
	details {
		margin: 32px 0;
		border: 1px solid $light-gray-200;
		padding: 20px;
		border-radius: 3px;
		> div {
			margin: 20px 0 0;
			padding-left: 40px;
			h3:first-child {
				margin-top: 0;
			}
		}
		ul {
			list-style: disc;
			padding-left: 18px;
		}
		li {
			margin-bottom: 0;
		}
		ul:last-child {
			margin-bottom: 0;
		}
		h3 {
			font-size: 16px;
			margin: 0;
		}
		svg {
			transition: transform 200ms;
		}
		&[open] {
			svg {
				transform: rotate( 180deg );
			}
		}
		+ details {
			margin-top: -24px;
		}
	}
	summary {
		display: flex;
		cursor: pointer;
		&:focus {
			outline: none;
		}
		&::-webkit-details-marker {
			display: none;
		}
		> div:first-child {
			line-height: 1;
			width: 40px;
			flex-shrink: 0;
		}
		strong:first-child {
			color: $primary-500;
		}
	}

	.error {
		margin-left: 0;
	}
}
