@import '../../shared/scss/muriel-component';

/**
 * Temporary styles for example purposes.
 */
#newspack-subscriptions-wizard {
	padding: 14px;
}
.newspack-components-demo_logo {
	display: block;
	margin: 1em auto;
	grid-column: 1 / -1;
}

.newspack-components-demo {
	@include muriel-grid;
}
