/**
 * Newspack Icon
 */

@use "../../../shared/scss/colors";

.newspack-icon {
	background: var(--newspack-ui-color-primary);
	fill: white;
	padding: 12px;

	&--white {
		background: white;
		fill: var(--newspack-ui-color-primary);
	}

	&--simple {
		background: none;
		fill: var(--newspack-ui-color-primary);
		padding: 0;
	}

	&#{&}--simple#{&}--white {
		fill: white;
	}
}
