.wp-block-newspack-collections {
	// Title.
	.wp-block-newspack-collections__title {
		margin: 0 0 24px;

		a {
			color: var(--newspack-theme-color-text-main, inherit);
		}
	}

	// Excerpt.
	.wp-block-newspack-collections__excerpt {
		margin-bottom: 1em;
		color: var(--wp--preset--font-size--small);
		line-height: 1.4;
	}

	// Meta information (Period, Volume, Number).
	.wp-block-newspack-collections__meta {
		margin: 1em 0;
	}
}

