.newspack-content-gate-countdown__wrapper {
	p.newspack-content-gate-countdown__countdown {
		display: inline-block;
		font-family: var(--newspack-ui-font-family), system-ui, sans-serif;
		font-size: 1.5em;
		font-weight: 700;
		white-space: nowrap;
		margin-top: 0;
		margin-bottom: 0;
	}
}
