body.newspack-has-img-lightbox {
	overflow: hidden !important;
}

.newspack-img-lightbox {
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: black;
	&__close {
		position: absolute;
		top: 14px;
		right: 10px;
		color: white;
		transform: rotate(45deg);
		font-size: 55px;
		line-height: 20px;
		font-family: system-ui;
		cursor: pointer;
	}
}
