/**
 * Image Upload
 */

@import '../../../shared/scss/colors';
@import '~@wordpress/base-styles/colors';

.newspack-image-upload {
	margin: 32px 0;
	&__header {
		display: flex;
	}
	&__label {
		color: $dark-gray-900;
		font-size: 14px;
		font-weight: bold;
		line-height: 24px;
	}
	&__image {
		align-items: center;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		border: 1px dashed $light-gray-500;
		border-radius: 3px;
		display: flex;
		justify-content: center;
		max-width: 100%;
		position: relative;
		&--covering {
			background-size: cover;
		}
		&:not( &--has-image ) {
			.newspack-button {
				background: white !important;
				border-radius: 3px !important;
				padding: 4px 16px !important;

				&:active,
				&:focus,
				&:hover {
					background: white !important;
				}

				&:focus {
					outline-offset: -3px !important;
				}
			}
		}
		&--has-image {
			border: none;
			&::before,
			&::after {
				border: 1px solid rgba( black, 0.1 );
				border-radius: 3px;
				bottom: 0;
				content: '';
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 0;
			}
			button,
			&::after {
				opacity: 0;
				transition: opacity 125ms;
			}
			button {
				z-index: 1;
				position: relative;
			}
			&::after {
				background: rgba( white, 0.9 );
				border-color: $light-gray-500;
			}
			&:focus-within,
			&:hover {
				button,
				&::after {
					opacity: 1;
				}
			}
			.sep {
				display: block;
				height: 8px;
			}
		}
	}
}
