/**
 * Image Upload
 */

.newspack-image-upload {
	margin: 32px 0;

	.newspack-button {
		justify-content: center;

		&.newspack-image-upload__remove-image {
			min-width: 144px;
		}

		svg {
			display: block;
			fill: currentColor;
			margin-right: 4px;
		}
	}

	.newspack-image-upload__image-preview {
		margin-bottom: 8px;
		max-width: 144px;
		padding: 0;

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}
