/**
 * Image Upload
 */

.newspack-image-upload {
	margin: 32px 0;

	@media screen and ( min-width: 744px ) {
		&.newspack-image-upload__has-image {
			align-items: flex-end;
			display: flex;

			.newspack-button {
				margin-left: 8px;
			}
		}
	}

	.newspack-image-upload__image-preview {
		margin-bottom: 8px;
		max-width: 144px;

		@media screen and ( min-width: 744px ) {
			margin-bottom: 0;
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	.newspack-button {
		svg {
			fill: currentcolor;
			margin-right: 4px;
		}
	}
}
