.newspack-ui .newspack-my-account__group_subscription {
	&__tabs {
		display: flex;
		gap: 16px;
		margin-bottom: 16px;
	}
	&__content {
		.newspack-my-account__group_subscription__members,
		.newspack-my-account__group_subscription__invites {
			display: none;
		}
		&[data-active-tab="members"] {
			.newspack-my-account__group_subscription__tabs--members {
				font-weight: 600;
			}
			.newspack-my-account__group_subscription__members {
				display: table;
			}
		}
		&[data-active-tab="invites"] {
			.newspack-my-account__group_subscription__tabs--invites {
				font-weight: 600;
			}
			.newspack-my-account__group_subscription__invites {
				display: table;
			}
		}
	}
	&__members,
	&__invites {
		margin-top: var(--newspack-ui-spacer-5);
	}
	&__members--actions,
	&__invites--actions {
		&--manager {
			display: none !important;
			@media ( min-width: 768px ) {
				display: table-cell !important;
				&::after {
					content: '';
					display: inline-block;
					vertical-align: middle;
					min-height: 36px;
				}
			}
		}
	}
}
