/**
 * General layout styles
 */

@use "variables";
@use "components";
@use "navigation";
@use "content";
@use "forms";

.newspack-my-account {
	&--logged-in {
		.site-content {
			margin-top: 0;
		}
		#primary {
			max-width: none;
			width: auto;
		}
		.woocommerce {
			/* WooCommerce breakpoint is 768px. */
			@media ( min-width: 768px ) {
				padding-left: 300px;
			}
		}
		.woocommerce-MyAccount-navigation,
		.woocommerce-MyAccount-content {
			float: none;
			@media ( min-width: 768px ) {
				padding-bottom: var(--newspack-ui-spacer-9);
				padding-top: var(--newspack-ui-spacer-9);
			}
		}
	}
}
