/**
 * Checklist
 */

@import '~@wordpress/base-styles/colors';

.newspack-checklist {
	.newspack-checklist__wrapper {
		padding: 0 0 16px;
	}

	&.is-hide-completed {
		.newspack-task {
			&.is-completed {
				display: none;
			}
		}
	}

	.newspack-task {
		&:last-of-type {
			&::before {
				bottom: 0;
			}
		}
	}

	.newspack-checklist__header {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin: 32px 0;

		@media screen and ( min-width: 744px ) {
			justify-content: space-between;
		}
	}

	.newspack-checklist__progress-bar {
		flex: 0 0 100%;

		@media screen and ( min-width: 744px ) {
			flex: 0 1 50%;
			margin-right: 16px;
		}

		.newspack-progress-bar {
			margin: 0;
		}

		+ .newspack-checklist__header-action {
			margin-top: 8px;
		}
	}

	.newspack-checklist__header-action {
		align-items: center;
		border: 1px solid $light-gray-200;
		border-radius: 4px;
		display: flex;
		flex: 0 0 auto;
		justify-content: space-between;

		label {
			color: $dark-gray-900;
			font-weight: bold;
			padding: 4px 12px;
		}

		.newspack-button {
			border-left: 1px solid $light-gray-200;
			border-radius: 0 4px 4px 0;
			flex: 0 0 auto;
			padding: 5px;
			margin: 0;

			&:active,
			&:focus,
			&:hover {
				background-color: $light-gray-100;
			}

			svg {
				fill: $dark-gray-900;
			}
		}
	}
}
