/**
 * Checklist
 */

@import '~@wordpress/base-styles/colors';

.newspack-checklist {
	.newspack-checklist__wrapper {
		padding: 0 0 16px;
	}

	&.is-hide-completed {
		.newspack-task {
			&.is-completed {
				display: none;
			}
		}
	}

	.newspack-task {
		&:last-of-type {
			&:before {
				bottom: 0;
			}
		}
	}

	.newspack-checklist__header-action {
		align-items: center;
		border: 1px solid $light-gray-200;
		border-radius: 4px;
		display: flex;
		justify-content: space-between;
		margin-top: -16px;

		label {
			color: $dark-gray-900;
			flex: 1 1 100%;
			font-weight: bold;
			padding: 8px;
		}

		.newspack-button {
			border-left: 1px solid $light-gray-200;
			border-radius: 0 4px 4px 0;
			flex: 0 0 41px;
			padding: 8px;
			margin: 0;

			&:active,
			&:focus,
			&:hover {
				background-color: $light-gray-100;
			}

			svg {
				fill: $dark-gray-900;
			}
		}
	}
}
