.newspack-performance-wizard {
	.newspack-performance-wizard_indented-block {
		margin-left: 50px;
	}
	ul {
		list-style-type: disc;
		margin-left: 2em;
	}
}
.newspack-performance-wizard__info-block {
	color:  $muriel-gray-300;
	position: relative;
	padding-left: 3em;
	strong {
		color: $muriel-gray-600;
	}
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		color: $muriel-gray-500;
	}
}
