@use 'mixins';

.newspack-ui {
	&__modal-container {
		position: fixed;
		z-index: -1;
		inset: 0;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		visibility: hidden;
		pointer-events: none;
		&__overlay {
			position: absolute;
			z-index: 1;
			inset: 0;
			opacity: 0;
			background: rgba( 0, 0, 0, 0.7 );
			transition: opacity 0.125s linear;
		}
		.newspack-ui__modal {
			position: relative;
			z-index: 2;
			width: 100%;
			transform: translateY( 50px );
			opacity: 0;
			transition: transform 0.125s linear, opacity 0.125s linear;
			@include mixins.newspack-ui-elevation(3);
		}
		&[data-state='open'] {
			z-index: 99999;
			visibility: visible;
			pointer-events: auto;
			.newspack-ui__modal-container__overlay {
				opacity: 1;
			}
			.newspack-ui__modal {
				opacity: 1;
				transform: translateY( 0 );
			}
		}
	}

	&__modal {
		// Modal styles
		background: var( --newspack-ui-color-body-bg );
		border-radius: var( --newspack-ui-border-radius-m );
		display: flex;
		flex-direction: column;
		max-height: 90vh;
		max-width: var( --newspack-ui-modal-width-m );
		overflow: auto;

		// Modal header & footer
		&__header,
		&__footer {
			padding: var( --newspack-ui-spacer-4 ) var( --newspack-ui-spacer-5 );
		}

		&__header {
			align-items: center;
			background: var( --newspack-ui-color-body-bg );
			border-bottom: 1px solid var( --newspack-ui-color-border );
			display: flex;
			justify-content: space-between;
			position: sticky;
			top: 0;
			z-index: 10;

			h2 {
				font-family: var( --newspack-ui-font-family );
				font-size: var( --newspack-ui-font-size-s );
				line-height: var( --newspack-ui-line-height-s );
				margin: 0;
			}
		}

		&__close {
			margin: -6px -6px -6px 0; // Accounts for the header padding. TODO: Can this be improved to work w/variables?
		}

		&__content {
			backface-visibility: visible;
			padding: var( --newspack-ui-spacer-5 );

			// Make sure there's enough space above the first button in modals
			.newspack-ui__button:not( :first-child ):first-of-type {
				margin-top: var( --newspack-ui-spacer-5 );
			}
		}

		&__footer {
			background: var( --newspack-ui-color-neutral-5 );
			color: var( --newspack-ui-color-neutral-60 );
			font-size: var( --newspack-ui-font-size-xs );
			line-height: var( --newspack-ui-line-height-xs );
			a {
				text-decoration: underline;
			}
		}

		// Narrow modal
		&--small {
			max-width: var( --newspack-ui-modal-width-s );
		}

		// Contents
		h3 {
			font-size: var( --newspack-ui-font-size-s );
		}

		&__footer,
		&__content {
			> *:first-child {
				margin-top: 0;
			}

			> *:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__modal-variation {
		.newspack-ui {
			&__selection {
					> *:first-child {
						margin-top: 0;
					}
			}

			&__options {
				list-style: none;
				display: flex;
				flex-wrap: wrap;
				gap: var( --newspack-ui-spacer-3 );
				margin: var( --newspack-ui-spacer-5 ) 0 0;
				padding: 0;

				&__item {
					border: 1px solid var(--newspack-ui-color-border );
					border-radius: var( --newspack-ui-border-radius-m );
					display: flex;
					flex-direction: column;
					flex: 1 1 100%;
					text-align: center;

					@include mixins.media( mobile ) {
						flex: 1 1 30%;
						max-width: calc( 33.3333% - 10px );
						&:first-child:nth-last-child( 2 ),
						&:first-child:nth-last-child( 2 ) ~ li {
							flex: 1 1 40%;
							max-width: calc( 50% - 10px );
						}
					}

					.summary {
						font-size: var( --newspack-ui-font-size-xs );
						line-height: var( --newspack-ui-line-height-xs );
						padding: var( --newspack-ui-spacer-5 ) var( --newspack-ui-spacer-2 );
						position: relative;

						.price {
							// Scale up just the primary price for a product, not the other fees:
							> .amount > bdi,
							> ins > .amount > bdi {
								display: block;
								font-weight: 600;
								font-size: var( --newspack-ui-font-size-xl );
								line-height: var( --newspack-ui-line-height-xl );
							}

							del {
								position: absolute;
								width: 100%;
								left: 0;
								top: var( --newspack-ui-spacer-base );
							}
						}
					}

					.variation {
						margin-top: auto;
						padding: var( --newspack-ui-spacer-2 );
						font-size: var( --newspack-ui-font-size-xs );
						line-height: var( --newspack-ui-line-height-xs );
						border-top: 1px solid var(--newspack-ui-color-border );
						font-weight: 600;
					}

					form {
						border-top: 1px solid var(--newspack-ui-color-border );
						padding: var( --newspack-ui-spacer-2 ) var( --newspack-ui-spacer-2 ) 0;
						button {
							display: block;
							width: 100%;
						}
					}
				}
			}
		}
	}
}
