.newspack-ui {
	&__modal-container {
		position: fixed;
		z-index: -1;
		inset: 0;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		visibility: hidden;
		pointer-events: none;
		&__overlay {
			position: absolute;
			z-index: 1;
			inset: 0;
			opacity: 0;
			background: rgba( 0, 0, 0, 0.5 );
			transition: opacity 0.1s linear;
		}
		.newspack-ui__modal {
			position: relative;
			z-index: 2;
			width: 100%;
			transform: translateY( 50px );
			opacity: 0;
			transition: transform 0.1s linear, opacity 0.1s linear;
		}
		&[data-state='open'] {
			z-index: 99999;
			visibility: visible;
			pointer-events: auto;
			.newspack-ui__modal-container__overlay {
				opacity: 1;
			}
			.newspack-ui__modal {
				opacity: 1;
				transform: translateY( 0 );
			}
		}
	}
	&__modal {
		background: var( --newspack-ui-color-body-bg );
		border-radius: var( --newspack-ui-border-radius );
		display: flex;
		flex-direction: column;
		max-height: 90vh;
		max-width: var( --newspack-ui-modal-width-medium );
		overflow: auto;

		// Modal header & footer
		&__header,
		&__footer {
			padding: var( --newspack-ui-spacer-4 ) var( --newspack-ui-spacer-5 );
		}

		&__header {
			display: flex;
			position: sticky;
			align-items: flex-start;
			justify-content: space-between;
			background: var( --newspack-ui-color-body-bg );
			border-bottom: 1px solid var( --newspack-ui-color-border );

			h2 {
				font-size: var( --newspack-ui-font-size-medium );
				margin: 0;
			}
		}

		&__close {
			margin: -2px -5px 0 0; // Offsets a padding in the SVG.
			padding: 0 0 0 8px;
			background: transparent;
			color: var( --newspack-ui-color-text-high-contrast );
			cursor: pointer;

			&:focus,
			&:hover {
				background: transparent;
				color: var( --newspack-ui-color-text-med-contrast );
			}
			svg {
				display: block;
			}
		}

		&__content {
			backface-visibility: visible;
			padding: var( --newspack-ui-spacer-5 );
			/* TODO: Decide whether to change the size base or this should be the applied rule to ensure smaller font size on modals. */
			font-size: var( --newspack-ui-font-size-small );
		}

		&__footer {
			background: var( --newspack-ui-color-gray-100 );
			color: var( --newspack-ui-color-text-med-contrast );
			font-size: var( --newspack-ui-font-size-extra-small );
			line-height: var( --newspack-ui-line-height-small );
			a {
				text-decoration: underline;
			}
		}

		// Narrow modal
		&--small {
			max-width: var( --newspack-ui-modal-width-small );
		}

		// Contents
		h3 {
			font-size: var( --newspack-ui-font-size-medium );
		}

		&__footer,
		&__content {
			> *:first-child {
				margin-top: 0;
			}

			> *:last-child {
				margin-bottom: 0;
			}
		}
	}
}
