@use 'mixins';

.newspack-ui {
	&__modal-container {
		position: fixed;
		z-index: -1;
		inset: 0;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		visibility: hidden;
		pointer-events: none;
		&__overlay {
			position: absolute;
			z-index: 1;
			inset: 0;
			opacity: 0;
			background: rgba( 0, 0, 0, 0.7 );
			transition: opacity 0.125s linear;
		}
		.newspack-ui__modal {
			position: relative;
			z-index: 2;
			width: 100%;
			transform: translateY( 50px );
			opacity: 0;
			transition: transform 0.125s linear, opacity 0.125s linear;
			@include mixins.newspack-ui-elevation(3);
		}
		&[data-state='open'] {
			z-index: 99999;
			visibility: visible;
			pointer-events: auto;
			.newspack-ui__modal-container__overlay {
				opacity: 1;
			}
			.newspack-ui__modal {
				opacity: 1;
				transform: translateY( 0 );
			}
		}
	}
	&__modal-variation {
		.newspack-ui {
			&__modal {
				&__content {
					padding: var( --newspack-ui-spacer-5 );
					overflow: auto;
					border-radius: var( --newspack-ui-border-radius-s );
					h3 {
						font-size: var( --newspack-ui-font-size-s );
						margin: 0;
					}
					p {
						font-size: var( --newspack-ui-font-size-xs );
					}
				}
			}

			&__options {
				list-style: none;
				display: flex;
				flex-wrap: wrap;
				gap: var( --newspack-ui-spacer-3 );
				margin: 0;
				padding: 0;

				&__item {
					border: 1px solid var(--newspack-ui-color-border );
					border-radius: var( --newspack-ui-border-radius-m );
					text-align: center;
					flex: 1 1 100%;
					@media ( min-width: 600px ) {
						flex: 1 1 30%;
						max-width: calc( 33.3333% - 10px );
						&:first-child:nth-last-child( 2 ),
						&:first-child:nth-last-child( 2 ) ~ li {
							flex: 1 1 40%;
							max-width: calc( 50% - 10px );
						}
					}
					.summary {
						font-size: var( --newspack-ui-font-size-xs );
						padding: var( --newspack-ui-spacer-2 );
						border-bottom: 1px solid var( --newspack-ui-color-border );
						bdi {
							display: block;
							font-weight: 600;
							font-size: 32px; // TODO: create & replace w/ a variable.
						}
					}
					.variation {
						padding: var( --newspack-ui-spacer-2 );
						font-size: var( --newspack-ui-font-size-xs );
						line-height: 1.5;
						border-bottom: 1px solid var(--newspack-ui-color-border );
						font-weight: 600;
					}
					form {
						padding: var( --newspack-ui-spacer-2 ) var( --newspack-ui-spacer-2 ) 0;
						button {
							display: block;
							width: 100%;
							font-size: var( --newspack-ui-font-size-xs );
						}
					}
				}
			}
		}
	}
	&__modal {
		// CSS Variables - update button background, with fallbacks to the Newspack UI defaults
		--newspack-ui-color-button-bg: var( --newspack-ui-color-primary, var( --newspack-ui-color-neutral-90 ) );
		--newspack-ui-color-button-text: var( --newspack-ui-color-against-primary, var( --newspack-ui-color-neutral-0 ) );

		// Modal styles
		background: var( --newspack-ui-color-body-bg );
		border-radius: var( --newspack-ui-border-radius-m );
		display: flex;
		flex-direction: column;
		max-height: 90vh;
		max-width: var( --newspack-ui-modal-width-m );
		overflow: auto;

		// Modal header & footer
		&__header,
		&__footer {
			padding: var( --newspack-ui-spacer-4 ) var( --newspack-ui-spacer-5 );
		}

		&__header {
			display: flex;
			position: sticky;
			align-items: center;
			justify-content: space-between;
			background: var( --newspack-ui-color-body-bg );
			border-bottom: 1px solid var( --newspack-ui-color-border );

			h2 {
				font-family: var( --newspack-ui-font-family );
				font-size: var( --newspack-ui-font-size-s );
				margin: 0;
			}
		}

		&__close {
			margin: -2px -5px 0 0; // Offsets a padding in the SVG.
			padding: 0 0 0 var( --newspack-ui-spacer-base );
			background: transparent;
			color: var( --newspack-ui-color-neutral-90 );
			cursor: pointer;

			&:focus,
			&:hover {
				background: transparent;
				color: var( --newspack-ui-color-neutral-70 );
			}
			svg {
				display: block;
			}
		}

		&__content {
			backface-visibility: visible;
			padding: var( --newspack-ui-spacer-5 );
		}

		&__footer {
			background: var( --newspack-ui-color-neutral-5 );
			color: var( --newspack-ui-color-neutral-60 );
			font-size: var( --newspack-ui-font-size-xs );
			line-height: var( --newspack-ui-line-height-s );
			a {
				text-decoration: underline;
			}
		}

		// Narrow modal
		&--small {
			max-width: var( --newspack-ui-modal-width-s );
		}

		// Contents
		h3 {
			font-size: var( --newspack-ui-font-size-s );
		}

		&__footer,
		&__content {
			> *:first-child {
				margin-top: 0;
			}

			> *:last-child {
				margin-bottom: 0;
			}
		}
	}
}
