// Some general overrides for WooCommerce styles.
.newspack-ui {
	label .optional {
		color: var(--newspack-ui-color-neutral-60);
		font-weight: 400;
	}

	&__modal--small {
		form p {
			margin: 0 0 var(--newspack-ui-spacer-2);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.newspack-ui__input-card {
		label {
			display: block;
		}
	}
}

// See #3292.
.woocommerce-account {
	// Inline sign up form max-width.
	.woocommerce-notices-wrapper:has(+ .newspack-reader-auth__inline-wrapper),
	.newspack-reader-auth__inline-wrapper {
		margin-left: auto;
		margin-right: auto;
		max-width: var(--newspack-ui-modal-width-s);
	}

	.newspack-reader-auth__inline-wrapper h2 {
		font-size: var(--newspack-ui-font-size-m);
		font-weight: 600;
	}
}
