// HEX
$primary-000: #dfe7f4;
$primary-050: #bfcfe9;
$primary-100: #9fb6dd;
$primary-200: #809ed2;
$primary-300: #6086c7;
$primary-400: #406ebc;
$primary-500: #2055b0;
$primary-600: #003da5;
$primary-700: #00296e;
$primary-800: #001f53;
$primary-900: #001437;
$primary-1000: #000a1c;

// RGB
$primary-000--rgb: 223, 231, 244;
$primary-050--rgb: 191, 207, 233;
$primary-100--rgb: 159, 182, 221;
$primary-200--rgb: 128, 158, 210;
$primary-300--rgb: 96, 134, 199;
$primary-400--rgb: 64, 110, 188;
$primary-500--rgb: 32, 85, 176;
$primary-600--rgb: 0, 61, 165;
$primary-700--rgb: 0, 41, 110;
$primary-800--rgb: 0, 31, 83;
$primary-900--rgb: 0, 20, 55;
$primary-1000--rgb: 0, 10, 28;
