/**
 * Secondary Navigation
 */

@import '~@wordpress/base-styles/colors';
@import '../../../shared/scss/colors';

.newspack-secondary-navigation {
	margin: 32px 0;

	ul {
		background: white;
		border-radius: 0 0 4px 4px;
		box-shadow: 0 4px 8px rgba( black, 0.08 );
		display: block;
		flex-wrap: wrap;
		margin: 0;
		position: relative;
		text-align: center;

		@media screen and ( min-width: 744px ) {
			margin-left: 32px;
			margin-right: 32px;
		}
	}

	li {
		display: inline-block;
		margin: 0;
		padding: 0;

		& + li::before {
			color: inherit;
			content: '|';
			margin: 0 8px;
		}
	}

	a {
		//background: $light-gray-500;
		box-sizing: border-box;
		color: $dark-gray-900;
		display: inline-block;
		height: 100%;
		margin: 0;
		padding: 8px;
		text-decoration: none;

		&:active,
		&:focus,
		&:hover {
			background: white;
		}

		&:focus {
			outline: none;
			box-shadow: inset 0 0 0 2px $primary-500;
		}

		&.selected {
			background: white;
			color: $primary-500;
		}
	}
}
