/**
 * Configure Landing Page
 */

@import '~@wordpress/base-styles/colors';

.newspack-memberships-page-wizard-wizard__notice {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	margin: 32px 0;

	svg {
		display: block;
		fill: $alert-green;
		margin-left: 4px;
	}
}
