// Fix sharedaddy margin.
.sharedaddy .sd-sharing {
	margin-bottom: 0;
}

.newspack-content-gifting {
	&__gift-button {
		float: right;
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 1rem;
		gap: 0.25rem;
		svg {
			width: 1.2rem;
			height: 1.2rem;
		}
	}
}
