/**
 * Style Card
 */

@import '../../../shared/scss/colors';
@import '~@wordpress/base-styles/colors';

.newspack-style-card {
	margin: 32px 0;
	width: 100%;

	// Title
	&__title {
		color: $gray-900;
		font-weight: bold;
		margin: 16px 0 0;
		text-align: center;

		.newspack-style-card__is-active & {
			color: $primary-500;
		}
	}

	// Image
	&__image {
		border: 1px solid $gray-300;
		border-radius: 3px;
		overflow: hidden;
		position: relative;

		&:hover,
		&:focus,
		&:focus-within {
			.newspack-style-card__actions,
			.newspack-style-card__actions .newspack-button {
				opacity: 1;
			}
		}

		img,
		svg {
			display: block;
			height: auto;
			max-width: 100%;
		}

		svg {
			fill: $gray-900; // NEEDS CHECK
			margin: 8px;
		}

		.newspack-style-card__is-active & {
			border-color: $primary-500;
			box-shadow: inset 0 0 0 2px $primary-500;

			img {
				position: relative;
				z-index: -1;
			}
		}
	}

	// Actions
	&__actions {
		align-items: center;
		background: rgba( white, 0.9 );
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		left: 0;
		opacity: 0;
		padding: 16px;
		position: absolute;
		right: 0;
		top: 0;
		transition: opacity 125ms ease-in-out;

		&:empty {
			display: none;
		}

		.newspack-button {
			margin: 4px;
			opacity: 0;
			transition: opacity 125ms ease-in-out;
		}

		.newspack-style-card__is-active & {
			box-shadow: inset 0 0 0 2px $primary-500;
		}
	}
}
