[data-type="newspack/avatar"] {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;

	&[class*="is-style-stacked"] {
		gap: 0;

		.newspack-avatar-wrapper:not(:first-of-type) {
			display: inline-block;
			margin: 0 -1.5rem;
			position: relative;
		}
	}
}
.wp-block-newspack-avatar {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;

	&.is-style-stacked {
		gap: 0;

		.newspack-avatar-wrapper:not(:first-of-type) {
			display: inline-block;
			margin: 0 -1.5rem;
			position: relative;
		}
	}
}
