/**
 * Button Group
 */

@import '../../../shared/scss/colors';
@import '~@wordpress/base-styles/colors';

.newspack-button-group {
	display: block;
	&:not( .newspack-button-group--no-margin ) {
		margin: 32px 0;
	}

	.newspack-button {
		padding: 11px 17px !important;
		&:active,
		&:focus,
		&:hover,
		&.is-pressed {
			position: relative;
		}

		&.is-pressed {
			position: relative;
			z-index: 2;
			background-color: $primary-050 !important;
			color: $dark-gray-900 !important;
			border: none !important;
			&:focus {
				box-shadow: 0 0 0 1px white, 0 0 0 2px $primary-500 !important;
			}
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: calc( 100% - 6px );
				height: calc( 100% - 6px );
				border: 3px solid $primary-500;
			}
		}
	}
}

body[class*='admin-color-'] {
	.newspack-button-group {
		.newspack-button {
			border-radius: 0;
			box-shadow: none;

			&:first-child {
				&,
				&::after {
					border-bottom-left-radius: 3px;
					border-top-left-radius: 3px;
				}
			}

			&:last-child {
				&,
				&::after {
					border-bottom-right-radius: 3px;
					border-top-right-radius: 3px;
				}
			}
		}
	}
}
