// Source: https://wordpress.org/plugins/organic-profile-block/

.wp-block-organic-profile-block {
	display: flex;
	align-items: stretch;
	background-color: #fff;
	margin: 32px 0;
	ul,
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.organic-profile-image {
		display: flex;
		align-items: center;
		background-size: cover;
		background-position: center;
		width: 60%;
		overflow: hidden;
	}
	.organic-profile-image figure {
		margin: 0;
	}
	.organic-profile-image img {
		opacity: 0;
		margin: -9999px;
	}
	.organic-profile-content {
		width: 100%;
		align-self: center;
		padding: 36px;
		box-sizing: border-box;
	}
	.organic-profile-content h3 {
		margin: 0;
		padding: 0;
	}
	.organic-profile-content h5 {
		color: rgba(0, 0, 0, 0.4);
		text-transform: uppercase;
		margin: 0;
		padding: 8px 0;
	}
	.organic-profile-content p {
		line-height: 1.6;
		margin: 0;
		padding: 8px 0;
	}
	.organic-profile-social {
		padding-top: 12px;
	}
	.organic-profile-social:empty {
		display: none;
	}
	.organic-profile-social .social-link {
		color: rgba(0, 0, 0, 0.24);
		padding: 6px 12px;
		font-size: 18px;
		text-decoration: none;
		border-left: 1px solid rgba(0, 0, 0, 0.12);
		border-bottom: none;
		box-shadow: none;
	}
	.organic-profile-social .social-link:hover {
		color: rgba(0, 0, 0, 1);
	}
	.organic-profile-social .social-link:first-child {
		border: none;
	}
}

@media screen and ( max-width: 767px ) {
	.wp-block-organic-profile-block {
		flex-direction: column;
		.organic-profile-image {
			background: none !important;
			width: 100%;
		}
		.organic-profile-image img {
			opacity: 1;
			margin: 0 auto;
		}
	}
}
