:root {
	// Grays - notes from the Gutenberg styles.
	// TODO: Import from 'wordpress/base-styles/colors' ?
	--newspack-ui-color-black: #000;		// Use only when you truly need pure black. For UI, use $gray-900.
	--newspack-ui-color-gray-900: #1e1e1e;
	--newspack-ui-color-gray-800: #2f2f2f;
	--newspack-ui-color-gray-700: #757575;	// Meets 4.6:1 text contrast against white.
	--newspack-ui-color-gray-600: #949494;	// Meets 3:1 UI or large text contrast against white.
	--newspack-ui-color-gray-400: #ccc;
	--newspack-ui-color-gray-300: #ddd;		// Used for most borders.
	--newspack-ui-color-gray-200: #e0e0e0;	// Used sparingly for light borders.
	--newspack-ui-color-gray-100: #f0f0f0;	// Used for light gray backgrounds.
	--newspack-ui-color-white: #fff;

	// Alert colors
	--newpsack-ui-color-alert-yellow: #f0b849;
	--newspack-ui-color-alert-green: #4ab866;
	--newspack-ui-color-alert-red: #cc1818;
	// --newpsack-ui-color-alert-yellow-bg: TBD
	--newspack-ui-color-alert-green-bg: #edfaef;
	--newpsack-ui-color-alert-red-bg: #fcf0f1;

	// Theme variables - from the classic theme; overridden in class-newspack-ui.php for block theme.
	--newspack-ui-color-primary: var( --newspack-theme-color-primary );
	--newspack-ui-color-against-primary: var( --newspack-theme-color-against-primary );

	// Specific assignments - general:
	--newspack-ui-color-text-high-contrast: var( --newspack-ui-color-gray-900 );
	--newspack-ui-color-text-med-contrast: var( --newspack-ui-color-gray-700 );
	--newspack-ui-color-border: var( --newspack-ui-color-gray-300 );
	--newspack-ui-color-body-bg: var( --newspack-ui-color-white );

	// Specific assignments - form elements
	--newspack-ui-color-button-bg: var( --newspack-ui-color-gray-900 );
	--newspack-ui-color-button-bg-hover: var( --newspack-ui-color-gray-800 ); // TODO: Replace w/correct value.
	--newspack-ui-color-button-text: var( --newspack-ui-color-white );
	--newspack-ui-color-button-text-hover: var( --newspack-ui-color-white );
	--newspack-ui-color-radio-bg: var( --newspack-ui-color-gray-900 );
}