:root {
	// Fonts - general
	--newspack-ui-font-family: system-ui, sans-serif;
	--newspack-ui-font-weight-strong: 600;

	// Fonts - sizes
	--newspack-ui-font-size-2xs: 12px; // line-height: 1.3333
	--newspack-ui-font-size-xs: 14px; // line-height: 1.4286
	--newspack-ui-font-size-s: 16px; // line-height: 1.5
	--newspack-ui-font-size-m: clamp(1.125rem, 0.929rem + 0.402vw, 1.25rem); // line-height: 1.6
	--newspack-ui-font-size-l: clamp( 1.25rem, 0.857rem + 0.803vw, 1.5rem ); // line-height: 1.5
	--newspack-ui-font-size-xl: clamp( 1.375rem, 0.394rem + 2.008vw, 2rem ); // line-height: 1.375
	--newspack-ui-font-size-2xl: clamp( 1.625rem, 0.055rem + 3.213vw, 2.625rem ); // line-height: 1.3333
	--newspack-ui-font-size-3xl: clamp( 1.75rem, -0.213rem + 4.016vw, 3rem ); // line-height: 1.25
	--newspack-ui-font-size-4xl: clamp( 2rem, -1.141rem + 6.426vw, 4rem ); // line-height: 1.125
	--newspack-ui-font-size-5xl: clamp( 2.125rem, -2.39rem + 9.237vw, 5rem ); // line-height: 1.1
	--newspack-ui-font-size-6xl: clamp( 2.25rem, -3.639rem + 12.048vw, 6rem ); // line-height: 1.0833

	// Fonts - line heights. TODO: sort this out:
	--newspack-ui-line-height-l: 1.7143; // inputs, buttons
	--newspack-ui-line-height-m: 1.5; // 16px font size
	--newspack-ui-line-height-s: 1.4286; // 14px font sizes
}
