.newspack-dashboard__pill {
    --np-wizard-pill-bg: #f3f3f3;

    background-color: var(--np-wizard-pill-bg);
    font-weight: 600;
    border-radius: 26px;
    padding: 16px 24px;

    &.newspack-dashboard__pill-success {
        --np-wizard-pill-bg: #E6F2E8;

        background-color: var(--np-wizard-pill-bg);

        span {
            color: #007017;
        }
    }

    &.newspack-dashboard__pill-error {
        --np-wizard-pill-bg: #F7EBEC;

        background-color: var(--np-wizard-pill-bg);

        span {
            color: #B32D2E;
        }
    }
}