@import '../../../shared/scss/muriel-component';

.newspack-wizard {
	.newspack-logo-wrapper {
		display: flex;
		justify-content: center;
		margin: 2em 0 0;

		.newspack-logo {
			display: block;
		}
	}
}

.muriel-wizardScreen__loading {
	.muriel-wizardScreen {
		position: relative;

		&:after {
			display: block;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $muriel-white;
			opacity: 0.8;
			z-index: 102; /* Toggle arrows from Select components are at z-index: 101 */
		}

		&:before {
			display: block;
			position: absolute;
			content: "";
			z-index: 103;
			left: 0;
			top: 0;
			width: 10%;
			height: 4px;
			background-color: $primary-color;
			animation: loading 2s linear infinite;
		}

		&.muriel-wizardScreen__no-background {
			&:after {
				background: #f1f1f1; /* WP admin bg color */
			}
		}
	}

	.muriel-button {
		opacity: 0.3;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

@keyframes loading {
    from { left: 0; width: 10%; }
    50% { width: 30%; }
    75% { width: 20%; }
    to { left: 90%; width: 10% }
}
