@import url('~tachyons/css/tachyons.min.css');

:root {
	--np-font-size: 16px;
	--np-header-height: 64px;
	/* Sections */
	--np-section-width: 1040px;
	--np-section-space: 24px;
	--np-section-child-space: 16px;
	/** 
	 * Colors 
	 */
	/* node_modules/@wordpress/base-styles/_colors.scss */
	--np-color-wp-gray-700: #757575;
	--np-color-wp-gray-900: #1e1e1e;
}

html {
	font-size: 16px;
}

h1 {
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.25;
	margin-block: 0 2.5rem;
}

/**
 * Utils
 */
.gray-700 {
	color: var(--np-color-wp-gray-700);
}

/**
 * Wizards
 */
.newspack-wizard-page {
	#screen-meta-links {
		position: absolute;
		right: 0;
	}
}
.newspack-wizard {

	.newspack-wizard__loader {
		height: 100%;
		position: absolute;
		width: 100%;
		display: flex;

		>div {
			position: relative;
			margin: auto;
			text-align: center;
		}

		span {
			display: block;
			color: #757575;
			animation: opacity-pulse 1.4s infinite ease-in-out;
		}
	}

	&.newspack-dashboard {
		.newspack-dashboard__section {
			&:first-of-type {
				margin-top: 3.5rem;
			}
		}
	}
}

.newspack-wizard__sections {
	margin: 0 auto;
	padding: 2.5rem 1rem 0;
	max-width: calc(calc(var(--np-section-space) * 2) + var(--np-section-width));
}

.newspack-wizard__section {
	margin-block-end: 4rem;

	&:last-child {
		margin-block-end: 0;
	}

	p {
		margin-block: 0 1.5rem;
	}
}

.newspack-dashboard__section {
	margin: 0 auto;
	max-width: calc(calc(var(--np-section-space) * 2) + var(--np-section-width));
	padding: 0 var(--np-section-space);


	>h3 {
		font-size: 1.25rem;
		font-weight: normal;
		line-height: 1.75;
		margin-bottom: calc(var(--np-section-child-space) / 2);
	}

	>p {
		color: var(--np-color-wp-gray-700);
		margin: 0;
	}

	a {
		text-decoration: none;
	}

	.newspack-grid:not(.newspack-grid--no-margin) {
		--np-dash-card-icon-size: 80px;

		margin: 1.5rem 0 2rem;
	}
}

// tachyons overrides
table.fixed {
	position: static;
	table-layout: fixed;
}
.wrap *:not( textarea, input ) {
	box-sizing: unset;
}

// Overrides
.newspack-wizard__sections .newspack-wizard__section {
	.newspack-section-header:first-child {
		margin-block: 0 2rem;
	}
}

.newspack-card.newspack-action-card+.newspack-card.newspack-action-card {
	margin-top: 0;
}

.newspack-card {
	margin-block: 0 1rem;

	&:last-child {
		margin-bottom: 0;
	}

	&.newspack-action-card {
		.newspack-action-card__notification {
			&.newspack-action-card__region-children {
				.newspack-notice {
					margin-top: 1rem;
				}
			}
		}

		&.is-medium {
			.newspack-action-card__region-children:not(:last-child) {
				padding-bottom: 0;
				padding-top: 2rem;

				.newspack-notice {
					margin-top: 0;
				}
			}
		}
	}
}

@keyframes gradient-left-to-right {
	to {
		transform: translateX(100%);
	}
}

@keyframes opacity-pulse {

	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}
}