@import url('~tachyons/css/tachyons.min.css');

:root {
	--np-font-size: 16px;
	--np-header-height: 64px;
	/* Sections */
	--np-section-width: 1040px;
	--np-section-space: 24px;
	--np-section-child-space: 16px;
	/** 
	 * Colors 
	 */
	/* node_modules/@wordpress/base-styles/_colors.scss */
	--np-color-wp-gray-700: #757575;
	--np-color-wp-gray-900: #1e1e1e;
}

html {
	font-size: 16px;
}

h1 {
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.25;
	margin-block: 40px;
}

/* Utils */

p:has(span.newspack-text-overflow) {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.newspack-wizard {

	.newspack-wizard__loader {
		height: 100%;
		position: absolute;
		width: 100%;
		display: flex;

		>div {
			position: relative;
			margin: auto;
			text-align: center;
		}

		span {
			display: block;
			color: #757575;
			animation: opacity-pulse 1.4s infinite ease-in-out;
		}
	}

	&.newspack-dashboard {
		.newspack-dashboard__section {
			&:first-of-type {
				margin-top: 56px;
			}
		}
	}
}

.newspack-dashboard__section {
	margin: 0 auto;
	max-width: calc(calc(var(--np-section-space) * 2) + var(--np-section-width));
	padding: 0 var(--np-section-space);


	>h3 {
		font-size: 20px;
		font-weight: normal;
		line-height: 28px;
		margin-bottom: calc(var(--np-section-child-space) / 2);
	}

	>p {
		color: var(--np-color-wp-gray-700);
		margin: 0;
	}

	a {
		text-decoration: none;
	}

	.newspack-grid:not(.newspack-grid--no-margin) {
		--np-dash-card-icon-size: 80px;

		margin: 24px 0 32px;
	}
}

// Overrides
.newspack-card {
	&.newspack-action-card {
		.newspack-action-card__notification {
			&.newspack-action-card__region-children {
				.newspack-notice {
					margin-top: 16px;
				}
			}
		}

		&.is-medium {
			.newspack-action-card__region-children:not(:last-child) {
				padding-bottom: 0;
				padding-top: 32px;

				.newspack-notice {
					margin-top: 0;
				}
			}
		}
	}
}

@keyframes gradient-left-to-right {
	to {
		transform: translateX(100%);
	}
}

@keyframes opacity-pulse {

	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}
}