/**
 * Plugin Toggle
 */

@import '~@wordpress/base-styles/colors';

.newspack-action-card {
	&.in-flight,
	&.loading {
		opacity: 0.5;

		.newspack-action-card__region-right {
			.newspack-button {
				color: $dark-gray-300;
				pointer-events: none;
				text-decoration: none;
			}
		}
	}
}
