@use "breakpoints" as bp;
@use "intro";

/* Collections archive template styles */
.post-type-archive-newspack_collection {
	main#main {
		width: 100%;
	}

	hr {
		margin: 16px 0;
	}

	.collections-filter {
		font-size: var(--newspack-theme-font-size-base-sm);
		gap: 16px;
		display: flex;
		flex-wrap: wrap;
		justify-content: right;
		margin-bottom: 16px;

		&__select {
			align-items: center;
			display: inline-flex;
			flex: 1 1 100%;
			flex-wrap: wrap;
			gap: 0.5em;

			select {
				width: 100%;
			}

			@media #{bp.$media-sm-up} {
				flex: 1;
			}

			@media #{bp.$media-md-up} {
				flex: 0 0 auto;

				select {
					width: 128px;
				}
			}
		}
	}

	.collections-grid {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 32px;
		margin-top: 32px;

		&--introduction__card {
			grid-column: span 1;
		}

		&__content {
			grid-column: span 5;
		}

		&__meta {
			margin-bottom: 24px;

			h2 {
				margin: 0 0 8px 0;
			}

			p {
				margin: 0;
			}
		}

		@media #{bp.$media-sm-up} {
			grid-template-columns: repeat(3, minmax(0, 1fr));
			gap: 16px;
		}

		@media #{bp.$media-md-up} {
			gap: 32px;
		}

		@media #{bp.$media-lg-up} {
			grid-template-columns: repeat(6, minmax(0, 1fr));
		}
	}
}
