@use "breakpoints";

/* Common collection elements */
.collection-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.collection-image {
	a {
		display: block;
		width: 100%;
	}

	img {
		width: 100%;
		height: auto;
		display: block;
		aspect-ratio: 3 / 4;
		object-fit: cover;
	}
}

.collection-placeholder {
	aspect-ratio: 3 / 4;
}

.collection-item {
	display: flex;
	flex-direction: column;

	.collection-content {
		h3 {
			margin: 24px 0 0;

			a {
				color: var(--newspack-theme-color-text-main);
			}
		}
	}
}

.wp-block-newspack-collections__ctas {
	a.cta--subscribe_link {
		background-color: var(--newspack-primary-color);
		color: var(--newspack-primary-contrast-color);
	}
}
