@use '~@wordpress/base-styles/colors' as wp-colors;

.newspack-accordion {
	border: 1px solid wp-colors.$gray-300;

	&__icon {
		transition: transform 200ms ease-out;
	}

	&--is-open {
		.newspack-accordion {
			&__icon {
				transform: rotate( -180deg );
			}
		}
	}
	summary {
		padding: 18px 24px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}
}
