/**
 * Theme Selection Screen
 */

.newspack-toggle-group {
	+ .newspack-text-control {
		margin-top: -16px;
	}

	> .newspack-toggle-control {
		margin: 0;
	}

	.newspack-toggle-group__description {
		.newspack-toggle-control,
		.newspack-text-control {
			margin: 8px 0 0 -44px;
		}
	}
}
