.newspack-card.newspack-action-card.reader-revenue {
	.newspack-section-header {
		margin-bottom: 32px;
	}

	.newspack-donations-wizard__money-input .components-base-control {
		margin: 0;
	}

	.newspack-grid + h2 {
		margin-top: 32px;
	}

	.newspack-payment-setup-screen__api-keys-instruction {
		margin-bottom: 16px;
	}
}
