/**
 * Select Control
 */

@import '../../../shared/scss/colors';
@import '~@wordpress/base-styles/colors';

.newspack-select-control {
	color: $dark-gray-300;
	font-size: 14px;
	line-height: 24px;
	margin: 32px 0;
	width: 100%;

	label {
		color: $dark-gray-900;
		font-size: inherit;
		font-weight: bold;
		line-height: inherit;
		margin: 0;
	}

	select {
		background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z' fill='%23191e23'/%3E%3C/svg%3E") no-repeat right 8px top 50%;
		background-size: 24px 24px;
		border: 1px solid $light-gray-500;
		border-radius: 3px;
		box-shadow: none;
		color: inherit;
		font-size: 16px;
		line-height: inherit;
		margin: 0;
		max-width: 100%;
		min-height: 48px;
		padding: 11px 8px;
		transition: border-color 125ms ease-in-out, box-shadow 125ms ease-in-out;
		width: 100%;

		@media screen and ( min-width: 768px ) {
			font-size: inherit;
		}

		&:focus {
			border-color: $primary-600;
			box-shadow: 0 0 0 2px $primary-500;
			color: $primary-500;
		}

		&:disabled,
		&.disabled {
			background: $light-gray-100 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z' fill='%23a2aab2'/%3E%3C/svg%3E") no-repeat right 8px top 50%;
			color: $light-gray-900;
			cursor: not-allowed;
			text-shadow: none;
		}
	}

	// Multiple Select Controls

	& + & {
		margin-bottom: 32px;
		margin-top: -16px;
	}

	// Multiple Controls

	& + .newspack-text-control,
	& + .newspack-textarea-control {
		margin-bottom: 32px;
		margin-top: -16px;
	}

	// Reset

	.components-base-control__field,
	.components-base-control__label {
		display: block;
		margin: 0;
	}
}
