/**
 * Select dropdown component styles.
 */

@import '../../../shared/scss/muriel-component';

.muriel-select {
	background: $muriel-white;
	border: 1px solid $muriel-gray-200;
	border-radius: 0;
	box-shadow: none;
	padding: 12px 12px 4px;
	position: relative;

	/* Down arrow icon: */
	&::after {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5H7z' fill='%23636d75'/%3E%3C/svg%3E");
		content: "";
		display: block;
		height: 24px;
		margin-top: -12px;
		pointer-events: none; /* click-through to the underlying element */
		position: absolute;
		right: 12px;
		top: 50%;
		width: 24px;
		z-index: 101;
	}

	label {
		color: $muriel-gray-500;
		font-size: 14px;
		line-height: 21px;

		&.components-base-control__label {
			margin: 0;
		}
	}

	select {
		border: 0;
		box-shadow: none;
		font-size: 16px;
		height: 21px;
		line-height: 21px;
		margin: 0;
		padding: 0;

		/* Hide the default down-arrow: */
		-moz-appearance: none; /* for Firefox */
		-webkit-appearance: none; /* for Chrome */
		appearance: none;
		&::-ms-expand {
			display: none; /* For IE10 */
		}

		&:focus {
			box-shadow: 0 0 0 12px $muriel-white, 0 0 0 13px $primary_color_darker, 0 0 0 15px $primary_color_lighter;
		}
	}

	&.active {
		label {
			display: none;
		}
		select {
			color: $muriel-gray-800;
		}
	}

	&.with-value {
		select {
			color: $muriel-gray-800;

			&:focus {
				box-shadow: none;
			}
		}
	}

	&.empty {
		input {
			color: $muriel-gray-500;
		}
	}

	&.disabled {
		label {
			color: $muriel-gray-200;
		}
		select {
			display: none;
		}
	}
}
