/**
 * Color Picker
 */

@import '../../../shared/scss/colors';
@import '~@wordpress/base-styles/colors';

.newspack-color-picker {
	position: relative;
	margin: 32px 0;

	&__main {
		height: 45px;
	}
	&__expander {
		padding: 9px 9px 9px 12px;
		justify-content: space-between;
		&,
		> div {
			display: flex;
			align-items: center;
		}
		div + div {
			margin-left: 8px;
		}
	}
	&__indicator {
		width: 24px;
		height: 24px;
		overflow: hidden;
		border-radius: 50%;
	}
	&__label {
		align-items: center;
		color: $dark-gray-900;
		display: flex;
		font-weight: bold;
	}

	&__expander,
	.components-color-picker {
		background-color: #fff;
		border: 1px solid $light-gray-500;
		border-radius: 3px;
		&--expanded {
			border-bottom: none;
			border-radius: 3px 3px 0 3px;
		}
	}
	.components-color-picker {
		padding: 9px 12px;
		position: relative;
		z-index: 1;
		padding-top: 0;
		border-top: none;
		border-radius: 0 3px 3px 3px;
	}

	// Overrides of @wordpress/components component

	// Inputs

	.components-color-picker__inputs-fields {
		margin-right: 8px;
	}

	.components-color-picker__inputs-field {
		color: $dark-gray-300;
		font-size: 14px;
		line-height: 24px;
		margin: 0;

		+ .components-color-picker__inputs-field {
			margin-left: 4px;
		}

		label {
			color: $dark-gray-900;
			font-size: inherit;
			font-weight: bold;
			line-height: inherit;
			margin: 0;
		}

		input[type='number'],
		input[type='text'] {
			background: white;
			border: 1px solid $light-gray-500;
			border-radius: 3px;
			box-shadow: none;
			color: inherit;
			font-size: 16px;
			line-height: inherit;
			margin: 0;
			min-height: 48px;
			padding: 11px 8px;
			transition: border-color 125ms ease-in-out, box-shadow 125ms ease-in-out;
			width: 100%;

			@media screen and ( min-width: 768px ) {
				font-size: inherit;
			}

			&:focus {
				border-color: $primary-500;
				box-shadow: 0 0 0 2px $primary-500;
			}
		}

		// Reset

		.components-base-control__field,
		.components-base-control__label {
			display: block;
			margin: 0;
		}
	}

	.components-color-picker__inputs-toggle {
		height: 36px;
		margin-bottom: 6px;
	}
}
