/**
 * Newspack Logo
 */

@use "../../../shared/scss/colors";

.newspack-logo {
	&__svg {
		display: block;
		fill: currentcolor;
		margin: 0;
		padding-bottom: 32px;
		width: auto;

		&.is-centered {
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__wrapper {
		background: colors.$primary-500;
		color: white;
		position: relative;

		a {
			color: inherit;
		}
	}
}
