/**
 * Modal
 */

@import '../../../shared/scss/colors';

.newspack-modal {
	// Color
	--wp-admin-theme-color: #{$primary-500};
	--wp-admin-theme-color--rgb: #{$primary-500--rgb};
	--wp-admin-theme-color-darker-10: #{$primary-600};
	--wp-admin-theme-color-darker-10--rgb: #{$primary-600--rgb};
	--wp-admin-theme-color-darker-20: #{$primary-700};
	--wp-admin-theme-color-darker-20--rgb: #{$primary-700--rgb};

	@media screen and ( min-width: 744px ) {
		max-width: 680px;
		width: 680px;

		&--wide {
			max-width: 1168px;
			width: 1168px;
		}
	}

	&--narrow {
		max-width: 360px;
		width: 360px;
	}

	// Links
	a {
		color: var( --wp-admin-theme-color );

		&:active,
		&:focus,
		&:hover {
			color: var( --wp-admin-theme-color-darker-10 );
		}

		&:focus {
			box-shadow: 0 0 0 var( --wp-admin-border-width-focus ) var( --wp-admin-theme-color );
			outline: 3px solid transparent;
		}
	}

	.components-modal__content {
		> *:last-child {
			margin-bottom: 8px;
		}
	}
}
