/**
 * Modal
 */

@import '../../../shared/scss/colors';
@import '~@wordpress/base-styles/colors';

.newspack-modal {
	background: white;
	border: 0;
	box-shadow: 0 8px 16px rgba( black, 0.08 );
	color: $dark-gray-300;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	padding: 0 48px;
	width: 100%;

	@media screen and ( min-width: 600px ) {
		border-radius: 4px;
		max-width: 80%;
		max-width: calc(100% - 64px);
	}

	@media screen and ( min-width: 744px ) {
		max-width: 680px;
		padding: 0 64px;
	}

	// Header

	.components-modal__header {
		background: white;
		border: none;
		height: auto;
		margin: 0;
		padding: 48px 0 32px;

		@media screen and ( min-width: 744px ) {
			padding-top: 64px;
		}

		.components-modal__header-heading-container {
			display: block;
		}

		.components-button.has-icon {
			height: auto;
			left: auto;
			padding: 12px;
			position: absolute;
			right: -48px;
			top: 0;

			@media screen and ( min-width: 744px ) {
				right: -64px;
			}

			svg {
				width: 24px;
				height: 24px;

				& + span {
					display: none;
				}
			}

			&:not(:disabled):not([aria-disabled="true"]):not(.is-default):hover,
			&:not(:disabled):not([aria-disabled="true"]):not(.is-default):active {
				border: none;
				box-shadow: none;
			}
		}

		.components-modal__header-heading {
			color: $dark-gray-900;
			font-size: 20px;
			font-weight: bold;
			line-height: 24px;
			text-align: center;
		}
	}

	// Content

	.components-modal__content {
		margin: -32px 0 0;
		padding: 0 0 16px;

		@media screen and ( min-width: 744px ) {
			padding-bottom: 32px;
		}
	}

	// Typography

	h2,
	p {
		line-height: 24px;
		margin: 32px 0;
		padding: 0;
	}

	h2 {
		color: $dark-gray-900;
		font-size: 17px;
		font-weight: bold;
	}

	p {
		font-size: 14px;

		&.is-dark {
			color: $dark-gray-900;
		}
	}

	// Thematic Break

	hr {
		background: $light-gray-500;
		border: 0;
		height: 1px;
		margin: 48px -48px;

		@media screen and ( min-width: 744px ) {
			margin: 64px -64px;
		}
	}
}

// Overlay

.newspack-modal__overlay {
	background: rgba( $primary-500, 0.8 );
}

// Small Screens

@media (max-width: 599px) {
	.newspack-modal {
		top: auto;

		.components-modal__content {
			height: auto;
		}
	}
}
