/**
 * Modal
 */

@import '../../../shared/scss/colors';
@import '~@wordpress/base-styles/colors';

.newspack-modal {
	background: white;
	border: 0;
	color: $gray-700;
	font-size: 14px;
	line-height: 24px;
	margin: auto;
	max-height: 100%;
	width: 100%;

	@media screen and ( min-width: 600px ) {
		border-radius: 3px;
		max-width: 80%;
		max-width: calc( 100% - 64px );
	}

	@media screen and ( min-width: 744px ) {
		max-width: 680px;

		&--wide {
			max-width: 1168px;
		}
	}

	&--narrow {
		max-width: 360px;
	}

	// Header

	.components-modal__header {
		align-items: flex-start;
		background: white;
		border: 0;
		height: auto;
		justify-content: flex-end;
		margin: 0 -32px 0;
		padding: 32px 32px 0;
		position: relative;

		.components-modal__header-heading-container {
			display: block;
			margin-right: 16px;
		}

		.components-button.has-icon {
			flex: 0 0 36px;
			left: 0;
			margin: -2px 0;

			&:hover,
			&[aria-expended='true'] {
				color: $primary-500;
			}

			&:focus:not( :disabled ) {
				box-shadow: 0 0 0 2px $primary-500;
			}

			svg {
				width: 24px;
				height: 24px;

				+ span {
					display: none;
				}
			}
		}

		.components-modal__header-heading {
			color: $gray-900;
			font-size: 21px;
			font-weight: bold;
			line-height: 32px;
		}
	}

	// Content

	.components-modal__content {
		padding: 0 32px;
		margin: 0;

		&::before {
			display: none;
		}
	}

	// Typography

	h2,
	p {
		line-height: 24px;
		margin: 32px 0;
		padding: 0;
	}

	h2 {
		color: $gray-900;
		font-size: 17px;
		font-weight: bold;
	}

	p {
		font-size: 14px;

		&.is-dark {
			color: $gray-900;
		}
	}

	// Thematic Break

	hr {
		background: $gray-300;
		border: 0;
		height: 1px;
		margin: 48px -48px;

		@media screen and ( min-width: 744px ) {
			margin: 64px -64px;
		}
	}

	// Links

	a {
		color: $primary-500;

		&:active,
		&:focus,
		&:hover {
			color: $primary-600;
			text-decoration: none;
		}

		&:focus {
			box-shadow: none;
			outline: 2px solid $primary-500;
			outline-offset: 2px;
		}
	}
}

// Overlay

.newspack-modal__overlay {
	background: rgba( black, 0.7 );
}

// Small Screens

@media ( max-width: 599px ) {
	.newspack-modal {
		top: auto;

		.components-modal__content {
			height: auto;
		}
	}
}
