/**
 * Segment group
 */

@import '~@wordpress/base-styles/colors';
@import '../../../../shared/scss/colors';

.newspack-campaigns__segment-group {
	&__select-control-group-header {
		color: #ccc;
	}
	&__select-control-group-item {
		padding-left: 36px;
	}
	&__description {
		color: $dark-gray-300;
		display: block;
		font-size: 12px;
		font-weight: normal;
		line-height: 16px;
	}
	&__card {
		border-color: $light-gray-500;
		overflow: hidden;

		& > &__segment {
			margin: -16px -16px 0 !important;
		}

		&__segment {
			align-items: center;
			background: $light-gray-100;
			border-bottom: 1px solid $light-gray-500;
			display: flex;
			justify-content: space-between;

			&-title {
				flex: 1;
				padding: 8px 16px;

				h3 {
					margin: 0;

					.newspack-button.is-link:not( .is-destructive ) {
						color: inherit;
						font-weight: inherit;
						text-decoration: none;
					}
				}
			}

			&-actions {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-end;
				padding: 9px 15px;

				.newspack-button:not( .components-menu-item__button ) {
					margin: 1px;
				}

				.newspack-popover {
					margin-left: calc(
						-25px + 36px / 2
					); // 25px is set by Gutenberg, 36px / 2 is half of the container's width
				}
			}
		}
	}

	&__action-cards {
		margin: 0 -16px;

		.newspack-card.newspack-action-card {
			border-bottom: 0;
			border-left: 0;
			border-radius: 0;
			border-right: 0;
			margin-bottom: 16px;

			&:first-child {
				border-top: 0;
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: -16px;
			}
		}
	}

	&__add-new-button {
		&__modal {
			max-width: 384px;
			padding: 0 32px;

			.components-modal__content {
				margin: 0;
			}

			.components-modal__header {
				background: transparent;
				padding-top: 32px;

				.components-button.has-icon {
					right: -32px;
				}
			}

			.newspack-text-control {
				margin-top: 0;
			}

			.newspack-card__buttons-card {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-end;
				margin: -8px;

				&.newspack-card__buttons-prompt {
					justify-content: center;
				}
			}
		}
	}
}
