.newspack-ui {
	.position-absolute {
		position: absolute;
	}

	.position-fixed {
		position: fixed;
	}

	.position-inherit {
		position: inherit;
	}

	.position-initial {
		position: initial;
	}

	.position-relative {
		position: relative;
	}

	.position-static {
		position: static;
	}

	.position-sticky {
		position: sticky;
	}
}
