.newspack-ui__word-divider {
	align-items: center;
	display: flex;
	font-size: var(--newspack-ui-font-size-xs);
	gap: var(--newspack-ui-spacer-2);
	justify-content: space-evenly;
	margin: var(--newspack-ui-spacer-5) 0;

	&::before,
	&::after {
		border-top: 1px solid var(--newspack-ui-color-border);
		content: "";
		display: block;
		width: 100%;
	}
}
