@import '../../shared/scss/muriel-component';

.newspack-newsletter-block-wizard__jetpack-info {
	p:first-of-type {
		margin-top: 0;
	}

	p:last-of-type {
		margin-bottom: 0;
	}
}

.newspack-newsletter-block-wizard__jetpack-success {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-weight: 500;

	.dashicon {
		color: $primary-color;
		margin-right: .5em;
	}
}

.muriel-button.is-centered.newspack-newsletter-block-wizard__jetpack-handoff {
	display: flex;
	align-items: center;
	justify-content: center;

	.dashicon {
		margin-left: .5em;
	}
}