@use '~@wordpress/base-styles/colors' as wp-colors;

.newspack-accordion {
	border: 1px solid wp-colors.$gray-300;

	&__icon {
		transition: transform 200ms ease-out;
		transform: rotate( 90deg );
	}

	&--is-open {
		.newspack-accordion {
			&__icon {
				transform: rotate( -90deg );
			}
		}
	}
	summary {
		padding: 16px 32px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		font-size: 14px;
		font-weight: bold;
	}

	&__content {
		padding: 16px 32px;
	}
}
