/**
 * Wizard Pagination
 */

@import '../../../shared/scss/colors';

.newspack-wizard-pagination {
	align-items: center;
	background: $primary-500;
	color: white;
	display: flex;
	flex-direction: row-reverse;
	font-size: 14px;
	justify-content: space-between;
	line-height: 24px;
	margin: -80px 0 64px;
	padding: 0 0 16px;

	@media screen and ( min-width: 600px ) {
		left: 0;
		margin: 0;
		padding: 0 16px;
		position: absolute;
		right: 0;
		top: 36px;
	}

	.newspack-wizard-pagination__pagination,
	.newspack-button {
		color: inherit;
		padding: 16px;
	}

	.newspack-button {
		&:active,
		&:focus,
		&:hover {
			color: $primary-200;
		}

		svg {
			fill: currentColor;
			margin-right: 4px;
		}
	}
}

// Increase z-index on the Logo if we have the pagination

.newspack-logo-wrapper {
	svg {
		z-index: 1;
	}
}
