/**
 * Wizard Pagination
 */

@import '../../../shared/scss/colors';

.newspack-wizard-pagination {
	align-items: center;
	background: $primary-600;
	color: white;
	display: flex;
	flex-direction: row-reverse;
	font-size: 14px;
	justify-content: space-between;
	line-height: 24px;

	.newspack-wizard-pagination__pagination,
	.newspack-button {
		margin: 8px 16px;
	}

	body[class*='admin-color-'] & .newspack-button.is-link {
		color: inherit;
	}

	.newspack-wizard-pagination__pagination {
		font-weight: bold;
	}
}
