/**
 * Button
 */

@import '../../../shared/scss/colors';
@import '~@wordpress/base-styles/colors';

@mixin button-style( $background, $border, $text ) {
	background: $background;
	border-color: $border;
	color: $text;
}

body[class*='admin-color-'] {
	.newspack-button {
		border-radius: 3px;
		font-size: 14px;
		font-weight: bold;
		height: auto;
		line-height: 24px;
		padding: 11px 24px;
		transition: background 125ms ease-in-out, border-color 125ms ease-in-out,
			box-shadow 125ms ease-in-out, color 125ms ease-in-out;

		&.is-large {
			font-size: 17px;
			height: auto;
			line-height: 24px;
		}

		&.is-small {
			font-size: 14px;
			height: auto;
			line-height: 24px;
			padding: 5px 16px;
		}

		&.icon-only {
			display: inline-flex;
			align-items: center;
			height: 36px;
			justify-content: center;
			padding: 0;
			width: 36px;
		}

		&:disabled,
		&:disabled:active:enabled,
		&[aria-disabled='true'],
		&[aria-disabled='true']:active:enabled {
			cursor: not-allowed;
			text-shadow: none;
		}

		&:hover,
		&[aria-expended='true'] {
			color: $primary-500;
		}

		&:focus:not( :disabled ) {
			box-shadow: inset 0 0 0 2px $primary-500;
		}

		&.is-button {
			border-radius: 3px;
			font-size: 14px;
			font-weight: bold;
			height: auto;
			line-height: 24px;
			padding: 11px 24px;
		}

		&.is-primary,
		&.is-pressed {
			@include button-style( $primary-500, $primary-600, white );
			border-style: solid;
			border-width: 1px;

			&:active,
			&:active:enabled,
			&:focus,
			&:focus:enabled,
			&:hover,
			&:not( :disabled ):not( [aria-disabled='true'] ):not( .is-default ):hover {
				@include button-style( $primary-600, $primary-700, white );
				box-shadow: none;
			}

			&:focus,
			&:focus:enabled {
				box-shadow: 0 0 0 1px white, 0 0 0 3px $primary-500;
			}

			&:disabled,
			&:disabled:active:enabled,
			&[aria-disabled='true'],
			&[aria-disabled='true']:active:enabled {
				@include button-style( $primary-500, $primary-600, $primary-300 );

				&:hover {
					@include button-style( $primary-500, $primary-600, $primary-300 );
				}
			}

			&.is-large {
				font-size: 17px;
				height: auto;
				line-height: 24px;
			}

			&.is-small {
				font-size: 14px;
				height: auto;
				line-height: 24px;
				padding: 5px 16px;
			}

			.newspack-is-waiting {
				fill: white;
			}
		}

		&.is-default,
		&.is-secondary {
			@include button-style( white, $gray-300, $gray-900 );
			border-style: solid;
			border-width: 1px;
			box-shadow: none;

			&:active,
			&:active:enabled,
			&:focus,
			&:focus:enabled,
			&:hover,
			&:not( :disabled ):not( [aria-disabled='true'] ):not( .is-default ):hover {
				@include button-style( $gray-100, $primary-500, $primary-500 );
				box-shadow: none;
			}

			&:focus,
			&:focus:enabled {
				box-shadow: 0 0 0 1px white, 0 0 0 3px $primary-500;
			}

			&:disabled,
			&:disabled:active:enabled,
			&[aria-disabled='true'],
			&[aria-disabled='true']:active:enabled {
				@include button-style( white, $gray-300, $gray-600 );

				&:hover {
					@include button-style( white, $gray-300, $gray-600 );
				}
			}

			&.is-large {
				font-size: 17px;
				height: auto;
				line-height: 24px;
			}

			&.is-small {
				font-size: 14px;
				height: auto;
				line-height: 24px;
				padding: 5px 16px;
			}
		}

		&.is-tertiary {
			@include button-style( $gray-100, $gray-300, $gray-900 );
			border-style: solid;
			border-width: 1px;
			height: auto;
			line-height: 24px;
			padding: 11px 24px;

			&:active,
			&:active:enabled,
			&:focus,
			&:focus:enabled,
			&:hover,
			&:not( :disabled ):not( [aria-disabled='true'] ):not( .is-default ):hover {
				@include button-style( $gray-200, $gray-600, $gray-900 );
				box-shadow: none;
			}

			&:focus,
			&:focus:enabled {
				box-shadow: 0 0 0 1px white, 0 0 0 3px $primary-500;
			}

			&:disabled,
			&:disabled:active:enabled,
			&[aria-disabled='true'],
			&[aria-disabled='true']:active:enabled {
				@include button-style( $gray-100, $gray-300, $gray-700 );

				&:hover {
					@include button-style( $gray-100, $gray-300, $gray-700 );
				}
			}

			&.is-large {
				font-size: 17px;
				height: auto;
				line-height: 24px;
			}

			&.is-small {
				font-size: 14px;
				height: auto;
				line-height: 24px;
				padding: 5px 16px;
			}

			.newspack-is-waiting {
				fill: $gray-700;
			}
		}

		&.is-quaternary {
			@include button-style( transparent, transparent, $gray-900 );
			border-style: solid;
			border-width: 1px;

			&:hover {
				border-color: $gray-200;
			}

			&:focus {
				border-color: $primary-500;
				box-shadow: inset 0 0 0 1px $primary-500;
			}

			&:disabled,
			&:disabled:active:enabled,
			&[aria-disabled='true'],
			&[aria-disabled='true']:active:enabled {
				@include button-style( transparent, transparent, $gray-600 );
				opacity: 1;

				&:hover {
					@include button-style( transparent, transparent, $gray-600 );
				}
			}
		}

		&.is-link {
			background: none;
			border: 0;
			border-radius: 0;
			font-weight: normal;
			padding: 0;
			transition: color 125ms ease-in-out, outline 125ms ease-in-out;

			&:not( .is-destructive ) {
				color: $primary-500;
			}

			&:active,
			&:active:enabled,
			&:focus,
			&:focus:enabled,
			&:hover,
			&:not( :disabled ):not( [aria-disabled='true'] ):not( .is-default ):hover {
				background: transparent;
				color: $primary-600;
				text-decoration: none;
			}

			&:focus,
			&:focus:enabled,
			&.is-destructive:not( :disabled ):hover {
				box-shadow: none;
			}

			&:focus,
			&:focus:enabled {
				outline: 2px solid $primary-500;
				outline-offset: 2px;
			}

			&.is-small,
			&.is-large {
				padding: 0;
			}
		}

		.components-tooltip {
			font-weight: normal;
		}

		// Popover Active

		&.popover-active {
			border: 1px solid $gray-300;
		}

		// Icon-only

		&.has-icon:not( .has-text ) {
			align-items: center;
			height: 40px;
			justify-content: center;
			min-width: 40px;
			padding: 0;
			width: 40px;

			&.is-small {
				height: 36px;
				min-width: 36px;
				width: 36px;
			}

			&.is-large {
				height: 48px;
				min-width: 48px;
				width: 48px;
			}
		}
	}
}
