/**
 * Button styles,
 */

@import '../../../shared/scss/muriel-component';

.muriel-button {
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	color: $muriel-gray-700;

	&.is-button {
		background-color: $muriel-white;
		border-color: #cccccc;
		border-radius: 3px;
		height: auto;
		padding: 16px 32px;
		margin: 14px 7px;
		text-decoration: none;

		&:active:enabled {
			border-width: 2px 1px 1px;
		}
	}

	&.is-primary {
		border: none;
		background-color: $primary_color;
		box-shadow: 0px 2px 2px rgba( 0, 0, 0, 0.25 );
		color: $muriel-white;
		text-shadow: none;

		&:hover,
		&:focus:enabled {
			background-color: $primary_color_darker;
			color: $muriel-white;
			box-shadow: inherit;
		}

		&:active:enabled {
			background-color: $primary_color_darker;
			color: $muriel-white;
		}

		&:disabled,
		&:disabled:active:enabled,
		&[aria-disabled=true],
		&[aria-disabled=true]:active:enabled {
			background: $primary_color;
			border-color: $primary_color_darker;
			color: $primary_color_lighter;
		}
	}

	&.is-tertiary {
		color: $primary_color;

		&:hover,
		&:focus:enabled {
			background-color: inherit;
			box-shadow: none;
			color: $primary_color_darker;
		}
	}

	&.is-link {
		background: none;
		border: none;
		color: $muriel-gray-300;
		cursor: pointer;
		text-decoration: underline;

		&:hover {
			color: $primary_color_darker;
			text-decoration: none;
		}
	}
}
.muriel-button-is-centered-wrapper {
	text-align: center;
}
