/**
 * Button styles,
 */

@import '../../../shared/scss/muriel-component';

.muriel-button {
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	font-weight: 500;
	color: $muriel-gray-700;

	&.is-button {
		background-color: $muriel-white;
		border-color: #cccccc;
		border-radius: 4px;
		height: auto;
		line-height: 21px;
		padding: 9px 14px 10px;
		margin: 14px 7px;
		text-decoration: none;

		&:active:enabled {
			border-width: 2px 1px 1px;
		}

		&.is-large {
			padding: 19px 28px 21px;
		}
	}

	&.is-primary {
		border-color: $primary_color_darker;
		background-color: $primary_color;
		color: $muriel-white;
		text-shadow: none;

		&:hover,
		&:focus:enabled {
			background-color: $primary_color_lighter;
			color: $muriel-gray-0;
		}

		&:active:enabled {
			background-color: $primary_color_darker;
			color: $muriel-white;
		}
	}

	&.is-tertiary {
		&:focus:enabled {
			background-color: inherit;
			box-shadow: none;
		}
	}

	&.is-link {
		background: none;
		border: none;
		color: $muriel-gray-300;
		cursor: pointer;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.muriel-button-is-centered-wrapper {
	text-align: center;
}
