/**
 * CardForm
 */

@use "~@wordpress/base-styles/colors" as wp-colors;
@use "~@wordpress/base-styles/variables" as wp;

.newspack-card-form {
	&__title {
		font-size: wp.$font-size-large;
		font-weight: 600;
		line-height: wp.$font-line-height-large;
	}

	&__description {
		color: wp-colors.$gray-700;
		font-size: wp.$font-size-medium;
		line-height: wp.$font-line-height-medium;
	}
}
