/**
 * Configure Plugins
 */

@import '~@wordpress/base-styles/colors';
@import '../../../../shared/scss/colors';

.newspack-setup__configure-plugin-card {
	h2 {
		margin-bottom: 0;
	}

	.checklist__task-icon {
		background-color: $primary-500;
		border: 1px solid $primary-500;
		border-radius: 16px;
		width: 16px;
		height: 16px;
		color: white;
		margin-right: 12px;
	}
}
.newspack-service-link_status-container {
	align-items: center;
	display: flex;
	margin-top: 32px;

	svg {
		display: block;
		fill: $alert-green;
		margin-left: 4px;
	}
}
