/**
 * Installation Progress
 */

.newspack-card:not(.newspack-card__no-background) {
	.newspack-card.newspack-action-card {
    // Against Buttons Card

		&:last-of-type {
			border-radius: 0;
			margin-bottom: -48px;

			@media screen and ( min-width: 744px ) {
				margin-bottom: -64px;
			}
		}
	}
}
