/**
 * Waiting
 */

@import '~@wordpress/base-styles/colors';

.newspack-is-waiting {
  animation: newspack-is-waiting__animation 1s infinite linear;
	display: block;
	fill: $light-gray-900;
	flex: 0 0 24px;

  &.newspack-is-waiting__is-left {
    margin-right: 4px;
  }

  &.newspack-is-waiting__is-right {
    margin-left: 4px;
  }
}

@keyframes newspack-is-waiting__animation {
	from {
		transform: rotate( 0deg );
	}
	to {
		transform: rotate( 360deg );
	}
}
