/**
 * Style Card Group
 */

.newspack-style-card-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 24px 0 -8px;

	.newspack-style-card {
		flex: 0 0 auto;
		margin: 8px 0;

		@media screen and ( min-width: 600px ) {
			width: 48%;
			width: calc( 100% / 2 - 16px / 2 );
		}
	}
}

// Wide Grid

.newspack-grid__wide {
	.newspack-style-card-group {
		.newspack-style-card {
			@media screen and ( min-width: 1224px ) {
				width: 32%;
				width: calc( 100% / 3 - 32px / 3 );
			}
		}
	}
}
