.newspack-setup-wizard__welcome {
	text-align: center;
}
.newspack-setup-wizard_image_container {
	background-repeat: no-repeat;
	background-image: url( './setup.svg' );
	background-size: contain;
	margin: 3em auto;
	min-height: 130px;
}
