/**
 * Formatted Header styles.
 */

.newspack-formatted-header {
	text-align: center;
	margin-bottom: 32px;

	.newspack-formatted-header__title {
		font-size: 24px;
		line-height: 32px;
		letter-spacing: -0.5px;
		font-weight: normal;
	}

	.newspack-formatted-header__subtitle {
		font-size: 14px;
		line-height: 16px;
		font-weight: 500;
	}
}
