/**
 * About
 */

.newspack-setup-wizard__form_element_row {
	display: flex;
	margin-bottom: 32px;
	margin-top: -16px;

	&  > div {
		margin: 0 16px 0 0;

		&:last-child {
			margin-right: 0;
		}

		.newspack-text-control {
			margin: 0;
		}
	}

	& + .newspack-select-control {
		margin-bottom: 32px;
		margin-top: -16px;
	}
}
