/**
 * Card styles.
 */

@import '../../../shared/scss/muriel-component';

.muriel-card {
	background: $muriel-white;
	border-radius: 3px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	margin: 0 auto 10px auto;
	max-width: 440px;
	padding: 24px;
	&.muriel-card__no-background {
		background: none;
		box-shadow: none;
	}
}
