/**
 * Card
 */

@import '../../../shared/scss/colors';
@import '~@wordpress/base-styles/colors';

.newspack-card {
	background: white;
	border-radius: 4px;
	box-shadow: 0 8px 16px rgba( black, 0.08 );
	color: $dark-gray-300;
	font-size: 14px;
	line-height: 24px;
	margin: 32px 0;
	padding: 16px 48px;

	@media screen and ( min-width: 744px ) {
		padding: 32px 64px;
	}

	// No Background

	&.newspack-card__no-background {
		background: none;
		box-shadow: none;
		padding: 0;
	}

	// Buttons Card

	&.newspack-card__buttons-card {
		margin: 24px -8px;

		.newspack-button {
			margin: 8px;
		}
	}

	// Is Clickable

	&.newspack-card__is-clickable {
		cursor: pointer;
		transition: box-shadow 150ms ease-in-out, transform 150ms ease-in-out;

		&:hover {
			box-shadow: 0 8px 16px rgba( black, 0.16 );
			transform: translateY( -4px );
		}
	}

	// Typography

	h2,
	p {
		line-height: 24px;
		margin: 32px 0;
		padding: 0;
	}

	h2 {
		color: $dark-gray-900;
		font-size: 17px;
		font-weight: bold;
	}

	p {
		font-size: 14px;

		&.is-dark {
			color: $dark-gray-900;
		}
	}

	strong {
		font-weight: bold;
	}

	small {
		font-size: 12px;
		line-height: 18px;
	}

	// Thematic Break

	hr {
		background: $light-gray-500;
		border: 0;
		height: 1px;
		margin: 48px -48px;

		@media screen and ( min-width: 744px ) {
			margin: 64px -64px;
		}
	}

	// Links

	a {
		color: $primary-500;

		&:active,
		&:focus,
		&:hover {
			color: $primary-600;
			text-decoration: none;
		}

		&:focus {
			box-shadow: none;
			outline: 2px solid $primary-500;
			outline-offset: 2px;
		}
	}

	// Preview

	&.newspack-card-preview {
		background: $light-gray-100;
		border: 1px solid $light-gray-500;
		border-radius: 0 3px 3px;
		margin-top: 56px;
		padding: 11px 8px;
		position: relative;

		.newspack-card-preview__label {
			background: white;
			border: 1px solid $light-gray-500;
			border-radius: 3px 3px 0 0;
			display: block;
			font-size: 12px;
			font-weight: bold;
			left: -1px;
			line-height: 22px;
			padding: 0 8px;
			position: absolute;
			top: -24px;
			text-transform: uppercase;
		}

		.newspack-card-preview__title,
		.newspack-card-preview__content {
			display: block;
		}

		.newspack-card-preview__title {
			color: $dark-gray-900;
			font-size: 17px;
			font-weight: bold;
		}
	}
}
