#newspack-reader-activation-auth-form {
	display: none;
	background: rgba( 0, 0, 0, 0.75 );
	position: fixed;
	width: 100% !important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	z-index: 999999;
	font-size: 0.9em;

	@media screen and ( max-width: 744px ) {
		align-items: flex-end;
	}

	&.visible {
		display: flex;
	}

	.form-wrapper {
		width: 100%;
		max-width: 544px;
		background: #fff;
		position: relative;
		.form-content {
			padding: 64px;
			transition: opacity 0.2s ease-in-out;
			@media screen and ( max-width: 744px ) {
				padding: 5vw;
			}
			p {
				margin: 0.5rem 0;
			}
			input[type='email'],
			input[type='password'] {
				width: 100%;
			}
		}
	}

	.form-actions {
		button {
			display: block;
			width: 100%;
		}
		a {
			font-size: 0.9em;
		}
	}

	.form-response {
		font-size: 0.8em;
		position: absolute;
		top: 16px;
		left: 64px;
		right: 64px;
		text-align: center;
		background: #fff;
		@media screen and ( max-width: 744px ) {
			position: fixed;
			top: 5vw;
			left: 5vw;
			right: 5vw;
		}
		p.message {
			display: block;
			width: 100%;
			margin: 0;
			padding: 0.25rem;
			border: 1px solid #999;
			&.status-400 {
				color: rgb( 169, 45, 45 );
				border: 1px solid rgb( 169, 45, 45 );
			}
		}
	}

	.form-close {
		align-items: center;
		background: white;
		border: none;
		border-radius: 0;
		box-shadow: none;
		color: inherit;
		cursor: pointer;
		display: flex;
		font-size: inherit;
		height: 36px;
		justify-content: center;
		margin: 0;
		padding: 6px;
		position: absolute;
		right: 0;
		top: 0;
		width: 36px;

		svg {
			fill: currentColor;
			flex: 0 0 24px;
		}

		&:active,
		&:hover {
			opacity: 0.6;
		}

		&:focus {
			outline: 1px solid;
			outline-offset: -1px;
		}
	}
}
