@use 'sass:color';
@use '~@wordpress/base-styles/colors' as wp-colors;
@use '../shared/scss/mixins';

.entry-content .newspack-reader,
.newspack-reader {
	/**
	 * Account Link
	 */
	&__account-link {
		color: inherit;
		position: relative;

		span {
			display: inline-block;
		}

		&__mobile {
			display: flex;
			justify-content: center;
			margin-left: 0.5rem;

			@media screen and ( min-width: 960px ) {
				display: none;
			}

			a {
				display: flex;
				padding: 0.4em;
			}
		}

		&__icon {
			height: 24px;
			width: 24px;

			@media screen and ( min-width: 960px ) {
				margin-left: -4px;
				margin-top: -12px;
				position: absolute;
				top: 50%;
			}
		}

		&__label {
			margin-left: calc( 16px + 0.4rem );

			@media screen and ( max-width: 959px ) {
				@include mixins.visuallyHidden;
			}
		}
	}

	/**
	 * Sign-In/Register Form
	 */
	&__auth-form {
		display: none;
		background: rgba( 0, 0, 0, 0.75 );
		position: fixed;
		width: 100% !important;
		inset: 0;
		justify-content: center;
		align-items: center;
		z-index: 2000000000;
		font-size: 0.8888em;

		.grecaptcha-container {
			display: none;
		}

		&[data-action='register'] .grecaptcha-container {
			display: flex;
		}

		@media screen and ( min-width: 600px ) {
			font-size: 0.8em;
		}

		&__visible {
			display: flex !important;
		}

		&__inline {
			display: block;
			background: none;
			position: relative;
			width: auto;
			z-index: auto;
		}

		.nphp,
		input[type='email'].nphp {
			@include mixins.visuallyHidden;
		}

		&[data-form-status='200'] {
			.newspack-reader__auth-form {
				&__response {
					text-align: center;
					font-size: 1em;
					&__icon[data-form-status='200'] {
						display: flex;
						margin: 0 auto 1em;
						border-radius: 100%;
						width: 40px;
						height: 40px;
						justify-content: center;
						align-items: center;
						color: white;
						background: wp-colors.$alert-green;
					}
				}
			}
		}

		&[data-form-status='400'],
		&[data-form-status='500'] {
			.newspack-reader__auth-form {
				&__response {
					background: color.adjust( wp-colors.$alert-red, $lightness: 51% );
					border-radius: 3px;
					display: flex;
					justify-content: center;
					margin: 0 0 0.4rem;
					padding: 0.4rem;
					width: 100%;
					&__icon[data-form-status='400'] {
						display: flex;
						flex: 1 1 0;
						color: wp-colors.$alert-red;
						margin: 0 0.4rem 0 0;
					}
					&__content {
						align-items: center;
						display: flex;
						flex: 1 1 100%;
					}
				}
			}
		}

		@media screen and ( max-width: 744px ) {
			align-items: flex-end;
		}

		a {
			text-decoration: underline;
		}

		p {
			line-height: 1.5;
			margin: 0.8rem 0;
			&.small {
				margin: 0;
				font-size: 0.8125em;
				line-height: 1.2307;
				a {
					color: inherit;
				}
			}
		}

		.components-form {
			&__field {
				font-size: 1rem;
				margin: 0.4rem 0;
			}

			&__submit {
				flex: 1 1 100%;
				font-size: 1rem;
				margin: 0;

				button[type='submit'] {
					background-color: var( --newspack-cta-color );
					color: var( --newspack-cta-contrast-color );
					transition: background-color 150ms ease-in-out;

					&:hover,
					&:focus {
						background-color: #111;
						color: white;
					}
				}
			}

			&__help {
				color: wp-colors.$gray-700;
				display: flex;
				flex: 1 1 100%;
				flex-wrap: wrap;
				gap: 0.4rem;
				justify-content: space-between;
				margin: 0.4rem 0 0;

				a {
					color: inherit;
				}
			}
		}

		&__wrapper {
			position: relative;
			width: 100%;
			max-width: 544px;
			background: white;
			max-height: 100vh;
			transition: height 125ms ease-in-out;

			.newspack-reader__auth-form__inline & {
				margin: auto;
				max-width: 780px;
				overflow-y: hidden;
			}
		}
		&__have-account {
			background-color: #111;
			padding: 4px 15px;
			margin-bottom: 11px;
			padding-top: 6px !important;
			padding-bottom: 8px !important;
			text-align: center;
			width: calc( 100% - 37px );
			@media screen and ( min-width: 600px ) {
				width: 100%;
			}
			&,
			a {
				color: #fff;
			}
			a:active,
			a:hover {
				color: #d6d6d6;
			}
		}

		&__header {
			align-items: baseline;
			display: flex;
			flex-wrap: wrap;
			gap: 0.5em;
			justify-content: space-between;
			margin: 0 0 1em;
			padding-right: 40px;

			.newspack-reader__auth-form__inline & {
				padding-right: 0;
			}

			@media screen and ( min-width: 600px ) {
				padding-right: 0;
			}

			h2 {
				font-size: 1rem;
				line-height: 1.3333;
				margin: 0;

				@media screen and ( min-width: 600px ) {
					font-size: 1.3125em;
					line-height: 1.5238;
				}
			}
		}

		& &__header {
			a {
				color: wp-colors.$gray-700;
				font-size: 0.8125em;
				line-height: 1.2307;

				&:active,
				&:focus,
				&:hover {
					text-decoration: none;
				}
			}
		}

		&__content {
			padding: 16px;

			@media screen and ( min-width: 600px ) {
				padding: 32px;
			}

			@media screen and ( min-width: 782px ) {
				padding: 47px 64px 64px;
			}

			form {
				transition: opacity 0.2s ease-in-out;

				> *:last-child {
					margin-bottom: 0 !important;
				}
			}
			input[type='text'],
			input[type='email'],
			input[type='password'] {
				width: 100%;
			}
			.otp-field {
				display: flex;
				gap: 0.4rem;
				justify-content: center;
				margin: 0.8rem 0;
				input[type='text'] {
					flex: 1 1 100%;
					font-family: monospace;
					font-size: 1.2rem;
					max-width: 2.4rem;
					text-align: center;
				}
			}
			input[name='otp_code'] {
				font-size: 1.2rem;
				text-align: center;
				font-family: monospace;
			}
			.newspack-reader__auth-form__inline & {
				padding: 0;
			}
		}

		&__actions {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			button {
				display: block;
				width: 100%;
			}
		}

		&__response {
			font-size: 0.8125em;
			line-height: 1.2307;
			&__content {
				p {
					margin: 0;
				}
			}
			&__icon {
				display: none;
			}
		}

		&__close {
			align-items: center;
			background: white;
			border: none;
			border-radius: 3px;
			box-shadow: none;
			color: inherit;
			cursor: pointer;
			display: flex;
			font-size: inherit;
			height: 40px;
			justify-content: center;
			margin: 8px;
			padding: 0;
			position: absolute;
			right: 0;
			top: 7px;
			width: 40px;

			@media screen and ( min-width: 600px ) {
				height: 30px;
				margin: 2px;
				width: 30px;
			}

			@media screen and ( min-width: 782px ) {
				height: 48px;
				margin: 8px;
				width: 48px;
			}

			svg {
				fill: currentcolor;
				flex: 0 0 24px;
			}

			&:focus {
				outline: 1.5px solid #111;
				outline-offset: 2px;
			}
		}

		&__terms-text {
			color: wp-colors.$gray-700;
			font-size: 0.8125em;
			line-height: 1.2307 !important;
			a {
				color: inherit;
			}
		}
	}

	/**
	 * Newsletters subscription lists.
	 */
	&__lists {
		flex: 1 1 100%;
		font-size: 0.8rem;
		border: 1px solid wp-colors.$gray-200;
		border-radius: 2px;
		padding: 0.5em;
		box-sizing: border-box;
		max-height: 21vh;
		overflow-y: auto;
		h3 {
			display: none;
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			min-width: 100%;
			li {
				flex: 1 1 33.3333%;
				display: flex;
				min-width: 142px;
				box-sizing: border-box;
				margin: 0.5em;
				padding: 0;
			}
		}

		&__checkbox {
			align-items: center;
			display: flex;
			flex: 0 0 auto;
			height: 1.6em;
			margin: 0 0.5rem 0 0;
		}

		&__title {
			display: block;
		}

		&__description {
			display: block;
			font-size: 0.8rem;
			color: #757575;
			margin: 0;
		}
	}

	/**
	 * Third party auth.
	 */
	&__logins {
		font-size: 1rem;
		margin-top: 0.8rem;
		&__separator {
			align-items: center;
			display: flex;
			margin-bottom: 0.8rem;
			div {
				text-align: center;
				&:nth-child( 2 ) {
					font-size: 0.8rem;
					line-height: 1.5;
					padding: 0 0.5em;
				}
				&:first-child,
				&:last-child {
					flex: 1;
					border-top: 1px solid wp-colors.$gray-200;
				}
			}
		}
		&--disabled {
			button {
				opacity: 0.5;
				pointer-events: none;
			}
		}
		button {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			background-color: wp-colors.$gray-100;
			color: black;
			transition: all 300ms;
			span {
				padding-left: 10px;
			}
		}
	}
}

/**
 * Hide desktop account link on mobile.
 */
ul.newspack-reader__account-menu,
li.menu-item .newspack-reader__account-link {
	@media screen and ( max-width: 959px ) {
		display: none !important;
	}
}

/**
 * Handle header with solid background.
 */
.h-sb {
	.newspack-reader__account-link a {
		color: #fff;
	}
}

/**
 * Hide WooCommerce page title on My Account pages.
 */
.woocommerce-account .entry-header .entry-title {
	display: none;
}
