/**
 * Plugin Installer
 */

@import '~@wordpress/base-styles/colors';

.newspack-card {
	.newspack-plugin-installer__status {
		align-items: center;
		display: flex;

		svg {
			fill: $light-gray-900;
			margin-left: 4px;
			margin-right: 0;
			order: -1;

			@media screen and ( min-width: 744px ) {
				margin-right: 4px;
				order: 0;
			}
		}
	}

	&.newspack-plugin-installer__status-active {
		border-left-color: $alert-green;

		svg {
			fill: $alert-green;
		}
	}

	&.newspack-plugin-installer__status-error {
		border-left-color: $alert-red;
	}

	&.newspack-plugin-installer__status-installing {
		opacity: 0.5;
	}
}

.newspack-plugin-installer_is-waiting {
	display: flex;
}
