.newspack-plugin-installer__checkbox-row {
	position: relative;
	.components-spinner,
	.newspack-plugin-installer__status {
		position: absolute;
		top: 0;
		right: 0;
	}
}
.newspack-plugin-installer_waiting {
	text-align: center;
	.components-spinner {
		float: none;
	}
}
