@import "~@wordpress/base-styles/colors";

.newspack-action-card__plugin-installer {
	border-left: 4px solid $light-gray-200;

	&.active {
		border-left-color: $alert-green;
	}
}

.newspack-plugin-installer__checkbox-row {
	position: relative;

	.components-spinner,
	.newspack-plugin-installer__status {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.newspack_plugin-installer__content {
	display: flex;
	align-items: center;

	svg {
		display: block;
		fill: $light-gray-900;
		margin-left: 4px;
	}

	&.is-active {
		svg {
			fill: $alert-green;
		}
	}
}

.newspack-plugin-installer_waiting {
	text-align: center;

	.components-spinner {
		float: none;
	}
}
