.newspack-change-nicename-ui-message {
	margin-top: 20px;
	padding: 10px;
	background-color: #f9f9f9;
	color: #333;
	font-size: 14px;
	line-height: 1.5;
	border: 1px solid #e5e5e5;
}

.newspack-change-nicename-ui-error {
	border-color: red;
}

.newspack-change-nicename-ui-success {
	border-color: green;
}
