/**
 * Popups Analytics
 */

.newspack-grid {
	max-width: 90%;
}

.pa {
	&__loading {
		height: 140px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__wrapper {
		transition: opacity 200ms;
		&--loading {
			opacity: 0.5;
		}
	}
	&__filters {
		margin: 20px 0;
		&,
		&__group {
			display: flex;
			justify-content: space-between;
		}
	}
	&__filters__group {
		> div {
			margin-left: 10px;
		}
	}

	&__info {
		&__sections {
			display: flex;
			margin: 40px 0;
			&__section {
				display: flex;
				flex: 1;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				transition: opacity 200ms;
				h2 {
					margin: 0;
					padding-bottom: 20px;
					font-size: 40px;
				}
				&--dimmed {
					opacity: 0.3;
					h2 {
						font-weight: normal;
					}
				}
			}
		}
	}
}
