/**
 * Info Button
 */

.newspack-info-button {
	display: inline-block;
	flex: 0 0 24px;
	height: 24px;
	margin: 0;
	margin-left: 4px;
	width: 24px;
	vertical-align: middle;

	svg {
		display: block;
		fill: currentcolor;
	}
}
