/**
 * Info Button
 */

@import '~@wordpress/base-styles/colors';

.newspack-info-button {
	flex: 0 0 24px;
	height: 24px;
	margin: 0;
	margin-left: 4px;
	width: 24px;

	svg {
		display: block;
		fill: currentColor;
	}
}
