/**
 * Content gates group
 */

@use "~@wordpress/base-styles/colors" as wp-colors;
@use "~@wordpress/base-styles/variables" as wp;

.audience_page_newspack-audience-access-control {
	.newspack-content-gates {
		&__title {
			margin: 0;
			min-width: 200px !important;
		}
		&__gate {
			> .newspack-action-card__region-children {
				> *:first-child {
					margin-top: 0 !important;
				}
				> *:last-child {
					margin-bottom: 0 !important;
				}
				> * + * {
					margin-top: 32px !important;
				}
			}
			&__settings {
				h4 {
					font-size: wp.$font-size-small;
					font-weight: wp.$font-weight-medium;
					line-height: wp.$font-line-height-small;
					margin-bottom: 8px;
					text-transform: uppercase;
				}
				p {
					color: wp-colors.$gray-700;
					margin: 0;
				}
				.components-button {
					justify-content: center;
					margin-top: 16px;
					width: 100%;
				}
			}
			&__content-rule-control {
				margin-top: 16px;

				> * + * {
					margin-top: 16px;
				}
			}
		}
		&__other-settings {
			margin-bottom: 32px;
		}
		&__settings-card {
			p.newspack-content-gates__settings-card__description {
				margin-bottom: 16px;
			}
			&__status {
				color: var(--newspack-ui-color-error-60);
				font-size: wp.$font-size-small;
				text-transform: uppercase;
				&::before {
					background-color: var(--newspack-ui-color-error-60);
					border-radius: 50%;
					content: '';
					display: inline-block;
					height: 8px;
					margin-right: 8px;
					width: 8px;
				}
			}
			&--enabled {
				.newspack-content-gates__settings-card__status {
					color: var(--newspack-ui-color-success-60);
					&::before {
						background-color: var(--newspack-ui-color-success-60);
					}
				}
			}
			&--disabled {
				box-shadow: rgba(wp-colors.$black, 0.06) 0 0 0 1px;

				:not(:has(.components-button.is-secondary[disabled])) .newspack-content-gates__settings-card__status {
					color: var(--newspack-ui-color-neutral-60);
					&::before {
						background-color: var(--newspack-ui-color-neutral-60);
					}
				}
			}
		}

		.components-form-token-field {
			position: relative;
			&__suggestions-list {
				background-color: wp-colors.$white;
				border: 1px solid var(--wp-admin-theme-color);
				border-radius: 0 0 2px 2px;
				border-top: none;
				left: 0;
				outline: 0.5px solid var(--wp-admin-theme-color);
				position: absolute;
				width: 100%;
				z-index: 1;
			}
		}
	}
}
