@import '../../../shared/scss/colors';
@import '~@wordpress/base-styles/colors';

.newspack-preview-box {
	background: $light-gray-100;
	border: 1px solid $light-gray-500;
	border-radius: 0 3px 3px;
	margin-top: 56px;
	padding: 11px 8px;
	position: relative;

	&__label {
		background: white;
		border: 1px solid $light-gray-500;
		border-radius: 3px 3px 0 0;
		display: block;
		font-size: 12px;
		font-weight: bold;
		left: -1px;
		line-height: 22px;
		padding: 0 8px;
		position: absolute;
		top: -24px;
		text-transform: uppercase;
	}

	&__title,
	&__content {
		display: block;
	}

	&__title {
		color: $dark-gray-900;
		font-size: 17px;
		font-weight: bold;
	}
}
