/**
 * Subscriptions Wizard styles.
 */

#newspack-subscriptions-wizard {
	header.muriel-formatted-header {
		margin-bottom: 32px;
	}
}

/**
 * Subscription management screen.
 */
.newspack-manage-subscriptions-screen {
	max-width: 440px;
	margin-left: auto;
	margin-right: auto;

	.newspack-manage-subscriptions-screen__finished {
		display: block;
		text-align: center;
	}

	.newspack-manage-subscriptions-screen__subscription-card {
		display: flex;
		justify-content: space-between;

		.newspack-manage-subscriptions-screen__subscription-card__product-actions {
			a {
				display: block;
				text-decoration: none;
			}

			.edit-subscription {
				color: $muriel-hot-pink-400;
				font-size: 16px;
				margin-bottom: .25em;

				&:hover {
					color: $muriel-hot-pink-700;
				}
			}

			.delete-subscription {
				visibility: hidden;
				color: $muriel-gray-100;

				&:hover {
					color: $muriel-gray-400;
				}
			}
		}

		.newspack-manage-subscriptions-screen__subscription-card__product-info {
			width: 100%;

			.product-name {
				color: $muriel-gray-900;
				font-size: 16px;
				font-weight: 500;
				margin-bottom: .25em;
			}

			.product-price {
				color: $muriel-gray-400;
			}
		}

		img {
	 		border-radius: 50%;
	 		height: 32px;
	 		width: auto;
	 		border: 1px solid $muriel-gray-400;
	 		margin-right: 1.5em;
	 		margin-top: 2px;
		}

		&:hover {
			.delete-subscription {
				visibility: visible;
			}
		}
	}

	button.is-primary {
		margin-top: 3em;
		margin-bottom: 2em;
	}

	.newspack-manage-subscriptions-screen__finished {
		text-decoration: none;
	}

	.newspack-manage-subscriptions-screen__choose-price {
		margin-top: 2em;
	}
}

/**
 * Subscription editing screen.
 */
.newspack-edit-subscription-screen {
	.newspack-edit-subscription-screen__price-settings {
		display: flex;
		justify-content: space-between;

		& > div {
			width: 50%;

			&:first-of-type {
				margin-right: .5em;
			}

			&:last-of-type {
				margin-left: .5em;
			}
		}
	}

	.muriel-image-upload {
		margin-top: 3em;
		margin-bottom: 2em;
	}

	button.is-primary {
		margin-bottom: 2em;
	}

	.newspack-edit-subscription-screen__cancel {
		display: block;
		text-align: center;
		text-decoration: none;
	}
}
