.newspack-ui {
	&__segmented-control {
		align-items: center;
		display: flex;
		gap: var( --newspack-ui-spacer-2 );
		flex-direction: column;

		&:not( :last-child ) {
			margin-bottom: var( --newspack-ui-spacer-2 );
		}

		&__tabs {
			background: var( --newspack-ui-color-neutral-10 );
			border-radius: var( --newspack-ui-border-radius-m );
			display: flex;
			flex-wrap: wrap;
			gap: calc( var( --newspack-ui-spacer-base ) / 2 );
			justify-content: center;
			padding: calc( var( --newspack-ui-spacer-base ) / 2 );

			.newspack-ui__button {
				background: transparent;
				border: 1px solid transparent;
				color: var( --newspack-ui-color-neutral-60 );
				margin: 0;

				&.selected {
					background: var( --newspack-ui-color-neutral-0 );
					border-color: var( --newspack-ui-color-neutral-30 );
					color: var( --newspack-ui-color-neutral-90 );
				}
			}
		}

		&__content {
			width: 100%;

			> *:not( .selected ) {
				display: none;
			}
		}
	}
}