.newspack-ui {
	-webkit-font-smoothing: antialiased;

	p {
		margin: var( --newspack-ui-spacer-2 ) 0;
	}

	strong,
	&__font__bold {
		font-weight: var( --newspack-ui-font-weight-strong );
	}

	&__font__normal {
		font-weight: normal;
	}

	&__font--small {
		font-size: var( --newspack-ui-font-size-small );
	}
}
