.newspack-ui {
	font-family: var( --newspack-ui-font-family );
	font-size: var( --newspack-ui-font-size-s );
	-webkit-font-smoothing: antialiased;

	p {
		margin: var( --newspack-ui-spacer-2 ) 0;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: var( --newspack-ui-font-family );
	}

	strong,
	&__font--bold {
		font-weight: var( --newspack-ui-font-weight-strong );
	}

	&__font--normal {
		font-weight: normal;
	}

	&__font--2xs {
		font-size: var( --newspack-ui-font-size-2xs );
		line-height: 1.3333;
	}

	&__font--xs {
		font-size: var( --newspack-ui-font-size-xs );
		line-height: 1.4286;
	}

	&__font--s {
		font-size: var( --newspack-ui-font-size-s );
		line-height: 1.5;
	}

	&__font--m {
		font-size: var( --newspack-ui-font-size-m );
		line-height: 1.6;
	}

	&__font--l {
		font-size: var( --newspack-ui-font-size-l );
		line-height: 1.5;
	}

	&__font--xl {
		font-size: var( --newspack-ui-font-size-xl );
		line-height: 1.375;
	}
}
