.muriel-toggle-group {
	position: relative;
	h1,
	h2 {
		font-weight: normal;
		margin: 0;
		padding: 0;
	}

	h1 {
		color: $muriel-gray-900;
		font-size: 16px;
		line-height: 21px;
	}

	h2 {
		color: $muriel-gray-600;
		font-size: 14px;
		line-height: 21px;
	}
	& > .components-toggle-control {
		position: absolute;
		left: 0;
		top: 0;
	}
	.container {
		margin: 0 0 0 60px;
	}
}
