/**
 * Toggle Group
 */

.newspack-toggle-group {
	display: flex;
	margin: 32px 0;

	p {
		margin: 0;
	}

	.newspack-toggle-group__description {
		flex: 0 0 calc(100% - 44px);
	}

	// Multiple Toogle Groups

	& + & {
		margin-bottom: 32px;
		margin-top: -16px;
	}
}
