/**
 * Toggle Group
 */

.newspack-toggle-group {
	display: flex;
	margin: 32px 0;

	& &__description p {
		margin: 0;
	}

	// Multiple Toogle Groups

	& + & {
		margin-bottom: 32px;
		margin-top: -16px;
	}
}
