.newspack-ui {
	.newspack-ui__button {
		align-items: center;
		background: var(--newspack-ui-color-neutral-10);
		border: 0;
		border-radius: var(--newspack-ui-border-radius-m);
		box-sizing: border-box;
		color: var(--newspack-ui-color-neutral-90);
		cursor: pointer;
		display: inline-flex;
		flex-direction: row;
		font-family: var(--newspack-ui-font-family);
		font-size: var(--newspack-ui-font-size-s);
		font-style: normal;
		font-weight: 600;
		gap: calc(var(--newspack-ui-spacer-base) / 2);
		justify-content: center;
		letter-spacing: initial;
		line-height: var(--newspack-ui-line-height-s);
		margin-bottom: var(--newspack-ui-spacer-2);
		min-height: var(--newspack-ui-spacer-9);
		min-width: var(--newspack-ui-spacer-9);
		padding: var(--newspack-ui-spacer-2) var(--newspack-ui-spacer-4);
		text-decoration: none;
		text-transform: none;
		transition:
			background-color 125ms ease-in-out,
			border-color 125ms ease-in-out,
			outline 125ms ease-in-out;
		white-space: nowrap;

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			background: var(--newspack-ui-color-neutral-30);
			color: var(--newspack-ui-color-neutral-90);
		}

		&:disabled {
			background: var(--newspack-ui-color-neutral-5) !important;
			color: var(--newspack-ui-color-neutral-40) !important;
			cursor: default;
			pointer-events: none;
		}

		&:focus {
			outline: none; // override theme default style.
		}

		&:focus-visible {
			outline: 2px solid var(--newspack-ui-color-button-bg);
			outline-offset: 1px;
		}

		// Button icon styles
		&__glyph {
			align-items: center;
			display: inline-flex;
			flex-shrink: 0;
			justify-content: center;

			svg {
				fill: currentcolor;
				height: var(--newspack-ui-spacer-5);
				width: var(--newspack-ui-spacer-5);
			}
		}

		// Sizes
		&--x-small {
			border-radius: var(--newspack-ui-border-radius-s);
			font-size: var(--newspack-ui-font-size-xs);
			line-height: var(--newspack-ui-line-height-xs);
			min-height: var(--newspack-ui-spacer-7);
			min-width: var(--newspack-ui-spacer-7);

			// Default padding for text-only and text+icon buttons
			&:not(.newspack-ui__button--icon),
			&.newspack-ui__button--icon:has(.newspack-ui__button__label) {
				padding: calc(0.75 * var(--newspack-ui-spacer-base)) var(--newspack-ui-spacer-2);
			}

			// Padding for icon-only buttons
			&.newspack-ui__button--icon:not(:has(.newspack-ui__button__label)) {
				padding: calc(0.75 * var(--newspack-ui-spacer-base));
			}

			.newspack-ui__button__glyph svg {
				height: var(--newspack-ui-spacer-5);
				width: var(--newspack-ui-spacer-5);
			}
		}

		&--small {
			font-size: var(--newspack-ui-font-size-xs);
			line-height: var(--newspack-ui-line-height-xs);
			min-height: var(--newspack-ui-spacer-8);
			min-width: var(--newspack-ui-spacer-8);
			padding: var(--newspack-ui-spacer-base) var(--newspack-ui-spacer-3);

			.newspack-ui__button__glyph svg {
				height: var(--newspack-ui-spacer-5);
				width: var(--newspack-ui-spacer-5);
			}
		}

		&--medium {
			// is the default.
		}

		// Styles
		&--primary {
			background: var(--newspack-ui-color-button-bg);
			color: var(--newspack-ui-color-button-text);

			&:hover {
				background: var(--newspack-ui-color-button-bg-hover);
				color: var(--newspack-ui-color-button-text-hover);
			}

			&:disabled {
				background: var(--newspack-ui-color-neutral-30) !important;
				color: var(--newspack-ui-color-neutral-0) !important;
			}
		}

		&--branded {
			background: var(--newspack-ui-color-primary);
			color: var(--newspack-ui-color-against-primary);

			&:hover {
				background: color-mix(in srgb, var(--newspack-ui-color-primary) 80%, black);
				color: var(--newspack-ui-color-against-primary);
			}

			&:focus-visible {
				outline-color: var(--newspack-ui-color-primary);
			}

			&:disabled {
				background: color-mix(in srgb, var(--newspack-ui-color-primary) 20%, white) !important;
				color: var(--newspack-ui-color-against-primary) !important;
			}
		}

		&--secondary {
			background: var(--newspack-ui-color-neutral-10);
			color: var(--newspack-ui-color-neutral-90);

			&:hover {
				background: var(--newspack-ui-color-neutral-30);
				color: var(--newspack-ui-color-neutral-90);
			}

			&:disabled {
				background: var(--newspack-ui-color-neutral-5) !important;
				color: var(--newspack-ui-color-neutral-40) !important;
			}
		}

		&--ghost,
		&--outline {
			background: transparent;
			color: var(---newspack-ui-color-neutral-90);

			&:hover {
				background: var(--newspack-ui-color-neutral-5);
				color: var(--newspack-ui-color-neutral-90);
			}

			&:disabled {
				background: transparent !important;
				color: var(--newspack-ui-color-neutral-30) !important;
			}
		}

		&--outline {
			border: 1px solid var(--newspack-ui-color-neutral-30);
			padding:
				calc(var(--newspack-ui-spacer-2) - 1px)
				calc(var(--newspack-ui-spacer-4) - 1px);

			&:hover {
				border-color: var(--newspack-ui-color-neutral-40);
			}

			&:disabled {
				border-color: var(--newspack-ui-color-neutral-10);
			}
		}

		&--destructive {
			background: var(--newspack-ui-color-error-50);
			color: var(--newspack-ui-color-neutral-0);

			&:hover {
				background: var(--newspack-ui-color-error-60);
				color: var(--newspack-ui-color-neutral-0);
			}

			&:focus-visible {
				outline-color: var(--newspack-ui-color-error-50);
			}

			&:disabled {
				background: var(--newspack-ui-color-error-5) !important;
				color: var(--newspack-ui-color-neutral-0) !important;
			}
		}

		// Wide
		&--wide {
			display: flex;
			justify-content: center;
			width: 100%;
			max-width: 100%;
		}

		// Icon-only
		&--icon {
			display: inline-flex;
			min-height: unset;
			padding: var(--newspack-ui-spacer-2);

			// When there's text, don't apply icon-only styles
			&:has(.newspack-ui__button__label) {
				aspect-ratio: unset;
				height: auto;
				width: auto;
			}

			// When there's no text, apply icon-only styles
			&:not(:has(.newspack-ui__button__label)) {
				aspect-ratio: 1;

				&.newspack-ui__button--x-small {
					height: var(--newspack-ui-spacer-7);
					padding: var(--newspack-ui-spacer-base);
					width: var(--newspack-ui-spacer-7);
				}

				&.newspack-ui__button--small {
					height: var(--newspack-ui-spacer-8);
					padding: var(--newspack-ui-spacer-base);
					width: var(--newspack-ui-spacer-8);
				}

				&.newspack-ui__button--medium,
				&:not(.newspack-ui__button--x-small):not(.newspack-ui__button--small) {
					height: var(--newspack-ui-spacer-9);
					padding: var(--newspack-ui-spacer-2);
					width: var(--newspack-ui-spacer-9);
				}
			}
		}

		// Loading
		&--loading {
			position: relative;

			span {
				visibility: hidden;
			}

			&::before {
				animation: button-loading 900ms infinite linear;
				border: 1.5px solid;
				border-color: currentcolor currentcolor transparent transparent;
				border-radius: 50%;
				content: "";
				display: block;
				height: calc(var(--newspack-ui-spacer-base) * 2.25);
				position: absolute;
				width: calc(var(--newspack-ui-spacer-base) * 2.25);
			}
		}
	}
}

@keyframes button-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
