.newspack-ui {
	select {
		border-color: var(--newspack-ui-color-input-border);
		border-radius: var(--newspack-ui-border-radius-m);
		display: block;
		font-family: var(--newspack-ui-font-family);
		font-size: var(--newspack-ui-font-size-s);
		line-height: var(--newspack-ui-line-height-l);
		padding: calc(var(--newspack-ui-spacer-2) - 1px);
		transition:
			background-color 125ms ease-in-out,
			border-color 125ms ease-in-out,
			outline 125ms ease-in-out;
		width: 100%;

		&:focus-visible {
			outline: 2px solid var(--newspack-ui-color-input-border-focus);
			outline-offset: -1px;
		}

		&:disabled {
			background-color: var(--newspack-ui-color-input-background-disabled);
			border-color: var(--newspack-ui-color-input-border-disabled);
		}
	}

	.select2-container--default .select2-results__option {
		&[aria-selected="true"],
		&[data-selected="true"] {
			background: var(--newspack-ui-color-neutral-30);
		}

		&--highlighted {
			&[aria-selected],
			&[data-selected] {
				background: var(--newspack-ui-color-neutral-90);
			}
		}
	}
}
