.newspack-ui {
	select {
		font-family: var(--newspack-ui-font-family);
		line-height: var(--newspack-ui-line-height-l);
	}

	.select2-container--default .select2-results__option {
		&[aria-selected="true"],
		&[data-selected="true"] {
			background: var(--newspack-ui-color-neutral-30);
		}

		&--highlighted {
			&[aria-selected],
			&[data-selected] {
				background: var(--newspack-ui-color-neutral-90);
			}
		}
	}
}
