/**
 * Progress Bar
 */

@import '../../../shared/scss/colors';
@import '~@wordpress/base-styles/colors';

.newspack-progress-bar {
	margin: 32px 0;
	position: relative;
	z-index: 1;

	.newspack-progress-bar__headings {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: 8px;

		h2,
		p {
			margin: 0;
		}
	}

	.newspack-progress-bar__bar {
		background-color: $primary-500;
		height: 4px;
		transition: width 125ms ease-in-out;

		&:before {
			background-color: $light-gray-200;
			content: "";
			height: 4px;
			left: 0;
			position: absolute;
			width: 100%;
			z-index: -1;
		}
	}
}
