@use 'sass:color';
@use '~@wordpress/base-styles/colors' as wp-colors;

.newspack-webhooks {
	&__endpoint {
		&__action {
			font-weight: 700;
			font-family: Consolas, monaco, monospace;
			background: #f6f6f6;
			display: inline-block;
			margin-right: 4px;
			padding: 2px 4px;
			font-size: 0.8em;
		}
	}
	&__test-response {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: Consolas, monaco, monospace;
		font-size: 0.8em;
		&.status {
			&--success {
				.code {
					color: wp-colors.$alert-green;
				}
			}
			&--error {
				.code {
					color: wp-colors.$alert-red;
				}
			}
		}
		.code {
			margin-left: 8px;
		}
	}
	&__requests {
		border-collapse: collapse;
		white-space: nowrap;
		width: 100%;
		th {
			text-align: left;
		}
		tr:nth-child( odd ) td {
			background-color: #f6f6f6;
		}
		th,
		td {
			border-bottom: 1px solid #ddd;
			padding: 8px;
		}
		td {
			font-size: 0.9em;
		}
		.status {
			&--finished {
				fill: wp-colors.$alert-green;
			}
			&--killed {
				fill: wp-colors.$alert-red;
			}
			&--pending {
				fill: wp-colors.$alert-yellow;
			}
			svg {
				width: 20px;
				height: 20px;
			}
		}
		.action-name {
			font-weight: 700;
			font-family: Consolas, monaco, monospace;
		}
		&.has-error {
			.error {
				width: 100%;
				white-space: normal;
				.error-count {
					float: right;
					background: rgba( 0, 0, 0, 0.03 );
					color: #666;
					font-size: 0.7em;
					padding: 2px 6px;
					margin-right: 4px;
					border-radius: 2px;
				}
			}
		}
		&:not( .has-error ) {
			.action-name {
				width: 100%;
			}
		}
	}
}
