@import '../../../../shared/scss/colors';
@import '~@wordpress/base-styles/colors';

.newspack-dashboard__news {
	details {
		margin: 32px 0;
		border: 1px solid $light-gray-200;
		padding: 24px;
		border-radius: 3px;
		> div {
			margin: 24px 0 0;
		}
		ul {
			list-style: disc;
			margin: 0;
			padding-left: 18px;
		}
		li {
			margin-bottom: 0;
		}
		ul:last-child {
			margin-bottom: 0;
		}
		h3 {
			margin: 24px 0 0;
		}
		svg {
			color: $dark-gray-900;
			display: block;
			margin: 0 0 0 auto;
		}
		&[open] {
			svg {
				transform: rotate( 180deg );
			}
		}
		+ details {
			margin-top: -24px;
		}
	}
	summary {
		cursor: pointer;
		display: flex;
		flex-direction: row-reverse;
		&:focus {
			outline: none;
		}
		&::-webkit-details-marker {
			display: none;
		}
		> div:first-child {
			flex: 0 0 48px;
		}
		strong:first-child {
			color: $primary-500;
		}
		> span {
			flex: 0 0 calc( 100% - 48px );
		}
	}

	.error {
		margin-left: 0;
	}
}
