/**
 * Popover
 */

@import '../../../shared/scss/colors';
@import '~@wordpress/base-styles/colors';

.newspack-popover {
	.components-popover__content {
		border: 1px solid $light-gray-500;
		border-radius: 4px;
		box-shadow: 0 4px 8px rgba( black, 0.08 );
		min-width: 238px;

		.newspack-button {
			color: $dark-gray-300;
			display: flex;
			font-weight: normal;
			padding: 6px 8px;

			&:hover {
				.components-menu-items__item-icon {
					fill: currentColor;
				}
			}

			&:focus:not( :disabled ) {
				box-shadow: inset 0 0 0 2px $primary-500;
				position: relative;
				z-index: 1;
			}

			&.is-link {
				border-radius: 3px;
				color: $dark-gray-300;
				padding: 6px 8px;
				text-decoration: none;

				&:active,
				&:active:enabled,
				&:hover,
				&:not( :disabled ):not( [aria-disabled='true'] ):not( .is-default ):hover {
					color: $primary-500;
				}

				&:focus,
				&:focus:enabled {
					color: $dark-gray-300;
					outline: none;
				}
			}

			.components-menu-items__item-icon {
				fill: $dark-gray-900;
			}

			.components-menu-item__item {
				display: flex;
				width: 100%;
			}
		}

		.screen-reader-text {
			display: flex;
		}

		.newspack-select-control {
			margin: 0;
			width: 100%;

			.components-select-control {
				select.components-select-control__input {
					height: 36px;
					min-height: 36px;

					&:focus ~ div.components-input-control__backdrop {
						border-color: $primary-500;
						box-shadow: inset 0 0 0 1px $primary-500;
					}
				}

				div.components-input-control__backdrop {
					padding: 0;
				}
			}
		}

		.newspack-form-token-field {
			margin: 0;
			text-align: left;

			.newspack-form-token-field__input-container {
				min-height: 36px;
				padding: 3px 5px;
			}

			.components-form-token-field__suggestions-list {
				margin: 5px -3px -11px;
			}

			.components-form-token-field__label {
				display: block;
			}
		}

		.newspack-toggle-control {
			margin: 0;

			.components-base-control__field {
				margin: 3px 0;
			}

			.components-form-toggle {
				border-top: 0;
			}
		}
	}

	&:not( .is-without-arrow )::before {
		border-color: $light-gray-500;
	}

	&.is-from-bottom {
		margin-bottom: 8px;
	}

	&.is-from-top {
		margin-top: 8px;
	}

	&__padding-8 {
		.components-popover__content {
			padding: 8px;
		}
	}

	&__padding-16 {
		.components-popover__content {
			padding: 16px;
		}
	}
}
