@use '../../../shared/scss/colors';
@use '~@wordpress/base-styles/colors' as wp-colors;

.stepped-list-item { // TODO: rework this to be more general and move specifics to the RAS Campaign styles.
	align-items: center;
	background: #fff;
	display: flex;
	gap: 24px;
	position: relative;

	&::before {
		border: 1px solid #F0F0F0;
		bottom: -16px;
		content: '';
		display: block;
		left: 14px;
		position: absolute;
		top: -16px;
	}

	&:first-child::before {
		top: 50%;
	}

	&:last-child::before {
		bottom: 50%;
	}

	+ .stepped-list-item {
		margin-top: 32px;
	}

	&__number {
		align-items: center;
		background: #fff;
		border: 1px solid currentcolor;
		border-radius: 100%;
		color: colors.$primary-500;
		display: flex;
		flex: 1 0 auto;
		height: 28px;
		justify-content: center;
		outline: 8px solid #fff;
		position: relative;
		width: 28px;
		z-index: 2;
	}
}