/**
 * Task
 */

@import '~@wordpress/base-styles/colors';
@import '../../../shared/scss/colors';

.newspack-task {
	border: 1px solid $light-gray-200;
	border-left-width: 4px;
	box-shadow: none;
	margin: 16px 0;
	padding: 24px 24px 24px 49px;
	position: relative;

	&:before {
		background: $light-gray-500;
		bottom: -18px;
		content: '';
		display: block;
		left: 24px;
		position: absolute;
		top: 0;
		width: 1px;
		z-index: 1;
	}

	p {
		margin: 0;
	}

	.newspack-task__task-icon {
		background: white;
		border: 2px solid $light-gray-900;
		border-radius: 50%;
		display: block;
		height: 16px;
		left: 14px;
		position: absolute;
		top: 26px;
		width: 16px;
		z-index: 2;
	}

	.newspack-task__task-buttons {
		border-top: 1px solid $light-gray-200;
		align-items: center;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		margin: 24px -24px -24px;
		padding: 8px;

		&:empty {
			display: none;
		}

		.newspack-button {
			margin: 8px;
		}
	}

	// Completed

	&.is-completed {
		border-left-color: $alert-green;

		.newspack-task__task-icon {
			background: transparent;
			border: 0;
			height: 24px;
			left: 12px;
			top: 24px;
			width: 24px;

			&:before {
				background: white;
				border-radius: 50%;
				bottom: 3px;
				content: "";
				display: block;
				left: 3px;
				position: absolute;
				right: 3px;
				top: 3px;
			}

			svg {
				display: block;
				fill: $alert-green;
				position: relative;
			}
		}
	}
}
