@import '~@wordpress/base-styles/colors';

.newspack-campaigns-wizard-segments {
	&__section {
		h3 {
			margin: 0;
		}
		&__title {
			display: flex;
			margin: 0;
		}
		&__content {
			> div {
				margin: 0;
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
				> * {
					margin: 0;
				}
			}
			.newspack-form-token-field .components-form-token-field {
				&__label {
					display: none;
				}
				&__help {
					display: block;
				}
			}
			.newspack-select-control {
				.components-base-control {
					width: 100%;
				}
			}
		}
		&__min-max {
			& + & {
				margin-top: 8px;
			}

			.newspack-checkbox-control {
				flex: 0 0 60px;
			}

			.newspack-text-control {
				flex: 1 1 auto;
				margin-left: 8px;

				.components-text-control__input {
					text-align: right;
				}
			}
		}
	}
}
