@use "~@wordpress/base-styles/colors" as wp-colors;

/**
 * Color Palette Controls
 */
.newspack-color-palette-controls {
	.components-menu-item__button {
		border: 1px solid wp-colors.$gray-300;
		border-radius: 0;
		margin-top: -1px;
		&.is-active {
			background-color: wp-colors.$gray-100;
		}

		&:first-child {
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
			margin-top: 0;
		}
		&:last-child {
			border-bottom-left-radius: 2px;
			border-bottom-right-radius: 2px;
		}
		.component-color-indicator {
			margin-right: 8px;
		}
	}
}
