/**
 * Section Header
 */

.newspack-section-header {
	margin: 64px 0 32px;

	&--no-margin,
	h2 {
		margin: 0 !important;
	}

	&:not( #{&}--no-margin ) + *:not( #{&} ) {
		margin-top: -16px !important;
	}

	.newspack-wizard__content &:first-child {
		margin-top: 32px;
	}
}
