@import '~@wordpress/base-styles/colors';

.newspack-popups-wizard {
	&__group-type {
		align-items: center;
		display: flex;
	}

	&__group-count {
		border: 1px solid $light-gray-500;
		border-radius: 12px;
		display: block;
		flex: 0 0 auto;
		font-size: 12px;
		font-weight: bold;
		line-height: 16px;
		margin: 3px 8px;
		min-width: 8px;
		padding: 0 4px;
		text-align: center;
	}
}
