/**
 * Popup group
 */

@import '../../../../shared/scss/colors';

.newspack-campaigns__popup-group {
	&__filter-group-wrapper {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 32px 0 -16px;

		.newspack-select-control {
			margin: 0;

			.components-select-control {
				select.components-select-control__input {
					height: 36px;
					min-height: 36px;
				}
			}
		}
	}

	&__filter-group-actions {
		align-items: center;
		display: flex;

		> * + * {
			margin-left: 8px;
		}
	}

	&__filter-group-segmentation {
		> * + * {
			margin-left: 8px;
		}
		.components-popover {
			margin-left: -16px;

			&__content {
				padding: 16px;

				> div {
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-end;
				}

				.newspack-button.is-link {
					color: $primary-500;
					padding: 0;
					text-decoration: underline;

					&:hover {
						color: $primary-600;
					}
				}
			}
		}
	}

	&__upgrade {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin-bottom: 64px;

		.newspack-notice {
			flex: 1 1 100%;
		}

		.newspack-button {
			flex: 0 0 auto;
			margin-bottom: 32px;
		}
	}
}
