/**
 * Popup group
 */

@import '~@wordpress/base-styles/colors';
@import '../../../../shared/scss/colors';

.newspack-campaigns__popup-group {
	&__segment-group-wrapper {
		margin-left: 32px;
	}
	&__filter-group-wrapper {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 32px 0 -24px;
	}

	&__filter-group-actions {
		align-items: center;
		display: flex;

		> * + * {
			margin-left: 8px;
		}

		> .newspack-select-control {
			margin: 0;

			.components-select-control {
				select.components-select-control__input {
					color: $dark-gray-900;
					font-size: 17px;
					font-weight: bold;
					height: 36px;
					line-height: 24px;
					min-height: 36px;
				}
				div.components-input-control__backdrop {
					border-color: $light-gray-100;
				}
			}
		}
	}

	&__filter-group-segmentation {
		.components-popover {
			margin-left: -20px;

			&__content {
				padding: 8px;

				> div {
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-end;
				}

				.newspack-toggle-control {
					margin: 8px 0;
					width: 100%;
				}

				.newspack-button.is-link {
					color: $primary-500;
					padding: 0;
					text-decoration: underline;

					&:hover {
						color: $primary-600;
					}
				}
			}
		}
	}

	&__add-new-button {
		.components-popover {
			&__content {
				margin-right: 0 !important;
				padding: 8px;

				> div {
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-end;
				}

				.newspack-text-control {
					margin: 8px 0;
					width: 100%;
				}

				.newspack-button.is-link {
					color: $primary-500;
					padding: 0;
					text-decoration: underline;

					&:hover {
						color: $primary-600;
					}
				}
			}
		}
	}
}

.newspack-popups-wizard {
	.newspack-action-card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 40px;
	}
}
