.newspack-memberships {
	&__overlay-gate {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 999999;
		pointer-events: none;
		overflow: hidden;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: #000;
			opacity: 0;
			transition: opacity 200ms ease;
		}
		&[data-visible='true'] {
			pointer-events: auto;
			&::before {
				opacity: 0.75;
			}
		}
		&__content {
			position: absolute;
			z-index: 10;
			left: 50%;
			bottom: 0;
			transform: translate( -50%, 50px );
			max-height: 100%;
			overflow-y: auto;
			width: 100%;
			padding: 5vw;
			background: #fff;
			opacity: 0;
			transition: transform 200ms ease, opacity 200ms ease;
			box-sizing: border-box;
			[data-visible='true'] & {
				transform: translate( -50%, 0 );
				opacity: 1;
			}
		}
		@media ( min-width: 864px ) {
			&__content {
				box-sizing: content-box;
				border-radius: 5px 5px 0 0;
				padding: 32px;
				[data-position='center'] & {
					bottom: auto;
					top: 50%;
					border-radius: 5px;
					transform: translate( -50%, calc( -50% + 50px ) );
				}
				[data-position='center'][data-visible='true'] & {
					transform: translate( -50%, -50% );
				}
				[data-size='small'] & {
					max-width: 400px;
				}
				[data-size='medium'] & {
					max-width: 600px;
				}
				[data-size='large'] & {
					max-width: 800px;
				}
			}
		}
	}
}

.newspack-modal-checkout-open {
	.newspack-memberships {
		&__overlay-gate {
			display: none !important;
		}
	}
}
