@use "sass:color";
@use "~@wordpress/base-styles/colors" as wp-colors;

.newspack-webhooks {
	&__endpoint {
		&__action {
			font-weight: 700;
			font-family: Consolas, monaco, monospace;
			background: wp-colors.$gray-100;
			color: wp-colors.$gray-900;
			display: inline-block;
			margin-right: 4px;
			padding: 2px 4px;
			font-size: 0.8em;
		}

		&__label {
			margin-right: 8px;
		}
		&__url {
			font-family: Consolas, monaco, monospace;
			font-size: 0.8em;
			color: wp-colors.$gray-900;
		}

		.newspack-action-card__title {
			display: flex;
			align-items: center;
		}
	}
	&__test-response {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: Consolas, monaco, monospace;
		font-size: 12px;
		&.status {
			&--success {
				.code {
					color: wp-colors.$alert-green;
				}
			}
			&--error {
				.code {
					color: wp-colors.$alert-red;
				}
			}
		}
		.code {
			margin-left: 8px;
		}
	}
	&__requests {
		border-collapse: collapse;
		white-space: nowrap;
		width: 100%;
		th {
			text-align: left;
		}
		tr:nth-child(odd) td {
			background-color: wp-colors.$gray-100;
		}
		th,
		td {
			border-bottom: 1px solid wp-colors.$gray-300;
			padding: 6px;
		}
		td {
			color: wp-colors.$gray-900;
			font-size: 12px;
			&:last-child {
				text-align: right;
			}
		}
		.status {
			&--finished {
				fill: wp-colors.$alert-green;
			}
			&--killed {
				fill: wp-colors.$alert-red;
			}
			&--pending {
				fill: wp-colors.$alert-yellow;
			}
			svg {
				display: block;
			}
		}
		.action-name {
			font-weight: 700;
			font-family: Consolas, monaco, monospace;
		}
		&.has-error {
			.error {
				width: 100%;
				white-space: normal;
			}
			.error-count {
				background: rgba(black, 0.025);
				color: color.adjust(wp-colors.$gray-700, $lightness: -0.75%);
				padding: 1px 3px;
				margin-right: 4px;
				border-radius: 1px;
				display: inline-block;
			}
		}
		&:not(.has-error) {
			.action-name {
				width: 100%;
			}
		}
	}
}
