/**
 * Formatted Header styles.
 */

@import '../../../shared/scss/muriel-component';

.muriel-formatted-header {
	text-align: center;
	margin-bottom: 24px;
	grid-column: 1 / -1;

	.muriel-formatted-header__title {
		font-size: 24px;
		line-height: 32px;
		letter-spacing: -0.5px;
		font-weight: normal;
		margin: .5em 0;
	}

	.muriel-formatted-header__subtitle {
		font-size: 14px;
		line-height: 16px;
		font-weight: 500;
		margin: 0;
	}
}
