/**
 * Formatted Header
 */

@import '~@wordpress/base-styles/colors';
@import '../../../shared/scss/colors';

.newspack-formatted-header {
	margin: 32px 0;
	text-align: center;

	// Title

	.newspack-formatted-header__title {
		align-items: center;
		color: $dark-gray-900;
		display: flex;
		font-size: 20px;
		font-weight: bold;
		justify-content: center;
		line-height: 24px;
		margin: 0;
	}

	// Icon

	.newspack-formatted-header__icon {
		margin-right: 8px;

		svg {
			display: block;
			fill: $primary-500;
		}
	}

	// Subtitle

	.newspack-formatted-header__subtitle {
		color: $dark-gray-900;
		font-size: 14px;
		line-height: 24px;
		margin: 8px 0 0;
	}
}
