.newspack-settings {
	&__card {
		&.newspack-card.newspack-action-card {
			.newspack-action-card__region-top {
				padding: 32px 32px 16px;
			}

			.newspack-action-card__region-children {
				padding: 0 32px 32px;

				> .newspack-grid {
					margin: 0;
				}
			}

			.newspack-action-card__notification {
				padding-bottom: 16px;
			}
		}

		.newspack-form-token-field {
			margin: 0;

			.components-form-token-field {
				width: 100%;
			}
		}

		.newspack-settings__section {
			&__title {
				display: flex;
				margin: 0;

				h3 {
					margin: 0;
				}
			}
			&__content {
				> div {
					margin: 0;
					display: flex;
					align-items: center;
					justify-content: space-between;
					flex-wrap: wrap;
					> * {
						margin: 0;
					}
				}
				.newspack-text-control,
				.newspack-checkbox-control {
					margin: 0 !important;
				}
				.newspack-select-control {
					.components-base-control {
						width: 100%;
					}
				}
			}
		}
		.newspack-settings__min-max {
			.newspack-checkbox-control {
				flex: 0 0 64px;
			}

			.newspack-text-control {
				flex: 1 1 auto;

				.components-text-control__input {
					text-align: right;
				}
			}

			+ .newspack-settings__min-max {
				margin-top: 16px !important;
			}
		}
	}
}
