/**
 * Font Picker
 */

.newspack-font-picker {
	.newspack-font-picker__title {
		margin-bottom: 16px;

		& + .newspack-select-control {
			margin: 16px 0;
		}
	}

	.newspack-toggle-group {
		margin-top: 16px;
	}

	.newspack-toggle-group__children {
		margin-left: -44px;
	}

	.newspack-text-control {
		margin-top: 16px;

		& + .newspack-select-control {
			margin-bottom: 0;
		}
	}
}
