@import '~@wordpress/base-styles/colors';
@import '../shared/scss/colors';

// Buttons Card

.newspack-buttons-card {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	align-items: center;
	margin: 64px 0 32px;

	&:empty {
		display: none;
	}

	.newspack-button {
		margin-left: 16px;
	}
}

// Checkbox Icon

.newspack-checkbox-icon {
	background: white;
	border-radius: 50%;
	box-shadow: inset 0 0 0 1px $gray-300;
	display: block;
	height: 24px;
	width: 24px;

	svg {
		fill: $gray-700;
	}

	&--checked {
		background: $alert-green;
		box-shadow: none;

		svg {
			fill: white;
		}
	}
}
