#newspack-donations-wizard {
	.muriel-image-upload {
		margin-top: 3em;
		margin-bottom: 3em;
	}
}

.newspack-donations-wizard__help {
	margin-top: 2em;
	margin-bottom: 2em;
	font-style: italic;
}

.newspack-donations-wizard__suggested-price {
	margin-left: 60px;
	margin-bottom: 28px;
}

.newspack-donations-wizard__tier-suggested-prices {
	display: flex;
	justify-content: space-between;

	> div {
		width: calc(33% - 1em);
	}
}

.newspack-donations-wizard__money-input {
	position: relative;

	.currency {
		position: absolute;
		line-height: 24px;
		top: 41px;
		left: 1em;
		font-size: 16px;
		z-index: 1;
	}

	.components-text-control__input {
		margin-left: 1em;
	}

	.muriel-input-text.active {
		.components-text-control__input {
			top: 25px;
		}

		label {
			display: block;
		}
	}
}