@import '../../shared/scss/muriel-component';

.newspack-dashboard-grid {
	grid-row-gap: 24px;
}

.newspack-dashboard-card.muriel-grid-item {
	grid-column: auto / span 4;
	margin-bottom: 0;
	text-align: center;
	position: relative;
	box-shadow: 0px 1px 3px rgba( 0, 0, 0, 0.2 ), 0px 2px 2px rgba( 0, 0, 0, 0.12 ),
		0px 0px 2px rgba( 0, 0, 0, 0.14 );

	a,
	.newspack-dashboard-card__disabled-link {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;
		text-decoration: none;

		&:focus {
			box-shadow: none;
			outline: none;
		}
	}

	img {
		max-width: 104px;
		height: auto;
		margin-top: 1em;
	}

	h3 {
		font-size: 16px;
		color: $muriel-gray-900;
	}

	h4 {
		font-size: 14px;
		color: $muriel-gray-500;
		font-weight: normal;
	}

	&.disabled {
		opacity: 0.6;
	}

	&.completed {
		background: none;
		border: 1px solid rgba( 0, 0, 0, 0.1 );
	}

	.newspack-dashboard-card__completed-icon {
		fill: $muriel-hot-green-500;
		position: absolute;
		top: 40px;
		right: 80px;
	}

	&:not( .disabled ):hover {
		box-shadow: 0px 5px 5px rgba( 0, 0, 0, 0.2 ), 0px 3px 14px rgba( 0, 0, 0, 0.12 ),
			0px 8px 10px rgba( 0, 0, 0, 0.14 );
	}
}

@media screen and ( max-width: 660px ) {
	.newspack-dashboard-card.muriel-grid-item {
		grid-column: 1 / span 4;
	}

	.newspack_dashboard__header {
		margin-right: 14px;
	}
}

.newspack-dashboard-card__contents {
	padding-bottom: 24px;
	padding-top: 24px;

	& > * {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	svg {
		display: block;
		fill: $primary_color;
		height: 48px;
		margin: 0 auto;
		width: 48px;
	}
}
