/**
 * Dashboard
 */

@import '~@wordpress/base-styles/colors';
@import '../../shared/scss/colors';

.newspack-grid {
	margin-bottom: 32px;

	&.view-list {
		.newspack-button:first-of-type {
			color: $primary-200;
		}
	}

	&.view-grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: -16px;

		.newspack-button:last-of-type {
			color: $primary-200;
		}

		.newspack-dashboard-card {
			width: 100%;

			@media screen and ( min-width: 600px ) {
				width: calc( ( 100% - 16px ) / 2 );
			}

			@media screen and ( min-width: 1224px ) {
				width: calc( ( 100% - 32px ) / 3 );
			}
		}
	}
}

.newspack-dashboard-card {
	box-shadow: 0 4px 8px rgba( black, 0.08 );
	margin: 16px 0 0;
	padding: 0;

	&.disabled {
		> * {
			opacity: 0.75;
		}
	}

	a {
		align-items: center;
		border-radius: inherit;
		color: inherit;
		display: flex;
		height: 100%;
		justify-content: space-between;
		text-decoration: none;
		transition: background-color 125ms ease-in-out, box-shadow 125ms ease-in-out;

		&:active,
		&:focus,
		&:hover {
			background-color: $light-gray-100;
			box-shadow: 0 4px 8px rgba( black, 0.16 );

			@media screen and ( min-width: 744px ) {
				> svg {
					transform: translateX( 8px );
				}
			}

			h2 {
				color: inherit;
			}

			svg {
				fill: currentColor;
			}
		}

		&:focus {
			outline: none;
		}

		> svg {
			margin: 24px 24px 24px 0;
		}
	}

	h2,
	p {
		margin: 0;
		transition: color 125ms ease-in-out;
	}

	svg {
		display: block;
		fill: $primary-500;
		height: 24px;
		margin: 0;
		transition: fill 125ms ease-in-out, transform 125ms ease-in-out;
		width: 24px;

		&.icon-completed {
			fill: $alert-green;
		}
	}

	&__contents {
		align-items: center;
		display: flex;
		justify-content: flex-start;
		padding: 24px;

		svg {
			height: 32px;
			margin-right: 12px;
			width: 32px;
		}

		.newspack-dashboard-card__header {
			margin-left: 12px;
		}
	}

	// Views

	&__views {
		display: none;
		margin: 0;
		padding: 44px 24px;
		position: absolute;
		right: 0;
		top: 0;

		@media screen and ( min-width: 600px ) {
			display: block;
		}

		.newspack-button {
			height: 40px;
			justify-content: center;
			width: 40px;
			color: white;

			&:active,
			&:active:enabled,
			&:focus,
			&:focus:enabled,
			&:hover,
			&:not( :disabled ):not( [aria-disabled='true'] ):not( .is-default ):hover {
				color: $primary-200;
			}
		}
	}
}
