.newspack_dashboard__header {
	h1.muriel-formatted-header__title {
		font-size: 3em;
		margin-bottom: 1em;
		margin-top: 2em;
	}
}

.newspack-dashboard-tier {
	display: flex;
	justify-content: center;
	padding-bottom: 1em;
	position: relative;
	padding-top: 1em;

	&::after {
		content: '';
		height: 1px;
		max-width: 745px;
		width: 100%;
	 	background-color: $muriel-gray-50;
	 	position: absolute;
	 	bottom: 0;
	}

	&:last-of-type::after {
		display: none;
	}
}

.newspack-dashboard-card {
	margin: 1em;
	max-width: 330px;
	width: 100%;
	text-align: center;
	position: relative;
	box-sizing: border-box;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);

	a, .newspack-dashboard-card__disabled-link {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;
		text-decoration: none;

		&:focus {
			box-shadow: none;
			outline: none;
		}
	}

	img {
		max-width: 104px;
		height: auto;
		margin-top: 1em;
	}

	h3 {
		font-size: 16px;
		color: $muriel-gray-900;
	}

	h4 {
		font-size: 14px;
		color: $muriel-gray-500;
		font-weight: normal;
	}

	&.disabled {
		opacity: 0.6;
	}

	&.completed {
		background: none;
		border: 1px solid rgba(0, 0, 0, .1);
	}

	.newspack-dashboard-card__completed-icon {
		fill: $muriel-hot-green-500;
		position: absolute;
		top: 40px;
		right: 80px;
	}
}

@media (max-width: 600px) {
	.newspack_dashboard__header {
		margin-right: 14px;
	}

	.newspack-dashboard-tier {
		display: block;
	}

	.newspack-dashboard-card {
		max-width: calc(100% - 3em);
	}
}