/**
 * Dashboard
 */

@use '~@wordpress/base-styles/colors' as wp-colors;
@use '../../shared/scss/colors';
@use './components/site-actions/index';

.newspack-icon {
	background-color: colors.$primary-600;
}

.newspack-wizard__content {
	font-family: -apple-system, blinkmacsystemfont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	margin: 0;
	max-width: 100%;
	padding: 0 0 32px;

	* {
		box-sizing: border-box;
	}
}

.newspack-dashboard__brand-header {
	padding: 37px 0 27px;

	.brand-header__inner {
		margin: 0 auto;
		max-width: calc(calc(24px * 2) + 1040px);
		padding: 0 24px;
	}

	img {
		height: 100%;
		max-height: 64px;
		width: auto;
	}
}

.newspack-dashboard__section {
	margin: 0 auto;
	max-width: calc(calc(24px * 2) + 1040px);
	padding: 0 24px;

	&:first-of-type {
		margin-top: 56px;
	}

	h3 {
		font-size: 20px;
		font-weight: normal;
	}

	p {
		color: wp-colors.$gray-700;
	}

	a {
		text-decoration: none;
	}

	.newspack-grid {
		--np-dash-card-icon-size: 80px;
	}
}

.newspack-dashboard__card {
	background-color: transparent;
	border-color: wp-colors.$gray-300;
	border-radius: 2px;
	display: grid;
	grid-gap: 16px;
	grid-template:
		"icon title" 16px
		"icon text" auto
		/ auto 1fr;
	margin: 0;
	overflow: hidden;
	padding: 16px;
	transition: all 0.4s;

	&:not(:has(p)) {
		align-items: center;
		grid-template: "icon title" auto / var(--np-dash-card-icon-size) auto;
	}

	h4,
	p {
		margin: 0;
	}

	h4 {
		font-size: 16px;
		font-weight: 600;
		grid-area: title;
		text-shadow: 0 0 1px #fff;
		line-height: 16px;
	}

	p {
		grid-area: text;
		line-height: 16px;
		opacity: 1;
		transition: transform 0.2s ease-out, opacity 0.2s;
	}

}

.newspack-dashboard__card-icon {
	background-color: #eaeefb;
	border: 1px solid white;
	border-radius: 4px;
	display: grid;
	fill: colors.$primary-600;
	grid-area: icon;
	height: var(--np-dash-card-icon-size);
	width: var(--np-dash-card-icon-size);
	place-items: center;
	transform: translateZ(0);

	svg {
		transition: transform 0.3s ease-in-out;
	}
}

a {

	&:hover,
	&:focus {
		.newspack-dashboard__card {
			background-color: #fafbff;
			border-color: colors.$primary-600;

			p {
				opacity: 0.8;
			}

			.newspack-dashboard__card-icon {
				svg {
					transform: scale(1.3);
				}
			}
		}
	}
}