/**
 * Dashboard
 */

@import '~@wordpress/base-styles/colors';
@import '../../shared/scss/colors';

.newspack-dashboard-card {
	box-shadow: 0 4px 8px rgba( black, 0.08 );
	padding: 0;

	&.disabled {
		> * {
			opacity: 0.75;
		}
	}

	a {
		align-items: center;
		border-radius: inherit;
		color: inherit;
		display: flex;
		justify-content: space-between;
		text-decoration: none;
		transition: background-color 125ms ease-in-out, box-shadow 125ms ease-in-out;

		&:active,
		&:focus,
		&:hover {
			background-color: $light-gray-100;
			box-shadow: 0 4px 8px rgba( black, 0.16 );

			@media screen and ( min-width: 744px ) {
				> svg {
					transform: translateX( 8px );
				}
			}

			h2 {
				color: inherit;
			}

			svg {
				fill: currentcolor;
			}
		}

		&:focus {
			outline: none;
		}

		> svg {
			margin: 24px;
		}
	}

	h2,
	p {
		margin: 0;
		transition: color 125ms ease-in-out;
	}

	svg {
		display: block;
		fill: $primary-500;
		height: 24px;
		margin: 0;
		transition: fill 125ms ease-in-out, transform 125ms ease-in-out;
		width: 24px;

		&.icon-completed {
			fill: $alert-green;
		}
	}

	.newspack-dashboard-card__contents {
		align-items: center;
		display: flex;
		justify-content: flex-start;
		padding: 24px;

		svg {
			height: 32px;
			margin-right: 12px;
			width: 32px;
		}

		.newspack-dashboard-card__header {
			margin-left: 12px;
		}
	}

	// Multiple Cards

	& + & {
		margin-top: -16px;
	}
}
