.newspack-card:not(.newspack-settings__no-border) .newspack-action-card__region-children > .newspack-grid.newspack-ras-campaign__grid {
	margin-top: 0 !important;
}

.newspack-ras-campaign {
	&__fields {
		.components-base-control {
			position: relative !important;

			.components-base-control__help {
				margin-top: 0;
				position: absolute;
				right: 0;
				top: 0;
			}
		}

		> .components-base-control + .components-base-control {
			margin-top: 32px !important;
		}

		.components-checkbox-control + .components-checkbox-control {
			margin-top: 8px;
		}
	}
}
