/**
 * Dashboard
 */

@use '~@wordpress/base-styles/colors' as wp-colors;
@use '../../../../shared/scss/colors';

:root {
	--np-font-size: 16px;
	--np-header-height: 64px;
	--np-section-space: 24px;
	--np-section-width: 1040px;
	--np-section-child-space: 16px;
}

.newspack-wizard__content {
	margin: 0;
	max-width: 100%;
	padding: 0 0 32px;

	* {
		box-sizing: border-box;
	}
}

.newspack-dashboard__brand-header {
	padding: 40px 0;

	.brand-header__inner {
		margin: 0 auto;
		max-width: calc(calc(var(--np-section-space) * 2) + var(--np-section-width));
		padding: 0 var(--np-section-space);
	}

	h1 {
		font-size: 32px;
		font-style: normal;
		font-weight: 400;
		line-height: 40px;
		margin: 0;
	}
}