/**
 * Remove Unsupported Plugins
 */

@import '~@wordpress/base-styles/colors';

.newspack-text-intro {
  display: flex;
	justify-content: flex-start;

  svg {
		display: block;
		fill: $alert-green;
		margin-right: 4px;
	}

  &.is-unhealthy {
    svg {
      fill: $alert-red;
    }
  }
}
