@import '../../../../shared/scss/colors';

.newspack__integration__card {
	transition: opacity 200ms;
	&__status {
		color: $primary-500;
	}
	&__logo svg {
		max-width: 260px;
		margin: auto;
		display: block;
	}
}
