/**
 * Social
 */

.newspack-seo-wizard-social__text-controls {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: -32px;

	.newspack-text-control {
		width: 48.5%;
		width: calc(50% - 8px);

		&:first-of-type,
		&:nth-of-type(2) {
			margin-top: 0;
		}
	}
}
