@import '~@wordpress/base-styles/colors';

.muriel-component.muriel-wizardScreen__completeButton {
	margin: 0;
}

.muriel-wizardScreen__hidden {
	display: none;
}

.muriel-wizardScreen__content {
	.notice {
		margin-left: 0;
		padding-top: .5em;
		padding-bottom: .5em;

		&.notice-error {
			background-color: $muriel-red-50;
		}

		&.notice-success {
			background-color: $muriel-hot-green-50;
		}
	}
}

// Buttons Card

.newspack-buttons-card {
	align-items: center;
	border-top: 1px solid $light-gray-500;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 48px -48px -16px;
	padding: 8px;

	@media screen and ( min-width: 744px ) {
		margin: 64px -64px -32px;
	}

	&:empty {
		display: none;
	}

	.is-button,
	p {
		margin: 8px;
	}
}
