.newspack-byline {
	.newspack-byline-toggle {
		margin-top: 1em;
	}
	.newspack-byline-textarea {
		margin-top: 1em;
	}
}

#newspack-byline {
	font-style: italic;
	font-weight: 500;
	margin: 1em auto;
	max-width: 1200px;
}
