.newspack-byline {
	.newspack-byline-toggle {
		margin-top: 1em;
	}
	.newspack-byline-textarea {
		margin-top: 1em;
	}
}

#newspack-byline {
	font-style: italic;
	font-weight: 500;
	margin: 1em auto;
	max-width: 1200px;
}

.newspack-byline-textarea {
	padding: 1em;
	border: 1px solid #e1e1e1;
	margin-bottom: 1em;
}

.tokens {
	display: flex;
	gap: 4px;
	flex-wrap: wrap;
}

.token-inline-block {
	background: #e1e1e1;
	padding: 6px 6px;
	gap: 4px;

	.components-button.is-link {
		&.token-inline-block__insert {
			padding: 0;
			margin: 0;
			text-decoration: none;
		}

		&.token-inline-block__remove {
			padding: 0;
			margin: 0 0 0 4px;
			text-decoration: none;
		}
	}
}

.author-token {
	display: inline-block;
	padding: 0.3em;
	background: rgb(225, 225, 225);
}
