/**
 * Text Control
 */

@import '../../../shared/scss/colors';
@import '~@wordpress/base-styles/colors';

.newspack-text-control {
	color: $dark-gray-300;
	font-size: 14px;
	line-height: 24px;
	margin: 32px 0;

	&--wide {
		flex-wrap: wrap;
		.components-base-control__field {
			width: 100%;
		}
	}

	label {
		color: $dark-gray-900;
		font-size: inherit;
		font-weight: bold;
		line-height: inherit;
		margin: 0;

		&[data-required-text] {
			&::after {
				content: attr( data-required-text );
				padding-left: 5px;
				font-weight: normal;
				color: $dark-gray-300;
			}
		}
	}

	input[type='date'],
	input[type='datetime-local'],
	input[type='datetime'],
	input[type='email'],
	input[type='month'],
	input[type='number'],
	input[type='password'],
	input[type='search'],
	input[type='tel'],
	input[type='text'],
	input[type='time'],
	input[type='url'],
	input[type='week'] {
		background: white;
		border: 1px solid $light-gray-500;
		border-radius: 3px;
		box-shadow: none;
		color: inherit;
		font-size: 16px;
		line-height: inherit;
		margin: 0;
		min-height: 48px;
		padding: 11px 8px;
		transition: border-color 125ms ease-in-out, box-shadow 125ms ease-in-out;
		width: 100%;

		@media screen and ( min-width: 768px ) {
			font-size: inherit;
		}

		&::placeholder {
			opacity: 0.5;
		}
		&:focus {
			border-color: $primary-500;
			box-shadow: 0 0 0 2px $primary-500;
		}

		&:disabled,
		&.disabled {
			background: $light-gray-100;
			color: $light-gray-900;
			cursor: not-allowed;
		}
	}

	// Multiple Text Controls

	& + & {
		margin-bottom: 32px;
		margin-top: -24px;
	}

	// Multiple Controls

	+ .newspack-select-control,
	+ .newspack-textarea-control {
		margin-bottom: 32px;
		margin-top: -24px;
	}

	// Reset

	.components-base-control__field,
	.components-base-control__label,
	.components-base-control__help {
		display: block;
		margin: 0;
	}
}
