/**
 * Text/Number Input styles.
 */

@import '../../../shared/scss/muriel-component';

.muriel-input-text {
	background: $muriel-white;
	border: 1px solid $muriel-gray-200;
	border-radius: 0;
	box-shadow: none;
	padding: 12px 12px 4px;
	position: relative;

	label {
		color: $muriel-gray-500;
		font-size: 14px;
		line-height: 21px;

		&.components-base-control__label {
			margin: 0;
		}
	}

	input {
		background: transparent;
		border: 0;
		border-radius: 0;
		box-shadow: none;
		color: inherit;
		font-size: 16px;
		line-height: 21px;
		margin: 0;
		min-height: 21px;
		padding: 0;

		&:focus {
			box-shadow: 0 0 0 12px $muriel-white, 0 0 0 13px $primary_color_darker, 0 0 0 15px $primary_color_lighter;
		}
	}

	&.active {
		label {
			display: none;
		}
		input {
			color: $muriel-gray-800;
		}
	}

	&.with-value {
		input {
			color: $muriel-gray-800;

			&:focus {
				box-shadow: none;
			}
		}
	}

	&.empty {
		label {
			display: none;
		}
		input {
			color: $muriel-gray-500;
		}
	}

	&.disabled {
		label {
			display: none;
		}
		input {
			color: $muriel-gray-200;

			/* Placeholder styling: */
			&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
				color: $muriel-gray-200;
				opacity: 1; /* Firefox */
			}
			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				color: $muriel-gray-200;
			}
			&::-ms-input-placeholder { /* Microsoft Edge */
				color: $muriel-gray-200;
			}
		}
	}
}
