@import '~@wordpress/base-styles/colors';

.newspack-campaigns-wizard-segments {
	&__subheader {
		margin-top: -20px;
		margin-bottom: 30px;
	}

	&__list-top {
		display: flex;
		flex-direction: row-reverse;
	}
	&__list {
		margin-top: 20px;
	}

	&__sections-wrapper {
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;
	}
	&__section {
		flex: 1;
		padding: 10px;
		min-width: 200px;
		max-width: 50%;
		h3 {
			margin-top: 0;
		}
		&__description {
			opacity: 0.6;
			margin-top: -15px;
			margin-bottom: 15px;
			font-size: 0.9em;
		}
		&__content {
			> div {
				margin-top: 10px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
				> * {
					margin: 0;
					&:not( :last-child ) {
						margin-right: 10px;
					}
				}
			}
		}
	}
}
