@import '~@wordpress/base-styles/colors';

.newspack-campaigns-wizard-segments {
	&__list-top {
		display: flex;
		flex-direction: row-reverse;
		margin: 32px 0 -24px;
	}
	&__title {
		margin: 32px 0 64px;
	}
	&__section {
		h2 {
			margin: 0;
		}
		&__title {
			display: flex;
			margin: 0 0 16px;
		}
		&__content {
			> div {
				margin-top: 16px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
				> * {
					margin: 0;
				}
			}
			> *:last-child {
				margin-bottom: 0 !important;
			}
			.newspack-form-token-field .components-form-token-field {
				&__label {
					display: none;
				}
				&__help {
					display: block;
				}
			}
		}
	}
}

.newspack-campaigns__draggable {
	margin: 32px 0;

	&.is-dragging {
		display: none;
	}

	&.is-drop-target::before,
	&.drop-target-after::after {
		background-color: blue;
		content: '';
		display: block;
		height: 2px;
		width: 100%;
	}

	.newspack-card {
		margin: 0;
	}
}
