.newspack-content-gate__edit {
	.newspack-grid {
		.newspack-section-header {
			margin-bottom: 0;
			margin-top: 0;
		}
		h2 {
			font-size: 1.25rem;
			font-weight: 500;
			line-height: 1.5;
		}
	}
}
