@use '../../../shared/scss/colors';
@use '~@wordpress/base-styles/colors' as wp-colors;

.stepped-list {
	// font-size: 14px; // TODO: this matches the mockup, but this doesn't seem like the right approach
	margin-left: auto;
	margin-right: auto;

	&__narrow-list {
		max-width: 416px;
	}
}
