/**
 * Dashboard
 */

@use "~@wordpress/base-styles/colors" as wp-colors;
@use "../../shared/scss/colors";

.newspack-dashboard-card {
	align-items: center;
	border-color: wp-colors.$gray-300;
	display: grid;
	grid-gap: 16px;
	grid-template-columns: 48px auto;
	margin: 0;
	padding: 32px;

	h2,
	p {
		margin: 0;
	}

	svg {
		fill: colors.$primary-500;
	}
}
