.newspack_ad_unit__sizes {
	@media screen and ( min-width: 744px ) {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.newspack-text-control {
		margin: 16px 0;

		@media screen and ( min-width: 744px ) {
			width: 48%;
			width: calc( 50% - 8px );
		}
	}
}
