/**
 * Ad Unit
 */

@import '~@wordpress/base-styles/colors';

.newspack_ad_unit__sizes {
	&__header {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	p.is-dark {
		margin: 0;
	}

	.newspack-card {
		background: $gray-100;
		margin: 0 0 16px;
	}

	.newspack-text-control + & {
		margin-top: -16px;
	}
}
