/**
 * Ad Unit
 */

@import '~@wordpress/base-styles/colors';

.newspack_ad_unit__sizes {
	border-bottom: 1px solid $light-gray-200;

	@media screen and ( min-width: 744px ) {
		align-items: flex-end;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.newspack-text-control {
		margin: 16px 0;

		@media screen and ( min-width: 744px ) {
			margin-right: 16px;
			width: 48%;
			width: calc( 50% - 8px );

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	.newspack-button {
		align-items: center;
		flex: 0 0 auto;
		height: 48px;
		justify-content: center;
		margin-bottom: 16px;
		padding: 0;
		width: 48px;

		@media screen and ( min-width: 744px ) {
			margin-left: 16px;
		}
	}

	.newspack-text-control + & {
		border-top: 1px solid $light-gray-200;
	}

	+ .newspack-button {
		margin-top: 16px;
	}
}

.newspack-button__add-size {
	@media screen and ( min-width: 744px ) {
		float: right;
	}

	svg {
		margin-right: 4px;
	}
}

.newspack-buttons-card {
	margin-top: 48px;
}
