.newspack-setup-wizard_newsroom-screen_plugin_group {
	.muriel-checkbox {
		margin-left: 2em;
		margin-right: 2em;
		float: left;
		min-width: calc( 50% - 4em );
	}
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}
