/**
 * Newsroom
 */

.newspack-card {
	.newspack-setup-wizard_newsroom_audience_title {
		margin: -16px 0 0;
	}

	.newspack-setup-wizard_newsroom_audience_checkboxes {
		display: flex;
		flex-wrap: wrap;
		margin: -8px 0 32px;

		.newspack-checkbox-control {
			flex: 0 0 50%;
			margin: 8px 0 0;
		}
	}
}
