/**
 * Progress Bar
 */

@use "../../../shared/scss/colors";
@use "~@wordpress/base-styles/colors" as wp-colors;

.newspack-progress-bar {
	margin: 32px 0;

	& &__headings {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: 8px;

		h2,
		p {
			margin-bottom: 0;
			margin-top: 0;
		}

		p {
			margin-left: auto;
		}
	}

	&__container {
		background-color: wp-colors.$gray-100;
		border-radius: 4px;
		height: 8px;
		overflow: hidden;
		position: relative;
		z-index: 1;
	}

	&__bar {
		background-color: colors.$primary-500;
		height: 8px;
		transition: width 125ms ease-in-out;
	}
}
