.is-fetching {

	> * {
		cursor: progress;
	}
	// Theme
	.newspack-style-card {
		opacity: 0.9;

		.newspack-style-card__image {
			overflow: hidden;
			animation: opacity-pulse 1.4s infinite;
		}

		.newspack-style-card__image-html:empty {
			background-color: var(--np-color-wp-gray-100);
		}

		.newspack-style-card__actions {
			display: none;
		}
	}

	// Color
	.newspack-color-picker {
		.newspack-color-picker__expander {
			background-color: var(--np-color-wp-gray-100);
			animation: opacity-pulse 1.4s infinite;
		}
	}
}
