/**
 * Popup Action Card styles
 */

@import '~@wordpress/base-styles/colors';

.newspack-popups-wizard {
	.newspack-action-card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 40px;

		.newspack-popover {
			.components-menu-group + .components-menu-group {
				border-top: 1px solid $light-gray-500;
			}
		}

		.newspack-grid {
			margin: 24px 0 0;
		}

		&__container {
			.newspack-button + .newspack-button {
				margin-left: 2px;
			}
		}
	}

	.newspack-text-control + .newspack-action-card {
		margin-top: -16px;
	}
}
